﻿@using WorkComp.Models
@model WorkComp.Models.AssayCodeDescription.DashboardAssayCodeDescriptionDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="assayCodeDescription-form">
    <div id="assayCodeDescription-update" style="width:100%;float: left;">
        @Html.Partial("~/Views/AssayCodeDescription/_Shared.cshtml", Model.SharedViewModel)        
    </div>
</form>

@section FooterActions
{
    @if (Model.SharedViewModel.ShowPopupType == ShowPopupType.ComboBox)
    {
        @Model.AddFooterAction("Update", "k-update", "Postbox.FOOTER_ACTION_SAVE")
        @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
    }
    else
    {
        @Model.AddFooterAction("Update", "k-update", "Postbox.FOOTER_ACTION_SAVE")
        @Model.AddFooterAction("Delete", "k-delete", "Postbox.FOOTER_ACTION_DELETE")
        @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
    }

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

<script type="text/javascript">

    function AssayCodeDescriptionViewModel() {
        var self = this;
     
        // All validation messages to the postbox for the _ValidationSummary to display.
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        Postbox.messages.subscribe(function () {
            var saveData =
                 {
                     SharedParameter: ko.toJSON(GetSharedViewModel())
                 };

            $('form').Save("/AssayCodeDescription/Update", saveData,
                function (result) {
                    self.ModelState(new FeedbackViewModel('Success', '@Model.UpdateSuccessText', "", []));
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, false, 'AssayCodeDescription', '@Model.SharedViewModel.ShowPopupType');
        }, self, Postbox.FOOTER_ACTION_SAVE);
        
        Postbox.messages.subscribe(function () {
            $('form').Close(1);
        }, self, Postbox.FOOTER_ACTION_CLOSE);
        
        //Postbox.messages.subscribe(function () {
        //    CreateLoading();
        //    ShowPopupKendoNoIframe('Delete', 500, 350, true, ["Close"], false, '/AssayCodeDescription/InformationConcerning?id=' + GetSharedViewModel().Id());
        //}, self, Postbox.FOOTER_ACTION_DELETE);


        //Postbox.messages.subscribe(function () {
        //    var id = GetSharedViewModel().Id();
        //    var delModel = { models: '[{ "Id": ' + id + ' }]' };
        //    console.log(delModel);

        //}, null, Postbox.INFORMATION_CONCERNING_OK);
        Postbox.messages.subscribe(function () {
            var id = GetSharedViewModel().Id();
            var delModel = { models: '[{ "Id": ' + id + ' }]' };
            $('form').Delete("/AssayCodeDescription/Delete", delModel, '@Model.ConfirmationRequiredText', '@Model.ConfirmDeleteText', '@Model.NoText', '@Model.YesText',
           function (result) {
               self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
           });
        }, self, Postbox.FOOTER_ACTION_DELETE);
        function del(delModel) {
           
        }
    }
  
    ko.applyBindings(new AssayCodeDescriptionViewModel(), $("#assayCodeDescription-update")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
   
</script>
