/*!
* jquery.fixheadertable
*
* Copyright (c) 2010 Benjamin Léouzon
* http://www.tablefixedheader.com/
*
* Licensed under MIT
* http://www.opensource.org/licenses/mit-license.php
*
* Launch  : December 2010
* Version : 2.0
*/

/* CALCULATE SCROLLBAR WIDTH */

p.t_fixed_header_scroll_inner {
	width			: 100%;
	height			: 200px;
}

div.t_fixed_header_scroll_outer {
	top 			: 0;
	left 			: 0;
	visibility 		: hidden;
	width 			: 200px;
	height 			: 150px;
	overflow 		: hidden;
}

/* BASE */

div.t_fixed_header {
	position		: relative;
	margin 			: 0; 
	width			: 100%;
}

div.t_fixed_header * {
	margin			: 0;
	padding			: 0;
}

div.t_fixed_header table.head {
	position		: relative;	
}

div.t_fixed_header table {
	width			: 100%;
	table-layout 	: fixed;
	empty-cells 	: show;
	border-spacing	: 0;
}

div.t_fixed_header table.headtable td.fillScrollbar {
	font-size		: 0px;
	-o-text-overflow: inherit; /* IE TRAFF */
	text-overflow 	: inherit; /* IE TRAFF */
}

div.t_fixed_header tr th, div.t_fixed_header tr td {
	overflow		: hidden;
	white-space		: nowrap;	
	-o-text-overflow: ellipsis;
	text-overflow 	: ellipsis;
}

div.t_fixed_header.t_fixed_header_wrap tr th, div.t_fixed_header.t_fixed_header_wrap tr td {
	white-space		: normal;
}

div.t_fixed_header div.body {
	padding			: 0;
	width			: 100%;
	overflow-x		: auto;
}

div.t_fixed_header_main_wrapper {
	position 		: relative; 
	overflow 		: hidden; 
}

div.t_fixed_header_main_wrapper_child {
	position 		: relative; 
	width 			: 100% 
}

/* BASE THEME : UI */

div.t_fixed_header_main_wrapper.ui {
	border-width 	: 1px 1px 1px 1px;
	border-style 	: solid;
	font-weight		: normal;
	font-size		: 11px;
}


div.t_fixed_header_main_wrapper.ui  div.t_fixed_header_caption {
	text-align		: center;
	font-weight		: bold;
	padding			: 0 5px;
	height			: 30px;
	line-height		: 30px;
	border-width 	: 0 0 1px 0;
	border-style 	: solid;
    background:#EAEAEA !important;
    border-bottom:1px solid #ddd  !important;
}
    div.t_fixed_header_main_wrapper.ui  div.t_fixed_footer {
        	text-align		: center;
	font-weight		: bold;
	padding			: 0 5px;
	height			: 30px;
	line-height		: 30px;
	border-width 	: 0 0 1px 0;
	border-style 	: solid;
    color:#094AB2;
    background:#F8F2EC !important;
    border-top:1px solid #dcdcdc !important;
    }
div.t_fixed_header_main_wrapper.ui  div.t_fixed_header_caption.toggle {
	border-width 	: 0;	
}

div.t_fixed_header div.headtable {
	border			: 0;	
	overflow-x		: hidden;
    overflow-y		: auto;
}

div.t_fixed_header.ui .body {
	border-width 	: 1px 0 0 0;
	border-style 	: solid;
	background-image : none;
	border-color:#ccc;
}

div.t_fixed_header.ui .headtable th {
	padding			: 5px;
	text-align 		: center;
	border-width 	: 0 1px 0 0;
	border-style 	: solid;
}

div.t_fixed_header.ui .headtable .hover {
	cursor			: pointer;
	height			: 16px;
}

div.t_fixed_header.ui .headtable th span.ui-resize {
	background		: transparent;
	cursor			: col-resize;
	display			: inline;
	float			: right;
	height			: 20px;
	margin			: -3px -5px -5px 0;
	width			: 5px;
	z-index			: 10000;
}

div.t_fixed_header.ui div.ui-resize-ghost {
	display 		: none; 
	position 		: absolute; 
	top 			: 0; 
	width 			: 2px; 
	border			: none;
}

div.t_fixed_header.ui .body tr {
	border			: 0px;
	border-bottom:1px solid #ccc;
}
    div.t_fixed_header.ui .body tr.active,div.t_fixed_header.ui .body tr:hover {
        background:#F8F2EC !important;cursor:pointer;
    }
    div.t_fixed_header.ui .body tr.move {
        background:#FFE5C6!important;cursor:pointer;color:white!important;
    }
    div.t_fixed_header.ui .body tr.ui-state-active {
        font-weight:normal !important;
        background:#F2F5F6;
    }
div.t_fixed_header.ui .body td {
	padding			: 5px;
	line-height		: 15px;
}

div.t_fixed_header.ui .body tr td {
	border-width 	: 0 1px 1px 0;
	border-style 	: solid;
	background		: none;
}

div.t_fixed_header.ui .body tr:last-child td {
	border-bottom-width : 1px;
}

div.t_fixed_header.ui.default .headtable th:last-child, div.t_fixed_header.ui.default .body td:last-child  {
	border-right-width : 0px;
}

div.t_fixed_header.ui .body td.last_td, div.t_fixed_header.ui .headtable th.last_td {
	border-right-width : 0px;
}

div.t_fixed_header_main_wrapper.ui div.pager {
	border-width	: 0 0 0 0;
	padding			: 4px 2px 2px 3px;
	overflow		: hidden;
	background-image: none;
}

div.t_fixed_header_main_wrapper.ui div.pager .button {
	float			: right;
	padding			: 4px 0;
	cursor			: pointer;
}

div.t_fixed_header_main_wrapper.ui div.pager .button.noborder {
	border-right-width : 0px;
}

div.t_fixed_header_main_wrapper.ui div.pager .button span {
	margin			: 0 4px;
}

div.t_fixed_header_main_wrapper.ui div.pager div.page_infos {
	height			: 27px;
	line-height		: 27px;
	float			: right;
	margin-right	: 10px;
	font-weight		: normal;
}
div.t_fixed_header.ui .body .lst-task ul {
    margin:0;padding:0;
}
    div.t_fixed_header.ui .body .lst-task ul li {
        display:inline;float:left;width:100%;height:20px;line-height:20px;
    }
        div.t_fixed_header.ui .body .lst-task ul li .item-task {
            width:100%;overflow:hidden;
        }
        div.t_fixed_header.ui .body .lst-task ul li .item-task .id {
            width:10%;float:left;
        }
        div.t_fixed_header.ui .body .lst-task ul li .item-task .type {
            width:10%;float:left;
        }
        div.t_fixed_header.ui .body .lst-task ul li .item-task .assignto {
            width:20%;float:left;
        }
        div.t_fixed_header.ui .body .lst-task ul li .item-task .due {
            width:10%;float:left;
        }
        div.t_fixed_header.ui .body .lst-task ul li .item-task .unit {
            width:10%;float:left;
        }
        div.t_fixed_header.ui .body .lst-task ul li .item-task .numofunit {
            width:10%;float:left;
        }
        div.t_fixed_header.ui .body .lst-task ul li .item-task .status {
            width:10%;float:left;
        }
        div.t_fixed_header.ui .body .lst-task ul li .item-task .event {
            width:10%;float:left;
        }
        div.t_fixed_header.ui .body .lst-task ul li .id {
            width:10%;float:left;
        }
ul.ul-event {
                        margin:0;padding:0;
                    }
                        ul.ul-event li {
                            display:inline;float:left;width:12px;height:12px;background:url(../images/icon-12-12.png) no-repeat;margin-top:1px;margin-right:2px;
                        }
                          ul.ul-event li:hover {
                            display:inline;float:left;width:12px;height:12px;background:url(../images/icon-12-12-hover.png) no-repeat;margin-top:1px;margin-right:2px;
                        }
                            ul.ul-event li.delete {
                                background-position:0 0;
                            }
                            ul.ul-event li.plus {
                                background-position:0 -12px;
                            }
                            ul.ul-event li.minus {
                                background-position:0 -24px;
                            }
                            ul.ul-event li.check {
                                background-position:0 -36px;
                            }
                            ul.ul-event li.preview {
                                background-position:0 -48px;
                            }
                            ul.ul-event li.download {
                                background-position:0 -60px;
                            }
                            ul.ul-event-25-25 {
                        margin:0;padding:0;
                    }
                         ul.ul-event-25-25 li {
                            display:inline;float:left;width:25px;height:25px;background:url(../images/icon-25-25.png) no-repeat;margin-right:2px;
                        }
                            ul.ul-event-25-25 li:last-child {
                                margin-right:0;
                            }
                          ul.ul-event-25-25 li:hover {
                            display:inline;float:left;width:25px;height:25px;background:url(../images/icon-25-25-hover.png) no-repeat;
                        }
                          ul.ul-event-25-25 li.plus {
                            background-position:0 -50px;
                        }
                            ul.ul-event-25-25 li.case-open {
                                background-position:0 -225px;
                            }
                            ul.ul-event-25-25 li.case-close {
                                background-position:0 -200px;
                            }
                            ul.ul-event-25-25 li.task {
                                background-position:0 -250px;
                            } 
                            ul.ul-event-25-25 li.delete {
                                background-position:0 -25px;
                            } 
                            ul.ul-event-25-25 li.preview {
                                background-position:0 -325px;
                            }
                            ul.ul-event-25-25 li.save {
                                background-position:0 -150px;
                            }
                            ul.ul-event-25-25 li.new-task {
                                background-position:0 -425px;
                            } 
                            ul.ul-event-25-25 li.message {
                                background-position:0 -550px;
                            } 
                            ul.ul-event-25-25 li.note-none {
                                background-position:0 -575px;
                            } 
                            ul.ul-event-25-25 li.note {
                                background-position:0 -600px;
                            }                              
                            ul.ul-event-25-25 li.process-task {
                                background-position:0 -675px;
                            } 
                            ul.ul-event-25-25 li.completed-task {
                                background-position:0 -650px;
                            } 
                            ul.ul-event-25-25 li.none-task {
                                background-position:0 -625px;
                            } 
                            ul.ul-event-25-25 li.reset-password {
                                background-position:0 -750px;
                            }
                            ul.ul-event-25-25 li.lock {
                                background-position:0 -775px;
                            }
                            ul.ul-event-25-25 li.unlock {
                                background-position:0 -800px;
                            }
                            ul.ul-event-25-25 li.line-1 {
                                display:inline;float:left;width:36px;height:36px;background:url(../images/icon-36-36.png) no-repeat 0 0;margin-top:1px;
                            }
                             ul.ul-event-25-25 li.line-2 {
                                display:inline;float:left;width:36px;height:36px;background:url(../images/icon-36-36.png) no-repeat 0 -36px;margin-top:1px;
                            }
                                ul.ul-event-20-20 {
                        margin:0;padding:0;
                    }
                         ul.ul-event-20-20 li {
                            display:inline;float:left;width:20px;height:20px;background:url(../images/icon-20-20.png) no-repeat;
                        }
                            ul.ul-event-20-20 li.deadline {
                                background-position:0 -20px;
                            }
                             ul.ul-event-20-20 li.start {
                                background-position:0 -40px;
                            }

            .tbl-footer {
              width:100%; height:22px;line-height:22px;background:url(../images/bg-tool.gif) repeat-x;padding:4px 0;float:left;
            }
                .tbl-footer ul.left {
                    margin:0;padding:0;margin-left:4px;float:left;
                }
                    .tbl-footer ul.left li {
                        display:inline;float:left;list-style:none;
                    }
                        .tbl-footer ul.left li.filter {
                            width:21px;height:21px;line-height:21px; background:url(../images/quick-filter-icon.gif) no-repeat 0 0;
                        }
                        .tbl-footer ul.left li.filter:hover {
                           background-position:0 -21px;cursor:pointer;
                        }
                        .tbl-footer ul.left li.filter:active {
                            background-position:0 -42px;
                        }
                        .tbl-footer ul.left li.filter:disabled {
                            background-position: 0 -63px;
                        }
                        .tbl-footer ul.left li.filter-quick {
                            width:20px;height:21px;background:url(../images/quick-filter-icon.gif) no-repeat -21px 0;
                        }
                        .tbl-footer ul.left li.filter-quick:hover {
                            background-position:-21px -21px;cursor:pointer;
                        }
                        .tbl-footer ul.left li.filter-quick:active {
                            background-position:-21px -42px;
                        }
                        .tbl-footer ul.left li.filter-quick:disabled {
                            background-position:-21px -63px;
                        }
                        .tbl-footer ul.left li.delete-filter {
                            width:21px;height:21px;background:url(../images/quick-filter-icon.gif) no-repeat -41px 0;margin-left:4px;display:none;
                        }
                        .tbl-footer ul.left li.delete-filter:hover {
                            background-position:-41px -21px;cursor:pointer;
                        }
                        .tbl-footer ul.left li.delete-filter:active {
                            background-position:-41px -42px;
                        }
                        .tbl-footer ul.left li.delete-filter:disabled {
                            background-position:-41px -63px;
                        }
                        .tbl-footer ul.left li.conner-content-filter {
                            background:url(../images/bg-quick-filter-conner.gif) no-repeat;height:21px;width:2px;margin-left:10px;display:none;
                        }
                        .tbl-footer ul.left li.content-filter {
                            height:13px;line-height:13px;background-color: #FFFFFF;border-color: #CCD9E2;border-style: solid none;border-width: 1px;color: #FE840D;cursor: pointer;display: inline;padding: 3px 6px 3px 4px;vertical-align: middle;display:none;overflow:hidden;
                        }
                         .tbl-footer ul.left li.delete-content-filter {
                            width:21px;height:21px;background:url(../images/quick-filter-icon.gif) no-repeat -62px 0;display:none;
                        }
                        .tbl-footer ul.left li.delete-content-filter:hover {
                            background-position:-62px -21px;cursor:pointer;
                        }
                        .tbl-footer ul.left li.delete-content-filter:active {
                            background-position:-62px -42px;
                        }
                        .tbl-footer ul.left li.delete-content-filter:disabled {
                            background-position:-62px -63px;
                        }
                
                    .tbl-footer ul.right {
                    margin:0;padding:0;margin-left:4px;float:right;
                }
                    .tbl-footer ul.right li {
                        display:inline;float:left;
                    }
                 .tbl-footer ul.right li.refresh {
                            width:22px;height:22px;line-height:22px; background:url(../images/footer-icons.gif) no-repeat 0 0;
                        }
                        .tbl-footer ul.right li.refresh:hover {
                           background-position:0 -22px;cursor:pointer;
                        }
                        .tbl-footer ul.right li.refresh:active {
                            background-position:0 -45px;
                        }
                        .tbl-footer ul.right li.refresh:disabled {
                            background-position: 0 -67px;
                        }
                 .tbl-footer ul.right li.sumary {
                            width:22px;height:22px;line-height:22px; background:url(../images/footer-icons.gif) no-repeat -22px 0;
                        }
                        .tbl-footer ul.right li.sumary:hover {
                           background-position:-22px -22px;cursor:pointer;
                        }
                        .tbl-footer ul.right li.sumary:active {
                            background-position:-22px -44px;
                        }
                        .tbl-footer ul.right li.sumary:disabled {
                            background-position: -22px -66px;
                        }
                 .tbl-footer ul.right li.download {
                            width:22px;height:22px;line-height:22px; background:url(../images/footer-icons.gif) no-repeat -44px 0;
                        }
                        .tbl-footer ul.right li.download:hover {
                           background-position:-44px -22px;cursor:pointer;
                        }
                        .tbl-footer ul.right li.download:active {
                            background-position:-44px -45px;
                        }
                        .tbl-footer ul.right li.download:disabled {
                            background-position: -44px -67px;
                        }
                 .tbl-footer ul.right li.device {
                            width:2px;height:19px;line-height:19px; background:url(../images/bg-footer-device.gif) no-repeat;margin:0 5px;
                        }
                 .tbl-footer ul.right li.first {
                            width:22px;height:22px;line-height:22px; background:url(../images/footer-icons.gif) no-repeat -88px 0;
                        }
                        .tbl-footer ul.right li.first:hover {
                           background-position:-88px -22px;cursor:pointer;
                        }
                        .tbl-footer ul.right li.first:active {
                            background-position:-88px -45px;
                        }
                        .tbl-footer ul.right li.first:disabled {
                            background-position: -88px -67px;
                        }
                 .tbl-footer ul.right li.pre {
                            width:22px;height:22px;line-height:22px; background:url(../images/footer-icons.gif) no-repeat -110px 0;
                        }
                        .tbl-footer ul.right li.pre:hover {
                           background-position:-110px -22px;cursor:pointer;
                        }
                        .tbl-footer ul.right li.pre:active {
                            background-position:-110px -45px;
                        }
                        .tbl-footer ul.right li.pre:disabled {
                            background-position: -110px -67px;
                        }
                 .tbl-footer ul.right li.curr-page {
                            width:auto;
                        }
                    .tbl-footer ul.right li.curr-page .txt-page {
                        border:none;width:29px;height:17px;line-height:17px; text-align:center; background:url(../images/bg-curr-page.gif) no-repeat;margin-top:1px;font:12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
                    }
                 .tbl-footer ul.right li.next {
                            width:22px;height:20px;line-height:20px; background:url(../images/footer-icons.gif) no-repeat -132px 0;
                        }
                        .tbl-footer ul.right li.next:hover {
                           background-position:-132px -22px;cursor:pointer;
                        }
                        .tbl-footer ul.right li.next:active {
                            background-position:-132px -45px;
                        }
                        .tbl-footer ul.right li.next:disabled {
                            background-position: -132px -67px;
                        }
                 .tbl-footer ul.right li.last {
                            width:22px;height:22px;line-height:22px; background:url(../images/footer-icons.gif) no-repeat -154px 0;
                        }
                        .tbl-footer ul.right li.last:hover {
                           background-position:-154px -22px;cursor:pointer;
                        }
                        .tbl-footer ul.right li.last:active {
                            background-position:-154px -45px;
                        }
                        .tbl-footer ul.right li.last:disabled {
                            background-position: -154px -67px;
                        }
.table {
    border-spacing:0;
    border-collapse:collapse;
}
.table .tr-header {
    height:24px;padding:6px;line-height:24px; background:url(../images/bg-footer.gif) repeat-x;border-bottom:1px solid #C7D3DE;border-top:1px solid #C7D3DE;
}
.table .tr-header th{
    margin:0;padding:0;
}
.table td {
    border-right:1px solid #09509B;border-bottom:1px solid #09509B;margin:0;padding:0;
}
.table.noborder td {
    border-right:1px solid #D2D7DC;border-bottom:1px solid #D2D7DC;margin:0;padding:0;
}
        .table .item1.month1 {
            width:110px;height:100px;background:url(../images/month/1.png) no-repeat 50% 50%;
        }
         .table .item1.month2 {
            width:110px;height:100px;background:url(../images/month/2.png) no-repeat 50% 50%;
        }
          .table .item1.month3 {
            width:110px;height:100px;background:url(../images/month/3.png) no-repeat 50% 50%;
        }
           .table .item1.month4 {
            width:110px;height:100px;background:url(../images/month/4.png) no-repeat 50% 50%;
        }
            .table .item1.month5 {
            width:110px;height:100px;background:url(../images/month/5.png) no-repeat 50% 50%;
        }
             .table .item1.month6 {
            width:110px;height:100px;background:url(../images/month/6.png) no-repeat 50% 50%;
        }
              .table .item1.month7 {
            width:110px;height:100px;background:url(../images/month/7.png) no-repeat 50% 50%;
        }
               .table .item1.month8 {
            width:110px;height:100px;background:url(../images/month/8.png) no-repeat 50% 50%;
        }
                .table .item1.month9 {
            width:110px;height:100px;background:url(../images/month/9.png) no-repeat 50% 50%;
        }
                 .table .item1.month10 {
            width:110px;height:100px;background:url(../images/month/10.png) no-repeat 50% 50%;
        }
                  .table .item1.month11 {
            width:110px;height:100px;background:url(../images/month/11.png) no-repeat 50% 50%;
        }
                   .table .item1.month12 {
            width:110px;height:100px;background:url(../images/month/12.png) no-repeat 50% 50%;
        }
    .table .item:hover {
        background:#F8F2EC;cursor:pointer;
    }
    .table .item.active {
        background:#FE840D;color:white;
    }
    .table.noborder tr:last-child td {
        border-bottom:none;
    }
    .table.noborder td:last-child {
        border-right:none;
    }
    .connectedSortable tr, .ui-sortable-helper {
    cursor: move !important;
}
.connectedSortable tr:first-child {
    cursor: default;
}
