﻿@model WorkComp.Models.Date.DatetimeRangePickerViewModel
<td>
    <div class="k-edit-label">
        <label for="@Model.LabelStart">@if (Model.RequiredAttribute == "required=\"required\"")
                              {
                                  <span class='red'>*</span>
                              }@Model.LabelStart</label>
    </div>
    <div class="k-edit-field @(Model.ReadOnly==true?"readonly":"")" data-container-for="@Model.LabelStart">
        <input id="@Model.IDStart" type="text"  class="@Model.Class" @Model.RequiredAttribute
               data-bind="value: @Model.DataBindingValueStart"  />

    </div>
</td>
<td>
    <div class="k-edit-label">
        <label for="@Model.LabelEnd">@if (Model.RequiredAttribute == "required=\"required\"")
                              {
                                  <span class='red'>*</span>
                              }@Model.LabelEnd</label>
    </div>
    <div class="k-edit-field" data-container-for="@Model.LabelEnd">
        <input id="@Model.IDEnd" type="text"  class="@Model.Class" @Model.RequiredAttribute
               data-bind="value: @Model.DataBindingValueEnd"  />

    </div>
</td>

<script>
    $(document).ready(function () {
        var idStart = '@Model.IDStart';
        var idEnd = '@Model.IDEnd';
        var format = '@Model.Format';
        var idStartValControl = '#' + idStart;
        var idEndValControl = '#' + idEnd;

        var firstDate = null;
        var secondDate = null;
        function startChange() {
            if (start.value() == null) {
                start.value(firstDate);
            } else {
                firstDate = start.value();
            }
            
            var startDate = start.value(),
            endDate = end.value();
            
            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            if (end.value() == null) {
                end.value(secondDate);
            }
            else {
                secondDate = end.value();
            }
            var endDate = end.value(),
            startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        var today = kendo.date.today();

        var typeControl = '@(Model.HasTime? "kendoDateTimePicker": "kendoDatePicker")';
        var start, end;
        if (typeControl == "kendoDatePicker") {
            start = $(idStartValControl).kendoDatePicker({
                value: '',
                change: startChange,
                format: format,
                open: function () {
                    firstDate = this.value();
                },
                //parseFormats: [format]
            }).data(typeControl);

            end = $(idEndValControl).kendoDatePicker({
                value: '',
                change: endChange,
                format: format,
                open: function() {
                    secondDate = this.value();
                },
                //parseFormats: [format]
            }).data(typeControl);

            start.max(end.value());
            end.min(start.value());
            firstDate = start.value();
            secondDate = end.value();
        }
        else
        {
            start = $(idStartValControl).kendoDateTimePicker({
                value: '',
                change: startChange,
                format: format,
                open: function () {
                    firstDate = this.value();
                },
                //parseFormats: [format]
            }).data(typeControl);

            end = $(idEndValControl).kendoDateTimePicker({
                value: '',
                change: endChange,
                format: format,
                open: function () {
                    secondDate = this.value();
                },
                //parseFormats: [format]
            }).data(typeControl);

            start.max(end.value());
            end.min(start.value());
            firstDate = start.value();
            secondDate = end.value();
        }
        
    });
</script>
