﻿@model IEnumerable<Framework.DomainModel.ReportValueObject.UtilizationByJurisdictionVo>
@if (Model != null && Model.Count() > 0)
{
    <table>
        <tr>
            <td colspan="9">
                <img src="https://sysrx.sterlinghealthcaresvcs.com/Content/images/logo.png" alt="Sterling" /></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9" align="center">
                <h2>UTILIZATION BY JURISDICTION WITH RISK CLASSIFICATION</h2>
            </td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td>Payer(s): </td>
            <td colspan="2"><b>@HttpUtility.HtmlDecode(Model.FirstOrDefault().PayerName)</b></td>
            <td colspan="6"></td>
        </tr>
        @*<tr>
            <td>Address:  </td>
            <td colspan="2"><b>@HttpUtility.HtmlDecode(Model.FirstOrDefault().PayerAddress)</b></td>
            <td colspan="6"></td>
        </tr>*@
        <tr>
            <td>Date range: </td>
            <td align="left" colspan="2"><b>@(Model.FirstOrDefault().DateFrom != null ? ((DateTime)Model.FirstOrDefault().DateFrom).ToString("MM/dd/yyyy") : "") - @(Model.FirstOrDefault().DateTo != null ? ((DateTime)Model.FirstOrDefault().DateTo).ToString("MM/dd/yyyy") : "")</b></td>

            <td colspan="6"></td>
        </tr>
        <tr>
            <td>Report date: </td>
            <td align="left" colspan="2"><b>@DateTime.Now.ToString("MM/dd/yyyy")</b></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
    </table>
    <table class='table' cellpadding="0" cellspacing="0" style="border-top: 1px solid #dcdcdc; border-left: 1px solid #dcdcdc;width: 1800px;">
        <thead>

            <tr style="background: #eaeaea;">
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;" colspan="2"></th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;" colspan="3">Completed Tests</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;" colspan="2">Results Ratio</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;" colspan="3"></th>
            </tr>
            <tr style="background: #eaeaea;">
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">Payer</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">Jurisdiction</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">Total</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">% of High Risk claimants</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">% of Medium Risk Claimants</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">% of Low Risk claimants</th>
            </tr>
        </thead>
        <tbody>
            @{
                int? idJurisdictionOld = null;
    foreach (var row in Model.Select(o => new {o.IdJurisdiction, o.PayerName, o.Jurisdiction,o.ConsistentCompletedTests, o.InConsistentCompletedTests, o.TotalCompletedTests, o.ConsistentResultsRatio, o.InConsistentResultsRatio, o.HightRisk, o.MediumRisk, o.LowRisk }).Distinct())
    {
        if (row.IdJurisdiction != idJurisdictionOld)
        {
            idJurisdictionOld = row.IdJurisdiction;
            <tr>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.PayerName)</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@row.Jurisdiction</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@row.ConsistentCompletedTests</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@row.InConsistentCompletedTests</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@row.TotalCompletedTests</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(row.ConsistentResultsRatio.ToString().IndexOf('.')>=0?row.ConsistentResultsRatio.ToString():row.ConsistentResultsRatio.ToString()+".0")%</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(row.InConsistentResultsRatio.ToString().IndexOf('.')>=0?row.InConsistentResultsRatio.ToString():row.InConsistentResultsRatio.ToString()+".0")%</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(row.HightRisk.ToString().IndexOf('.')>=0?row.HightRisk.ToString():row.HightRisk.ToString()+".0")%</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(row.MediumRisk.ToString().IndexOf('.')>=0?row.MediumRisk.ToString():row.MediumRisk.ToString()+".0")%</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(row.LowRisk.ToString().IndexOf('.')>=0?row.LowRisk.ToString():row.LowRisk.ToString()+".0")%</td>
            </tr>
        }
    }
            }
        </tbody>
    </table>
}
else
{
    <p>No data</p>
}