﻿@using Framework.DomainModel.EmailTemplateValueObject
@model RequestForAuthorizationVo
@{
    ViewBag.Title = "";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>&nbsp;</p>
    <div style="background: #F2F2F2; padding: 100px;">
        <div style="background: #fff; padding: 50px; border-radius: 50px 0 0 0;">
            <p><img src="@Model.UrlLogo" alt="logo" /></p>
            <p>@Model.DateNow</p>
            <table style="height: 166px; width: 700px;" border="0" width="353" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 350px;" valign="top">
                            <p>@Model.AdjusterName</p>
                            <p>@Model.PayerName</p>
                            <p>@Model.PayerAddress</p>
                            <p>@Model.PayerStateCityZip</p>
                        </td>
                        <td valign="top">
                            <p>Sterling Healthcare Services, Inc.</p>
                            <p>789 Park Ave</p>
                            <p>Huntington NY 11743</p>
                            <br />
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;<strong>RE: Request for Authorization</strong></p>
            <p>Dear <strong>@Model.AdjusterName</strong>:</p>
            <p>We have received a request from your Pharmacy Benefits Management partner requesting drug testing for claimant @Model.ClaimantName. @Model.PayerName&rsquo;s protocols require that we obtain authorization before proceeding with coordinating the requested testing.</p>
            <p>Please respond to this request so we may proceed with the processing of this request.</p>
            <p><strong>Patient Information:</strong></p>
            <table style="width: 700px;" border="1" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td>
                            <p><strong>Patient Name</strong></p>
                        </td>
                        <td colspan="6">
                            <p>@Model.ClaimantName</p>
                        </td>
                        <td colspan="3">
                            <p><strong>Phone</strong></p>
                        </td>
                        <td colspan="4">
                            <p>@Model.ClaimantPhone</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Address</strong></p>
                        </td>
                        <td colspan="2">
                            <p>@Model.ClaimantAddress</p>
                        </td>
                        <td>
                            <p><strong>City</strong></p>
                        </td>
                        <td colspan="2">
                            <p>@Model.ClaimantCity</p>
                        </td>
                        <td colspan="3">
                            <p><strong>State</strong></p>
                        </td>
                        <td colspan="2">
                            <p>@Model.ClaimantState</p>
                        </td>
                        <td colspan="2">
                            <p><strong>Zip</strong></p>
                        </td>
                        <td>
                            <p>@Model.ClaimantZip</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Claim</strong></p>
                        </td>
                        <td>
                            <p>@Model.ClaimNumber</p>
                        </td>
                        <td colspan="2">
                            <p><strong>Date of Injury<br /></strong></p>
                        </td>
                        <td>
                            <p>@Model.ClaimNumberDoi</p>
                        </td>
                        <td colspan="3">
                            <p><strong>Jurisdiction</strong></p>
                        </td>
                        <td colspan="2">
                            <p>@Model.Jurisdiction</p>
                        </td>
                        <td colspan="2">
                            <p><strong>Date of Birth<br /></strong></p>
                        </td>
                        <td colspan="2">
                            <p>@Model.ClaimantDob</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;<strong>Service Requested:</strong></p>
            <table style="width: 700px;" border="1" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td>
                            <p>Description of Service Requested</p>
                        </td>
                        <td>
                            <p>@Model.ServiceRequest</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><strong>Request Authorized? </strong></p>
            <table style="width: 700px;" border="1" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td><a href="@Model.LinkYesHref">Yes</a></td>
                        <td>Approved By Initials:</td>
                    </tr>
                    <tr>
                        <td>No</td>
                        <td>
                            <p>Reason:</p>
                            Initials:
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><br />Please contact Sterling Healthcare Services&rsquo; customer service department at (855) 895-8099 with any questions or send your response directly to&nbsp;<a href="mailto:RXTEST@sterlinghealthcaresvcs.com">RXTEST@sterlinghealthcaresvcs.com</a></p>
            <p>Sincerely,</p>
            <p>@Model.AssignTo</p>
            <p>Customer Service Representative</p>
            <p>Sterling Healthcare Services</p>
        </div>
    </div>
</body>
</html>
