﻿@model WorkComp.Models.InformationConcerningWhenDelete1Function.DashboardInformationConcerningViewModel
@{
    Layout = null;
}
<!-- ko stopBinding: true -->
<div style="height: 350px;" id="window-information-concerning-content">
    <div id="window-information-concerning-data" style="margin-top: 10px; margin-bottom: 45px; height: 254px; overflow-y: auto;">
        <p>@Model.Title</p>
        <ul>
            @foreach (var data in Model.InformationConcernings)
            {
                <li>
                    @data.Key
                    <ul>
                        @foreach (var item in data.Value)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div style="background-color: #f2f2f2; border-top: 1px solid #dcdcdc; height: 40px; line-height: 40px;  width: 100%;">
        <button class="k-button" style="float: right; margin-top: 7px; margin-left: 7px; margin-right: 5px;" data-bind="click: ClickCancel"><span class="fa fa-times"></span>&nbsp;Cancel</button>
        <button class="k-button" style="float: right; margin-top: 7px; margin-left: 7px" data-bind="click: ClickOk"><span class="fa fa-check"></span>&nbsp;OK</button>
    </div>
</div>
<!-- /ko -->



<script type="text/javascript">
    function InformationConcerning(elementBinding) {
        var self = this;
        self.ElementBinding = $(elementBinding);
        self.ClickCancel = function() {
            if (!_.isUndefined(self.ElementBinding.parent('div').data('kendoWindow'))) {
                self.ElementBinding.parent('div').data('kendoWindow').close();
            }
        }
        self.ClickOk = function () {
            Postbox.messages.notifySubscribers(null, Postbox.INFORMATION_CONCERNING_OK);
        };
    }
    // This allows us to have nested bindings.
    var informationConcerning = new InformationConcerning('#window-information-concerning-content');
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    ko.applyBindings(informationConcerning, $("#window-information-concerning-content")[0]);


    $(document).ready(function() {
        DeleteLoading();
    });
</script>
