﻿@charset "UTF-8";

@font-face {
  font-family: "workcomp";
  src:url("fonts/workcomp.eot");
  src:url("fonts/workcomp.eot?#iefix") format("embedded-opentype"),
    url("fonts/workcomp.woff") format("woff"),
    url("fonts/workcomp.ttf") format("truetype"),
    url("fonts/workcomp.svg#workcomp") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "workcomp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-size: 1.2em;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "workcomp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-size: 1.2em;
}
.icon-fontawesome-webfont:before {
  content: "a";
}
.icon-fontawesome-webfont-1:before {
  content: "b";
}
.icon-unlock:before {
  content: "c";
}
.icon-lock-secure-1:before {
  content: "d";
}
.icon-plus:before {
  content: "f";
}
.icon-unlocked:before {
  content: "c";
}
.icon-lock:before {
  content: "d";
}
.icon-key:before {
  content: "g";
}
.icon-cross-mark:before {
  content: "e";
}

.icon-error:before {
  content: "a";
}
.icon-success:before {
  content: "b";
}

.km-icon:after,.km-icon:before
{
    font: 1em/1em "workcomp";
}

.km-locked:after,.km-locked:before
{
    content: "d";
}

.km-ulocked:after,.km-ulocked:before
{
    content: "c";
}