﻿html,body {
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
	background: #F6F9FA;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
img {
    border:none;
}
.red {
	color: red !important;
}

.orange *{
	color: #fcab5d !important;
}

.gray {
	color: #ccc !important;
}

.underline {
	text-decoration:underline;
}
.bold {
	font-weight: bold !important;
}
.span-lock {
   font-size:8px;
   display:none;
   position:absolute;
   margin-top:-16px;
   margin-left:-14px;
}
.lock:hover .span-lock {
    display:block;
}
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.textbox {
     border: medium none;vertical-align: middle;width: 100%;background:#FFFFFF;height: 23px;line-height:23px;border:1px solid #D2D7DC;overflow: hidden;font:12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}
.datebox {
     border: medium none;vertical-align: middle;width: 100%; background:url(images/icon-datebox.png) no-repeat #FFFFFF;background-position: top right;height: 18px;line-height:18px;border:1px solid #D2D7DC;overflow: hidden;font:12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}
.row-per-page {
    border:1px solid #CCD9E2;border-radius:3px;
}
.none-border {
    border:none !important;
}
.browsebox {
	border: medium none;
	vertical-align: middle;
	width: 100%;
	line-height: 23px;
	border: 1px solid #D2D7DC;
	overflow: hidden;
	position: relative;
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}
    .browsebox ul {
        margin:0;
        padding:0;        
    }
        .browsebox ul li {
            display:inline;
            float:left;
            background-color: #EEEEEE;
            border-radius: 20px;
            list-style-type: none;
            margin: 2px 3px 0;
        }
        .browsebox ul li .name {
    color: #000000;
    cursor: default;
    display: block;
    float: left;
    line-height: 20px;
    margin-left: 5px;
    max-width: 77px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
        .browsebox ul li a.delete {
    background: url("images/icon-close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 12px;
    margin: 5px 5px 0 4px;
    overflow: hidden;
    text-indent: -100px;
    vertical-align: middle;
    width: 12px;
}
            .browsebox ul li a.delete:hover {
                background: url("images/icon-close.gif") no-repeat 0 -13px;
            }
            .browsebox ul li.find {
                margin:0;
        padding:0;  
            }
            .browsebox ul li.find .textbox {
                border:none !important;
            }
            .browsebox ul li.find .textbox:focus {
                box-shadow:none !important;
                -webkit-box-shadow:none !important;
                border:none !important;
            }
.browse-icon {
        background: url(images/browse-icon.png) no-repeat right;
        cursor:pointer;
        width:23px;
        height:23px;
        float:right;
        border-left:1px solid #dcdcdc;
    }
    .browse-icon:hover {
        background: url(images/browse-hover-icon.png) no-repeat right;
        cursor:pointer;
    }
.file {
	border: medium none;
	vertical-align: middle;
	width: 100%;
	background-color: #FFFFFF;
	height: 23px;
	line-height: 23px;
	border: 1px solid #D2D7DC;
	overflow: hidden;
	position: relative;
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.textbox-disabled {
	border: medium none;
	vertical-align: middle;
	width: 100%;
	background-color: #EBEFF5;
	height: 18px;
	line-height: 18px;
	border: 1px solid #D2D7DC;
	overflow: hidden;
	position: relative;
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}
.selectbox-none {
     border: medium none;vertical-align: middle;width: 100%;background:#FFFFFF;background-position:top right;border:1px solid #D2D7DC;height: 23px;line-height:23px;overflow: hidden;font:12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}
.selectbox {
     border: medium none;vertical-align: middle;width: 100%;background:url(images/icon-selectbox.png) no-repeat #FFFFFF;background-position:top right;border:1px solid #D2D7DC;height: 23px;line-height:23px;overflow: hidden;font:12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;padding-right:33px;
}
.searchbox {
	border: medium none;
	vertical-align: middle;
	width: 100%;
	background-color: #FFFFFF;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.textarea {
	border: medium none;
	vertical-align: middle;
	width: 100%;
	background-color: #FFFFFF;
	height: 50px;
	border: 1px solid #D2D7DC;
	overflow: hidden;
	position: relative;
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.textbox:focus,.selectbox:focus,.searchbox:focus,.textarea:focus {
	border: 1px solid #0095c8;

	-webkit-box-shadow: 0 0 10px rgba(90, 166, 237, 0.6) !important;
	box-shadow: 0 0 10px rgba(90, 166, 237, 0.6) !important;
}

.dot:before {
	color: #999999;
	content: "·";
	font-weight: bold;
	padding: 0 2px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}
    a:hover {
        color:#094AB2;
    }
.normal {
    font-weight:normal !important;
}
.hide {
	display: none !important;
}

.wrapper {
	border: none;
}

.wrapper .header {
	background-color: #eaeaea;
	height: 40px;
    border-bottom:1px solid #D9D9D9;
}

.wrapper .header .logo {
	width: 160px;
	float: left;
	height: 40px;
}

.wrapper .header .menu {
	float: left;
	margin-left: 20px;
}

.wrapper .header .menu ul {
	margin: 0;
	padding: 0;
}
    .wrapper .header .new-order {
        margin-left:600px;
        position:fixed;
        top:0;
        height:27px;
        /*line-height:27px;
        padding:0 20px;
        border-radius:0 0 3px 3px;
        border-left:1px solid #dcdcdc;
        border-right:1px solid #dcdcdc;
        border-bottom:1px solid #dcdcdc;
        background:linear-gradient(to bottom, #FDFEFE, #E8EEF3) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    }
        .wrapper .header .new-order:hover {
            background:linear-gradient(to bottom, #E8EEF3, #FDFEFE) repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
        .wrapper .header .new-order a {
            font-size:14px;
            font-weight:bold;
        }
/*First level list items******************************/
.wrapper .header .menu ul li {
	display: inline;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	position: relative;
    margin-right:1px;
}

.wrapper .header .menu ul li:hover,.wrapper .header .menu ul li.active {
	background: url(images/bg-menu-active.png) repeat-x;
}

.wrapper .header .menu ul li a {
	text-decoration: none;
	font-size: 13px;
}

.wrapper .header .menu ul li:hover a,.wrapper .header .menu ul li.active a {
	color: #094AB2;
	font-weight: bold;
}

/*Second level menu*****************************/
.wrapper .header .menu li ul {
	background-color: #fff;
	display: none;
	left: 0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 40px;
	border: 1px solid #D9D9D9;
	z-index: 9999;
}

.wrapper .header .menu li:hover ul {
	display: block;
}
.wrapper .header .menu ul li li:hover,.wrapper .header .menu ul li li.active {
	background: url(images/bg-menu-second-active.png) repeat-x;
}

/*Second level list items*******************/
.wrapper .header .menu li li {
	list-style: none;
	width: 130px;
	display: inline-block;
	border-bottom: 1px solid #dcdcdc;
}

.wrapper .header .menu li li:last-child {
	border-bottom: none;
}

/*Second level anchors*****************/
.wrapper .header .menu li li a {
	color: #000 !important;
	text-decoration: none;
    font-weight:normal !important;
}

.wrapper .header .menu li li:hover a,.wrapper .header .menu li li a:hover {
	color: #ffac00 !important;
}

.wrapper .header .account {
	float: right;
}

.wrapper .header .account ul {
	margin: 0;
	padding: 0;
}

.wrapper .header .account ul li {
	display: inline;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 5px 0 10px;
}

.wrapper .header .account ul li:hover {
	background: #eaeaea;
	cursor: pointer;
}

.wrapper .header .account ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.wrapper .header .account ul li .account-drop {
	overflow: hidden;
	margin-top: 2px;
}

.wrapper .header .account ul li .account-drop img {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
    padding:3px;
    background:#fff;    
   -moz-box-shadow:    inset 0 0 10px #aaaaaa;
   -webkit-box-shadow: inset 0 0 10px #aaaaaa;
   box-shadow:         inset 0 0 10px #aaaaaa;
}

.wrapper .header .account .account-drop .icon-caret-down {
	background: url(images/caret-down-icon.png) no-repeat;
	float: left;
	width: 15px;
	height: 30px;
}

.wrapper .header .account ul li:hover .account-drop .icon-caret-down {
	background: url(images/caret-down-icon-hover.png) no-repeat;
}
/*Second level menu*****************************/
.wrapper .header .account li ul {
	background-color: #fff;
	display: none;
	right: 0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 40px;
	border: 1px solid #D9D9D9;
	z-index: 9999;
}
.wrapper .header .account li:hover ul {
	display: block;
	width: 170px;
}
.wrapper .header .account ul li li:hover,.wrapper .header .account ul li li.active {
	background: url(images/bg-menu-second-active.png) repeat-x;
}

/*Second level list items*******************/
.wrapper .header .account li li {
	list-style: none;
	width: 170px;
	display: inline-block;
	border-bottom: 1px solid #dcdcdc;
}

.wrapper .header .account li li:last-child {
	border-bottom: none;
}

/*Second level anchors*****************/
.wrapper .header .account li li a {
	color: #000 !important;
	text-decoration: none;
    font-weight:normal !important;
}

.wrapper .header .account li li:hover a,.wrapper .header .account li li a:hover {
	color: #ffac00 !important;
}



.wrapper .main {
	overflow: hidden;
}

.wrapper .main .title {
	background: none repeat scroll 0 0 #F2F2F2;
	border-bottom: 1px solid #DCDCDC;
	color: #282829;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	height: 41px;
	overflow: hidden;
	z-index: 12;
	width: 100%;
	float: left;
}

.wrapper .main .title .my-title {
	background: url(images/breadcrumbArrow.png) no-repeat scroll right center #F7F7F7;
	display: block;
	float: left;
	height: 25px;
    line-height:25px;
	overflow: hidden;
	padding: 7px 17px 11px 2px;
	position: relative;
	text-align: left;
	white-space: nowrap;
	font-size: 13px;
	font-weight: bold;
}
    .wrapper .main .title .my-title-sub {
        display: block;
	float: left;
	height: 25px;
    line-height:25px;
	overflow: hidden;
	position: relative;
	text-align: left;
	white-space: nowrap;
	font-size: 13px;
    font-weight:bold;
    }
    .wrapper .main .title .my-title .icon {
        width:30px;float:left;
    }
        .wrapper .main .title .my-title .icon.order-close {
            background:url(images/icon-25-25.png) no-repeat 0 -200px;width:25px;height:25px;
        }
         .wrapper .main .title .my-title .icon.order-open {
            background:url(images/icon-25-25.png) no-repeat 0 -225px;width:25px;height:25px;
        }
          .wrapper .main .title .my-title .icon.task {
            background:url(images/icon-25-25.png) no-repeat 0 -250px;width:25px;height:25px;
        } 
          .wrapper .main .title .my-title .icon.admin {
            background:url(images/icon-25-25.png) no-repeat 0 -700px;width:25px;height:25px;
        }
    .wrapper .main .title .my-title .name {
        float:left;
    }
.action {
	float: right;
    margin-top:4px;
}

.action ul {
	margin: 0;
	padding: 0;
}

.action ul li {
	display: inline;
	float: left;
	width: 25px;
	height: 25px;
	background: url(images/icon-25-25.png) no-repeat;
	margin-top: 8px;
	margin-right: 5px;
}

.action ul li:hover {
	background: url(images/icon-25-25-hover.png) no-repeat;
	cursor: pointer;
}

.action ul li.check {
	background-position: 0 0px;
}

.action ul li.delete {
	background-position: 0 -25px;
}

.action ul li.plus {
	background-position: 0 -50px;
}

.action ul li.minus {
	background-position: 0 -75px;
}

.action ul li.info {
	background-position: 0 -100px;
}

.action ul li.setting {
	background-position: 0 -125px;
}

.action ul li.printer {
	background-position: 0 -350px;
}

.action ul li.download {
	background-position: 0 -375px;
}

.action ul li.email {
	background-position: 0 -400px;
}

.action ul li.alert-none {
	background-position: 0 -450px;
    margin-top:4px;
}

.action ul li.alert {
	background:url(images/alert-icon.gif) no-repeat;
    width:32px;
}

.action ul li.message-none {
	background-position: 0 -500px;
}

.action ul li.message {
	background-position: 0 -525px;
}

.action ul li.device {
	background: url(images/bg-footer-device.gif) no-repeat;
	width: 1px;
}

.wrapper .main .content {
	width: 100%;
	float: left;
	overflow: hidden;
}

.wrapper .main .content .frame {
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	margin: 2px;
	float: left;
}

.wrapper .main .content .frame .frame-header {
	width: 100%;
	height: 30px;
	line-height: 30px;
	float: left;
	background: #F2F2F2;
	border-bottom: 1px solid #DCDCDC;
}

.wrapper .main .content .frame .frame-header h2 {
	margin: 0 10px;
	font-size: 13px;
}

.wrapper .main .content .frame .frame-header .frame-header-title {
	margin: 0 10px;
	font-size: 13px;
	width: 100px;
	float: left;
}

.wrapper .main .content .frame .frame-header .action {
	float: right;
}

.wrapper .main .content .frame .frame-header .action ul {
	margin: 0;
	padding: 0;
}

.wrapper .main .content .frame .frame-header .action ul li {
	display: inline;
	float: left;
	width: 25px;
	height: 25px;
	background: url(images/icon-25-25.png) no-repeat;
	margin-top: 2px;
	margin-right: 5px;
}

.wrapper .main .content .frame .frame-header .action ul li:hover {
	background: url(images/icon-25-25-hover.png) no-repeat;
	cursor: pointer;
}

.wrapper .main .content .frame .frame-header .action ul li.plus {
	background-position: 0 -50px;
}

.wrapper .main .content .frame .frame-content {
	width: 100%;
	float: left;
}

 .frame .frame-content .frame-title {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	background: #fff;
	float: left;
}

.frame .frame-content .frame-title:first-child {
	border-top: none;
}

.wrapper .main .content .frame .frame-content .frame-title h2 {
	margin: 0;
	padding: 0;
	font-size: 13px;
	margin-left: 10px;
	color: #094AB2;
}

.frame .frame-content .frame-title .icon-down {
	background: url(images/icon-down.png) no-repeat;
	width: 30px;
	height: 12px;
	position: relative;
	margin-left: 10px;
}

.wrapper .main .content .frame .frame-content .frame-data {
	float: left;
	padding: 15px 10px;
}

.wrapper .main .content .frame .frame-content .frame-data .tbl-order-info td {
	width: 15%;
	padding: 5px 0;
}

.wrapper .main .content .frame .frame-content .frame-data .tbl-order-info td.field-name {
	background: url(images/g-dotted-line.gif) repeat-x scroll 0 17px;width:10%;
}

.wrapper .main .content .frame .frame-content .frame-data .tbl-order-info td.field-name .name {
	background: #F6F9FA;
	display: inline-block;
	padding: 0 5px 1px 0;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions {
	border-top: 1px dotted #CCCCCC;
	margin: 10px 0;
	width: 100%;
	float: left;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul {
	margin: 10px 0 0;
	padding: 0;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li {
	display: inline;
	width: 100%;
	float: left;
	padding: 10px 0;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li.second {
	display: inline;
	width: 100%;
	float: left;
	background: #f2f2f2;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li.reply {
	background: #EBF4FB;
	border-bottom: 1px solid #fff;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li.reply:last-child {
	border-bottom: none;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li .avatar {
	border-radius: 50%;
	display: block;
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 8px;
	position: relative;
	z-index: 1;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li .post-user-data {
	width: 90%;
	min-height: 50px;
	float:left;
	position: relative;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li .post-user-data h4 {
	margin: 0;
	padding: 0;
	color: #094AB2;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li .post-user-data .post-content {
	margin: 5px 0;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li .post-user-data .post-item-action ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li .post-user-data .post-item-action ul li {
	display: inline;
	float: left;
	padding: 0 5px;
	width: auto;
	line-height: 20px;
}

.wrapper .main .content .frame .frame-content .frame-data .list-discussions ul li .post-user-data .post-item-action ul li a {
	color: #094AB2;
}

#inputText {
	height: 30px;
}

.wrapper .main .content .message-box {
	position: absolute;
	visibility: visible;
	top: 50%;
	left: 50%;
}

.wrapper .main .content .message-box .shadow {
	display: block;
	z-index: 15000;
	background: none repeat scroll 0 0 #CAD5DF;
	overflow: hidden;
	position: absolute;
	padding: 0 2px 2px 0;
}

.wrapper .main .content .message-box .content-box {
	text-align: left;
	z-index: 14999;
	background: none repeat scroll 0 0 #F6F9FA;
	border: 1px solid #B7BDC4;
}

.wrapper .main .content .message-box .content-box .title {
	background: none repeat scroll 0 0 #FBFDFE;
	border-bottom: 1px solid #C7D3DE;
	color: #094AB2;
	font-weight: bold;
	height: 13px;
	line-height: 13px;
	padding: 6px 3px 6px 5px;
}

.wrapper .main .content .message-box .content-box .title h3 {
	width: 90%;
	float: left;
	margin: 0;
	padding: 0;
}

.wrapper .main .content .message-box .content-box .title .icon-delete {
	float: right;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	display: table-cell;
	background: url(images/icon-close.gif) no-repeat 0 0;
}

.wrapper .main .content .message-box .content-box .title .icon-delete:hover {
	cursor: pointer;
}

.wrapper .main .content .message-box .content-box .title {
	float: left;
}

.wrapper .main .content .message-box .content-box .content-message {
	padding: 5px;
	float: left;
}

.wrapper .main .content .message-box .content-box .footer-message {
	height: 24px;
	padding: 6px;
	background: #F2F2F2;
	border-top: 1px solid #C7D3DE;
	text-align: right;
	float: left;
}

.wrapper .main .content .message-box .content-box .footer-message .ok,.wrapper .main .content .message-box .content-box .footer-message .cancel {
	float: right;
}

.wrapper .main .content .message-box .content-box .footer-message .action {
	float: right;
}

.wrapper .main .content .message-box .content-box .footer-message .action ul {
	margin: 0;
	padding: 0;
}

.wrapper .main .content .message-box .content-box .footer-message .action ul li {
	display: inline;
	float: left;
	height: 25px;
	line-height: 25px;
	background: url(images/icon-25-25.png) no-repeat;
	margin-top: 0px;
	margin-right: 5px;
	padding-left: 25px;
}

.wrapper .main .content .message-box .content-box .footer-message .action ul li:hover {
	background: url(images/icon-25-25-hover.png) no-repeat;
	cursor: pointer;
	color: #094AB2;
}

.wrapper .main .content .message-box .content-box .footer-message .action ul li.search {
	background-position: 0 -300px;
}

.wrapper .main .content .message-box .content-box .footer-message .action ul li.delete {
	background-position: 0 -25px;
}

.wrapper .main .content .message-box .content-box .footer-message .action ul li.refresh {
	background-position: 0 -175px;
}

.wrapper .main .content .message-box .content-box .footer-message .action ul li.device {
	background: url(images/bg-footer-device.gif) no-repeat;
	width: 1px;
	padding-left: 0;
}

.search {
	width: 250px;
	height: 25px;
	line-height: 25px;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
}

.search ul.ul-search {
	margin: 0;
	padding: 0;
}

.search ul.ul-search li {
	display: inline;
	float: left;
	list-style: none;
}

.search ul.ul-search li.search-icon,.search ul.ul-search li.search-textbox,.search ul.ul-search li.search-icon-down {
	display: inline;
	float: left;
	background: url(images/search.png) no-repeat;
	cursor: pointer;
}

.search ul.ul-search li.search-icon:hover {
	display: inline;
	float: left;
	background: url(images/search-hover.png) no-repeat;
	cursor: pointer;
	background-position:-227px 0;
}

.search ul.ul-search li.search-icon {
	width: 22px;
	height: 25px;
	line-height: 25px;
	background-position:-227px 0;
	float: left;
}

.search ul.ul-search li.search-icon-down {
	width: 11px;
	height: 25px;
	line-height: 25px;
	background-position: -216px 0;
	float: left;
}

.search ul.ul-search li.search-icon-down:hover {
	background: url(images/search-down-hover.png) no-repeat -216px 0 !important;
	float: left;
}

.search ul.ul-search li.search-icon-down:hover .div-advanced-search {
	/*display: block;*/
}

.search ul.ul-search li .div-advanced-search {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	margin-top: 24px;
	position: absolute;
	width: 210px;
	z-index: 9999;
	display: none;
    right:36px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}

.search ul.ul-search li .div-advanced-search .advanced-header {
	height: 40px;
	width: 100%;
	float: left;
	border-bottom: 1px solid #dcdcdc;
	background: #F2F2F2;
}

.search ul.ul-search li .div-advanced-search .advanced-content {
	height: 250px;
	width: 100%;
	float: left;

	-ms-overflow-y: auto;
	overflow-y: auto;
}

.search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame {
	width: 100%;
	float: left;
	border-bottom: 1px solid #EEEEEE;
}

.search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame ul {
	margin: 0;
	padding: 0;
}

.search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame ul li {
	display: inline-block;
	list-style: none;
	font-weight: normal;
	float: left;
	clear: both;
	height: 18px;
	line-height: 18px;
	padding: 5px;
}

.search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame h4 {
	margin: 5px 0;
	padding: 0;
}

.search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame .clear {
	display: none;
}

.search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame .h:hover .clear {
	display: block;
}

.search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame a {
	text-decoration: none;
}

.search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame:last-child {
	border-bottom: none;
}
    .search ul.ul-search li .div-advanced-search .advanced-content .advanced-frame .textbox {
        font-style:italic !important;
        color:#aaa;
    }
.search ul.ul-search li .div-advanced-search .advanced-footer {
	width: 100%;
	float: left;
	border-top: 1px solid #dcdcdc;
	background: #F2F2F2;
	font-weight: normal;
	padding-bottom: 8px;
}
    .search ul.ul-search li .div-advanced-search .advanced-footer h4 {
        margin:2px;
    }
.search ul.ul-search li.search-textbox {
	width: 216px;
	height: 25px;
	line-height: 25px;
	background-position: 0px 0;
	float: left;
}

.search ul.ul-search li.search-textbox:hover {
	background: url(images/search-hover.png) no-repeat;
	cursor: pointer;
	background-position: -0px 0;
}

.search ul.ul-search li.search-textbox input {
	background: #fff;
	border: none;
	height: 21px;
	line-height: 21px;
	width: 190px;
	margin-top: 1px;
	font-style: italic;
	padding-left: 5px;
    border-radius:15px 0 0 15px;
}

.search ul.ul-search li.search-textbox input:focus {
	border: none !important;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.search ul.ul-search li.search-delete {
	width: 12px;
	height: 12px;
	background: url(images/icon-12-12.png) no-repeat;
	background-position: 0 0;
	position: absolute;
	margin-left: 202px;
	margin-top: 7px;
	display: none;
}

.ul-btn-tool {
	float: right;
	margin: 8px 5px 0 0;
}

.ul-btn-tool ul {
	margin: 0;
	padding: 0;
}

.ul-btn-tool li {
	display: inline;
	/*width: 90px;*/
	height: 25px;
	float: left;
	/*background: url(images/btn-tool.png) no-repeat;*/
	line-height: 23px;
	text-align: center;
	font-weight: normal;
}

.ul-btn-tool li.left {
	background-position: 0px 0px;
}

.ul-btn-tool li.middle {
	background-position: -91px 0px;
}

.ul-btn-tool li.right {
	background-position: -181px 0px;
	width: 89px;
}

.ul-btn-tool li.none {
	background-position: -270px 0px;
}

.ul-btn-tool li.left.active,.ul-btn-tool li.left:hover {
	background-position: 0px -25px;
	cursor: pointer;
	color: #094AB2;
}

.ul-btn-tool li.middle.active,.ul-btn-tool li.middle:hover {
	background-position: -91px -25px;
	cursor: pointer;
	color: #094AB2;
}

.ul-btn-tool li.right.active,.ul-btn-tool li.right:hover {
	background-position: -180px -25px;
	cursor: pointer;
	color: #094AB2;
}

.ul-btn-tool li.none.active,.ul-btn-tool li.none:hover {
	background-position: -270px -25px;
	cursor: pointer;
	color: #094AB2;
}

.ul-btn-tool li.left.disable,.ul-btn-tool li.left.disable:hover {
	background-position: 0px -50px;
	cursor: default;
	color: #dcdcdc;
}

.ul-btn-tool li.middle.disable,.ul-btn-tool li.middle.disable:hover {
	background-position: -91px -50px;
	cursor: default;
	color: #dcdcdc;
}

.ul-btn-tool li.right.disable,.ul-btn-tool li.right.disable:hover {
	background-position: -181px -50px;
	cursor: default;
	color: #dcdcdc;
}

.ul-btn-tool li.none.disable,.ul-btn-tool li.none.disable:hover {
	background-position: -270px -50px;
	cursor: default;
	color: #dcdcdc;
}
    .ul-btn-tool li ul {
        z-index:9999;
        display:none;
        position:absolute;
        margin-top:1px;
    }
    .ul-btn-tool li:hover ul {
        display:block;
    }
    .ul-btn-tool li ul li {
        background:linear-gradient(to bottom, #FDFEFE, #E8EEF3) repeat scroll 0 0 rgba(0, 0, 0, 0);
        width:auto;
        border:1px solid #dcdcdc;
        padding:0 15px;
    }
        .ul-btn-tool li ul li:hover {
            background:linear-gradient(to bottom, #E8EEF3, #FDFEFE) repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
.ul-info-calendar {
	float: right;
	margin: 8px 5px 0 0;
    
}

.ul-info-calendar ul {
	margin: 0;
	padding: 0;
}

.ul-info-calendar li {
	display: inline;
	height: 25px;
	float: left;
	background: url(images/btn-info-calendar.png) no-repeat;
	line-height: 25px;
	text-align: center;
}

.ul-info-calendar li.pre {
	background-position: 0px 0px;
	width: 22px;
}

.ul-info-calendar li.info {
	background-position: -22px 0px;
	width: 175px;
	font-weight: bold;
}

.ul-info-calendar li.info .textbox-calendar {
	background: none;
	border: none;
	width: 175px;
	font-weight: bold;
	text-align: center;
}

.ul-info-calendar li.info .textbox-calendar:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	cursor: pointer;
}

.ul-info-calendar li.next {
	background-position: -197px 0px;
	width: 22px;
}

.ul-info-calendar li.pre:hover {
	background-position: 0px -25px;
	cursor: pointer;
	color: #FE840D;
}

.ul-info-calendar li.info:hover {
	background-position: -22px -25px;
	cursor: pointer;
}

.ul-info-calendar li.next:hover {
	background-position: -197px -25px;
	cursor: pointer;
	color: #FE840D;
}

.ul-info-calendar li.info .div-info {
	position: absolute;
	z-index: 9999;
	width: 238px;
	border: 1px solid #dcdcdc;
	background: #fff;
	margin-top: -1px;
	display: none;
}

.ul-info-calendar li.info .div-info .div-info-1 {
	width: 100%;
	float: left;
	padding: 5px;
}

.ul-info-calendar li.info .div-info .div-info-1 ul {
	margin: 0;
	padding: 0;
}

.ul-info-calendar li.info .div-info .div-info-1 ul li {
	background: none;
	clear: both;
	display: inline;
	float: left;
	line-height: 18px;
	padding: 2px;
	font-weight: normal;
	text-align: left;
}

.div-textbox {
	float: left;
	position: relative;
	margin-left: 2px;
}
.div-textbox input {
	width: 70px;
	float: left;
	border: 1px solid #dcdcdc;
}
.div-textbox span {
	width: 10px;
	float: left;
}

.ul-info-calendar li.info .div-info .div-info-footer {
	width: 100%;
	float: left;
	border-top: 1px solid #dcdcdc;
	height: 41px;
	background: #f2f2f2;
}

.ul-info-calendar li.info .div-info .div-info-footer .ul-btn-tool li {
	display: inline;
	width: 90px;
	height: 25px;
	float: left;
	background: url(images/btn-tool.png) no-repeat;
	line-height: 25px;
	text-align: center;
	font-weight: normal;
}

.ul-info-calendar li.info .div-info .div-info-footer.ul-btn-tool li.left {
	background-position: 0px 0px;
}

.ul-info-calendar li.info .div-info .div-info-footer .ul-btn-tool li.middle {
	background-position: -91px 0px;
}

.ul-info-calendar li.info .div-info .div-info-footer .ul-btn-tool li.right {
	background-position: -181px 0px;
	width: 89px;
}

.ul-info-calendar li.info .div-info .div-info-footer .ul-btn-tool li.none {
	background-position: -270px 0px;
}

.ul-info-calendar li.info .div-info .div-info-footer .ul-btn-tool li.left.active,.ul-btn-tool li.left:hover {
	background-position: 0px -25px;
	cursor: pointer;
	color: #094AB2;
}

.ul-info-calendar li.info .div-info .div-info-footer .ul-btn-tool li.middle.active,.ul-btn-tool li.middle:hover {
	background-position: -91px -25px;
	cursor: pointer;
	color: #094AB2;
}

.ul-info-calendar li.info .div-info .div-info-footer .ul-btn-tool li.right.active,.ul-btn-tool li.right:hover {
	background-position: -181px -25px;
	cursor: pointer;
	color: #094AB2;
}

.ul-info-calendar li.info .div-info .div-info-footer .ul-btn-tool li.none.active,.ul-btn-tool li.none:hover {
	background-position: -270px -25px;
	cursor: pointer;
	color: #094AB2;
}

.switch-button-label {
	float: left;
	cursor: pointer;
	line-height: 20px;
	padding: 0 5px !important;
}

.switch-button-label.off {
	color: #adadad;
}

.switch-button-label.on {
	color: #0088CC;
}

.switch-button-background {
	float: left;
	position: relative;
	background: #ccc;
	border: 1px solid #dcdcdc;
	margin: 1px 10px;
	border-radius: 15px;
	cursor: pointer;
}

.switch-button-button {
	position: absolute;
	left: -1px;
	top: -1px;
	background: #FAFAFA;
	border: 1px solid #dcdcdc;
	border-radius: 15px;
}

label {
	float: left;
}

.div-alert {
	position: relative;
	background: #fff;
	margin-top: 32px;
	height: 300px;
	width: 460px;
	margin-left: -435px;
	border: 1px solid #dcdcdc;
	z-index: 9999;

	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: none;
}

.div-alert .div-header-alert {
	border-bottom: 1px solid #dcdcdc;
	background: #f2f2f2;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.div-alert .div-content-alert {
	height: 248px;

	-ms-overflow-y: auto;
	overflow-y: auto;
}

.div-alert .div-footer-alert {
	border-top: 1px solid #dcdcdc;
	background: #f2f2f2;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.div-alert .div-footer-alert a {
	color: #094AB2;
}

.div-alert .div-footer-alert:hover {
	background: #EBF4FB;
}

.content .tab {
	margin:5px 0 0;
	padding: 0;
	width: 100%;
	float: left;
}

.content .tab li {
	padding: 7px 15px 5px;

	background: -webkit-linear-gradient(center top , #FAFAFA 0%, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -moz-linear-gradient(center top , #FAFAFA 0%, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(center top , #FAFAFA 0%, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(center top , #FAFAFA 0%, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(center top , #FAFAFA 0%, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #dcdcdc;
	border-radius: 5px 5px 0 0;

	-webkit-box-shadow: 0 1px 0 #FFFFFF inset;
	box-shadow: 0 1px 0 #FFFFFF inset;
	margin: 0 0 -1px 5px;
	text-shadow: 0 1px 0 #FFFFFF;
	display: inline;
	float: left;
}

.content .tab li:first-child {
	margin-left: 0;
}

.content .tab li span {
	overflow: hidden;
	padding: 7px 15px 5px;
}

.content .tab li:hover {
	background: none repeat scroll 0 0 #F0F0F0;
	cursor: pointer;
	font-weight: bold;
}

.content .tab li.active {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: medium none;
	margin-top: 1px;
	position: relative;
	font-weight: bold;
}

.content .tab li:active:not([class*="active"]) span {
	padding-bottom: 4px;
	padding-top: 8px;
}
.div-mess {
    position:fixed;
    top:0;
    width:100%;
    padding:20px 10px;
    background:#F8F2EC;
    z-index:9999;
    border-bottom:1px solid #dfd2c6;    
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
    display:none;
}
    .div-mess .icon {
        width:40px;
        float:left;
    }
    .div-mess .mess {
        float:left;
        line-height:25px;
        font-size:14px;
    }
    .div-mess .delete {
        width:40px;
        float:right;
    }
        .div-mess .delete:hover {
            cursor:pointer;
        }
.form-cancel,.form-close {
    position:absolute;
    z-index:9999;
    width:500px;
    background:#fff;
    border:1px solid #dcdcdc;
}
    .form-cancel .header,.form-close .header {
        width:490px;
        padding:5px;
        height:20px;
        line-height:20px;
        background:#094AB2;
        font-weight:bold;
        color:#fff;
        border-bottom:1px solid #dcdcdc;
    }
.browse-dialog {
     position:absolute;
    z-index:9999;
    width:800px;
    background:#fff;
    border:1px solid #dcdcdc;
}
.browse-dialog .header {
        width:790px;
        padding:5px;
        height:20px;
        line-height:20px;
        background:#094AB2;
        font-weight:bold;
        color:#fff;
        float:left;
        border-bottom:1px solid #dcdcdc;
    }
    .browse-dialog .left {
        width:374px;
        height:400px;
        float:left;
        border-right:1px solid #dcdcdc;
    }
        .browse-dialog .left .left-header {
             width:373px;
            height:30px;
            float:left;
            background:#f2f2f2;
            border-bottom:1px solid #dcdcdc;
        }
            .browse-dialog .left .left-header .title {
                float:left;
                height:30px;
                line-height:30px;
                font-size:13px;
                margin-left:2px;
                width:80px;
            }
            .browse-dialog .left .left-header .search {
                float:right;
                width:280px;
                margin-top:3px;
            }
                .browse-dialog .left .left-header .search .textbox {
                    width:200px;
                    float:right;
                    height:20px;
                    font-style:italic !important;
                }
                
                .browse-dialog .left .left-header .search .button {
                    width:70px;
                    float:right;
                    background:#dcdcdc;
                    border:1px solid #dcdcdc;
                    height:24px;
                }
                    .browse-dialog .left .left-header .search .button:hover {
                        color:#094AB2;
                    }
        .browse-dialog .left .left-content {
             width:373px;
            height:338px;
            float:left;
        overflow-y:auto;
        }
        .browse-dialog .left .left-footer {
             width:373px;
            height:30px;
            float:left;
            background:#f2f2f2;
            border-top:1px solid #dcdcdc;
        }
    .browse-dialog .middle {
        width:50px;
        height:400px;
        float:left;
    }
    .browse-dialog .middle ul {
        margin:150px 0 0;padding:0;
    }
        .browse-dialog .middle li {
            display:inline;float:left;list-style:none;width:25px;line-height:25px;background:linear-gradient(to bottom, #fdfefe, #e8eef3);border:1px solid #dcdcdc;border-radius:2px;margin:2px 6px;padding:5px;
        }
            .browse-dialog .middle ul li:hover {
                background:linear-gradient(to bottom, #e8eef3, #fdfefe);cursor:pointer;
            }
            .browse-dialog .middle ul li .select {
                background:url(images/ico_move_l_r.png) no-repeat;background-position:-15px 0;width:15px;height:14px;margin:0 auto;
            }
            .browse-dialog .middle ul li .unselect {
                background:url(images/ico_move_l_r.png) no-repeat;background-position:0 0;width:15px;height:14px;margin:0 auto;
            }
    .browse-dialog .right {
        width:374px;
        height:400px;
        float:left;
        border-left:1px solid #dcdcdc;
    }
    
        .browse-dialog .right .right-header {
             width:373px;
            height:30px;
            float:left;
            background:#f2f2f2;
            border-bottom:1px solid #dcdcdc;
        }
         .browse-dialog .right .right-header .title {
                text-align:center;
                height:30px;
                line-height:30px;
                font-size:13px;
                margin-left:2px;
            }
        .browse-dialog .right .right-content {
             width:373px;
            height:368px;
            float:left;
        overflow-y:auto;
        }
.browse-dialog .footer {
        width:790px;
        padding:5px;
        background:#f2f2f2;
        float:left;
        border-top:1px solid #dcdcdc;
    }
    .browse-dialog .footer .ul-btn-tool {
        margin:0;
    }
    .browse-dialog .footer li {
        height:25px;
        width:90px;
    }
     .div-combobox {
				position:absolute;border:1px solid #dcdcdc;margin-top:1px;display:none;z-index:9999;
            }
                .div-combobox .div-search {
					width:100%; float:left;height:20px;border-bottom:1px solid #dcdcdc;
                }
                    .div-combobox .div-search .div-textbox-search {
						float:left;
                    }
                        .div-combobox .div-search .div-textbox-search .textbox {
							border:none;font-style:italic !important;color:#ccc;
                        }
					.div-combobox .div-search .div-icon-search {
						width:20px;height:20px; float:left;background:url(images/icon-20-20.png) no-repeat #fff;background-position:0 0px;z-index:9999;
                    }
					.div-combobox .div-search .div-icon-search:hover {
						width:20px;height:20px; float:left;background:url(images/icon-20-20-hover.png) no-repeat #fff;background-position:0 0px;cursor:pointer;z-index:9999;
                    }
				.div-combobox .div-content {
					width:100%;float:left;height:196px;overflow-y:scroll;background:#fff;overflow-x:visible;
                }
                    .div-combobox .div-content ul {
						margin:0;padding:0;
                    }
                        .div-combobox .div-content ul li {
							display:inline;float:left;height:23px;line-height:23px;border-bottom:1px solid #f2f2f2;padding:2px;overflow:hidden;width:98% !important;
                        }
                            .div-combobox .div-content ul li:hover {
								background:#f2f2f2;cursor:pointer;
                            }
                .div-combobox .div-footer {
                    width:100%;float:left;height:25px;line-height:25px;background:linear-gradient(to bottom, #FDFEFE, #E8EEF3) repeat scroll 0 0 rgba(0, 0, 0, 0);text-align:center;
                }
                .div-combobox .div-footer:hover {
                    background:linear-gradient(to bottom, #e8eef3, #fdfefe);
                }
                    .div-combobox .div-footer a {
                        background:url(images/icon-plus-16-16.png) no-repeat;background-position:0 0; padding-left:17px;height:16px;
                    }
                    .div-combobox .div-footer a:hover {
                        background:url(images/icon-plus-16-16.png) no-repeat;background-position:0 -16px; 
                    }
.tbl-footer .left {
    white-space: nowrap;
     overflow: hidden;
    text-overflow: ellipsis;
}
#ul-paging {
    
}
    .mce_jqueryspellchecker .mceIcon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHtSURBVDjLY/j//z8DJZiBKgY49drM9J3idhLEtu+xjvea4nLNqsVspnWr2S6QmF6+Zol2ltpq5QSlmcpxijMxDABp9pjkuMuu28rIpsMi3rLZFKzIus38mm6OuqRxpf41nC5w7rOJd+i1ngnUXGLTbj7Tsskk3rbL8ppZreEu7Ry1mWpJSvHK8Uoz0TWK5U/nYIg8y8rgPsl+l12P1WqgbTPdJtk/AtoWb1CkBdagnqyyWilawVM/Rw/FBQyx540ZGm/eYIg8P43BdYLdSZiEcYXeTJB/TaoNroH8q5OldVIhXE5SKUqhXSNRfZdKvPKVkOrED+L9d/8wN998w+B4XIL40I48K8FQf/O6+7In/7mbb35hsD2qjBKNDLU3ExjKb7pi1Rx61ke89+6fwBVP/jPXXn/HYHlYGiMdMJTe1JJc/PgHQ/X1xQyplznBYuFnmRiiz062nPfof8DSJ/8ZSq8/ZzA9KIEzIQE1Vvuuf/6fufv2M4bgsz4MxVdPui8Cal4C1Jx/+RGDPqpmTANiz7MAvXI+bO2L/5ZzHvzP2Pjif8DCx/8ZMi/fY9DcL0FUUmbwPKkg3Hr7T+WOV//95j/8z5B6/jaD6l4JkvIC0J9FTtPu/2dIPn+PQXG3BFmZiUFzbweDLH7NVMmNAOGld33BRiNUAAAAAElFTkSuQmCC) no-repeat center center !important;
    }
    
#div-upload-and-insert {
    position: absolute;
    z-index: 9999;
    width: 600px;
    height: 400px;
    border: 1px solid #dcdcdc;
    background: #f2f2f2;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    #div-upload-and-insert .header {
        width: 590px;
        height: 30px;
        line-height: 30px;
        background: #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        padding: 0 5px;
        font-weight: bold;
        float: left;
    }

   #div-upload-and-insert .upload {
        width: 600px;
        height: 25px;
        float: left;
    }
       
        #div-upload-and-insert .upload .textbox {
            width: 250px;
            float: left;
            height: 21px;
            line-height: 21px;
        }
            
       #div-upload-and-insert .button {
        width: 100px;
        border: none;
        height: 25px;
        line-height: 25px;
        border: 1px solid #dcdcdc;
        font-size: 12px;
        float: left;
             background: linear-gradient(to bottom, #FDFEFE, #E8EEF3) repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        #div-upload-and-insert .button:hover {
     background: linear-gradient(to bottom, #E8EEF3, #FDFEFE) repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}

    #div-upload-and-insert .list {
        height: 315px;
        overflow-y: auto;
        width: 600px;
        float: left;
    }

     #div-upload-and-insert .footer {
        width: 590px;
        height: 30px;
        line-height: 30px;
        background: #dcdcdc;
        border-top: 1px solid #dcdcdc;
        padding: 0 5px;
        float: left;
    }

        #div-upload-and-insert .footer .ul-btn-tool {
            float: right;
            margin-top: 0px;
        }

         #div-upload-and-insert .footer .tbl-footer {
            float: left;
            margin-top: 2px;
            width: 190px;
            background: #dcdcdc;
        }