﻿html,body {
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
	background: #F6F9FA;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}
  .wrapper .title {
            background: none repeat scroll 0 0 #f2f2f2;border-bottom: 1px solid #DCDCDC;color: #282829;cursor: default;font-size: 12px;font-weight: bold;height: 41px;overflow: hidden;z-index: 12;   width:100%;float:left;
        }
  
            .wrapper .title .my-title {
                background: url("images/breadcrumbArrow.png") no-repeat scroll right center #F7F7F7;display: block;float: left;height: 19px;overflow: hidden;padding: 11px 17px 11px 11px;position: relative;text-align: left;white-space: nowrap;font-size:13px;font-weight:bold;
            }
    .wrapper .title .manager-print {
        float:right;
        margin-top:12px;
    }
        .wrapper .title .manager-print ul {
            margin:0;padding:0;
        }
            .wrapper .title  .manager-print ul li {
                display:inline;
                float:left;
                margin-right:15px;
                font-weight:normal;
                
            }
            
     .ul-btn-tool {
           float:right;margin:8px 5px 0 0;
        }
                .ul-btn-tool ul {
                     margin:0;padding:0;
                }
            .ul-btn-tool li {
                display:inline;width:90px;height:25px;float:left;background:url(images/btn-tool.png) no-repeat;line-height:25px;text-align:center;font-weight:normal;
            }
                .ul-btn-tool li.left {
                    background-position:0px 0px;
                }
                .ul-btn-tool li.middle {
                    background-position: -91px 0px;
                }
                .ul-btn-tool li.right {
                    background-position:-180px 0px;
                }
                .ul-btn-tool li.none {
                    background-position:-270px 0px;
                }
                .ul-btn-tool li.left.active,.ul-btn-tool li.left:hover {
                    background-position:0px -25px;cursor:pointer;font-weight:bold;color:#094AB2;
                }
                .ul-btn-tool li.middle.active,.ul-btn-tool li.middle:hover {
                    background-position: -91px -25px;cursor:pointer;font-weight:bold;color:#094AB2;
                }
                .ul-btn-tool li.right.active,.ul-btn-tool li.right:hover {
                    background-position:-180px -25px;cursor:pointer;font-weight:bold;color:#094AB2;
                }
                .ul-btn-tool li.none.active,.ul-btn-tool li.none:hover {
                    background-position:-270px -25px;cursor:pointer;color:#094AB2;
                }
.frame-content h2 {
    margin:0;
    padding:10px;
}
.frame-title {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	background: #fff;
	float: left;
}


.frame-title h2 {
	margin: 0;
	padding: 0;
	font-size: 13px;
	margin-left: 10px;
	color: #094AB2;
}
    .frame-title h2.large {
        color:black;
        font-size:15px;
    }
.frame-title .icon-down {
	background: url(images/icon-down.png) no-repeat;
	width: 30px;
	height: 12px;
	position: relative;
	margin-left: 10px;
}
.frame-data {
	float: left;
	padding: 15px 10px;
}

.frame-data .tbl-order-info td {
	width: 15%;
	padding: 5px 0;
}

.frame-data .tbl-order-info td.field-name {
	background: url(images/g-dotted-line.png) repeat-x scroll 0 17px;width:10%;
}

.frame-data .tbl-order-info td.field-name .name {
	background: #F6F9FA;
	display: inline-block;
	padding: 0 5px 1px 0;
}

.frame-data .list-discussions {
	border-top: 1px dotted #CCCCCC;
	margin: 10px 0;
	width: 100%;
	float: left;
}

.frame-data .list-discussions ul {
	margin: 10px 0 0;
	padding: 0;
}

.frame-data .list-discussions ul li {
	display: inline;
	width: 100%;
	float: left;
	padding: 10px 0;
}

.frame-data .list-discussions ul li.second {
	display: inline;
	width: 100%;
	float: left;
	background: #f2f2f2;
}

.frame-data .list-discussions ul li.reply {
	background: #EBF4FB;
	border-bottom: 1px solid #fff;
}

.frame-data .list-discussions ul li.reply:last-child {
	border-bottom: none;
}

.frame-data .list-discussions ul li .avatar {
	border-radius: 50%;
	display: block;
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 8px;
	position: relative;
	z-index: 1;
}

.frame-data .list-discussions ul li .post-user-data {
	width: 90%;
	min-height: 50px;
	float:left;
	position: relative;
}

.frame-data .list-discussions ul li .post-user-data h4 {
	margin: 0;
	padding: 0;
	color: #094AB2;
}

.frame-data .list-discussions ul li .post-user-data .post-content {
	margin: 5px 0;
}

.frame-data .list-discussions ul li .post-user-data .post-item-action ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.frame-data .list-discussions ul li .post-user-data .post-item-action ul li {
	display: inline;
	float: left;
	padding: 0 5px;
	width: auto;
	line-height: 20px;
}

.frame-data .list-discussions ul li .post-user-data .post-item-action ul li a {
	color: #094AB2;
}
