﻿@using Framework.DomainModel.Entities
@using WorkComp.HtmlHelpers
@model WorkComp.Models.PanelType.PanelCodeGridViewModel
<!-- ko stopBinding: true -->
<div id="grid-container-payerCode" style="width: 100%; height: 100%; position: relative">
    <div id="@Model.GridId" style="height: 100%; width: 100%; position: absolute"></div>
</div>
<!-- /ko -->
<script type="text/javascript">
    var readUrl = "/PanelType/GetPanelCodes?panelTypeId=@Model.PanelTypeId";
    var isEditable = true;
    var schemaFields = {
        id: "RowGuid",
        fields: {
            RowGuid: { editable: false, nullable: false },
            Id: { editable: false, nullable: false },
            Panel: { defaultValue: { Name: "", KeyId: -1 }, editable: isEditable },
            PanelId: { editable: isEditable, validation: { required: true } },
            CptCode: {editable: isEditable},
            Urine: { editable: isEditable },
            OralFluid: { editable: isEditable },
            Blood: { editable: isEditable },
            Hair: { editable: isEditable },
        }
    };
    var panelCodeRemoveTemplate = "<i class='k-icon k-delete' onclick=\"removePanelCodeRow(\'#= RowGuid #\'); return false;\"></i>";
    var columns = [
       {
           field: "Panel",
           title: "Name",
           width: "100px",
           editor: panelNameLookupEditor,
           template: "#=dirtyField(data,'Panel')#  #if (Panel.Name === null || Panel.Name === undefined) { ##=''## }else{##=Panel.Name##}#"
       },
        {
            field: "CptCode",
            title: 'Code',
            width: "100px",
            template: "#=dirtyField(data,'CptCode')# #:CptCode#"
        },
        {
            field: "Urine",
            title: 'Urine',
            width: "100px",
            template: "#=dirtyField(data,'Urine')# #:Urine#"
        },
        {
            field: "OralFluid",
            title: 'Oral Fluid',
            width: "100px",
            template: "#=dirtyField(data,'OralFluid')# #:OralFluid#"
        },
        {
            field: "Blood",
            title: 'Blood',
            width: "100px",
            template: "#=dirtyField(data,'Blood')# #:Blood#"
        },
        {
            field: "Hair",
            title: 'Hair',
            width: "100px",
            template: "#=dirtyField(data,'Hair')# #:Hair#"
        },
        {
            title: '',
            width: "15px",
            template: panelCodeRemoveTemplate
        }
    ];
    var editableTemplate = {
        editable: true,
    };
    var gridId = '@Model.GridId';
    var gridPanelCode = new EditableGridViewModel(gridId, schemaFields, columns, readUrl, null, editableTemplate);
    
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    ko.applyBindings(gridPanelCode, $("#grid-container-payerCode")[0]);
    
    $("#" + gridId).data("kendoGrid").bind('edit', function (e) {

        $(e.sender._current).find('input').attr('maxlength', 50);
        
    });
    function panelNameLookupEditor(container, options) {
        var urlToReadPanel = "/PanelType/GetLookupPanel";
        var panelValidation = '@GridExtensions.GetValidationForKendoEditor(typeof(PanelCode), "PanelId", "Name is required.")';
        KendoLookupEditor("grid-panelName-id", container, options, { valueField: options.field, keyIdField: "PanelId" }, urlToReadPanel, null, panelValidation, null, null);
    }
    
    var panelCodeSelectedRowIndex = null;
    // Remove Panel code row
    function removePanelCodeRow(id) {
        var grid = $("#" + gridId).data("kendoGrid");
            var row = grid.select();
            var rowIndex = GetRowIndexOfSelectedRow();

            if (rowIndex > 0) {
                panelCodeSelectedRowIndex = rowIndex - 1; // set previous row selection
            }
            else if (rowIndex == 0 && $("tr", grid.tbody).length > 1) {
                panelCodeSelectedRowIndex = rowIndex; // set next row selection
            }
            else {
                Postbox.messages.notifySubscribers(null, "@Model.GridId" + "_SELECTION"); // No row left, refresh the page.
            }
        grid.removeRow(row);
        grid.refresh();
    }
    function GetRowIndexOfSelectedRow() {
        var grid = $("#" + gridId).data("kendoGrid");
        var selectedRow = grid.select();
        var rowIndex = $("tr", grid.tbody).index(selectedRow);
        return rowIndex;
    }
    // Get Data Unsave of TaxTables
    function GetUnsavePanelCode() {
        return gridPanelCode.DataSource().GetUnsavedData();
    }

    function GetAllPanelCode() {
        return gridPanelCode.DataSource().GetAllData();
    }


    // Add new PanelCode

    function AddPanelCode() {

        var grid = $("#" + gridId).data("kendoGrid");
        var lastRow = grid.tbody.find("tr:last");
        if (!ValidateGridNewRecords(grid, lastRow)) {
            return;
        }
        var dataSource = grid.dataSource;
        var dataTableItem = {
            RowGuid: generateGuid(),
            Id: 0,
            CptCode: '',
            Urine: '',
            OralFluid: '',
            Blood: '',
            Hair: '',
            PanelId: '',
            Panel: { Name: '', KeyId: 0 }
        };
        dataSource.add(dataTableItem).dirty = true;
        grid.refresh();
        lastRow = grid.tbody.find("tr:last");
        grid.select(lastRow);

    }
    function ValidateGridNewRecords(grid,row) {
        var valid = true;
        
        // Get the model
        var model = grid.dataItem(row);
        if (model == null) {
            return true;
        }
        // Check the id property - this will indicate an insert row
        var colPanel = $(row).find("td")[0];
        if (model.Panel == null || model.Panel.KeyId <= 0) {
            grid.editCell($(colPanel));
            if (grid.editable && !grid.editable.end()) {
                valid = false;
            }
            else {
                // Take cell out of edit mode
                grid.closeCell();
            }
        } else {
            var checkExists = false;
            // See if there are any insert rows
            var rows = grid.tbody.find("tr");
            var rowIndex = $("tr", grid.tbody).index(row);
            // Check exist the name before
            for (var j = rows.length-1; j >=0; j--)
            {
                if (j != rowIndex) {
                    var modelTemp = grid.dataItem(rows[j]);
                    if (modelTemp.Panel.KeyId == model.Panel.KeyId) {
                        checkExists = true;
                        break;
                    }
                }
               
            }
            if (checkExists) {
                grid.editCell($(colPanel));
                valid = false;
            }
        }
        return valid;
    };
    
    Postbox.messages.subscribe(function (newvalue) {
        if (newvalue != null && newvalue != 0) {
            // Load the basic grid with selected panel type
            readUrl = "/PanelType/GetPanelCodes?panelTypeId=" + newvalue;
            gridPanelCode = new EditableGridViewModel(gridId, schemaFields, columns, readUrl, null, editableTemplate);
        }
    }, $("#@Model.GridId"), Postbox.WORKCOMP_DROPDOWN_CHANGE + "_" + "PanelType");
</script>
