﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.ReferralTask.DashboardReferralTaskShareViewModel

<style type="text/css">
    .title-line {
        background: url("/content/images/bg-line.gif") repeat-x scroll 50% 9px #FFFFFF;
        color: #094AB2;
        font-weight: bold;
        overflow: hidden;
    }
    .title-line .header-text {
        background: none repeat scroll 0 0 #FFFFFF;
        padding: 0 5px 0 0;
    }

    .headergroup {
        height: 29px;
        border-bottom: 1px solid #DADADA;
    }
    .headergroup button {
        float: right;
    }
</style>

<!-- ko stopBinding: true -->
<div id="task-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.ReferralIdLookup("ReferralId", "Referral", new { data_bind = "value: ReferralId" }, "", 0, @Model.ReferralDataSource, true)
            </td>
            <td>
                @Html.WorkcompCheckBox("Rush","Rush","Rush")
            </td>
        </tr>
    </table>

    <div class="title-line"><input type="radio" name="singleorgroup" value="single" data-bind="checked: Type" /><span class="header-text">Single task</span></div>
    <!-- ko stopBinding: true -->
    <div id="single-task-info">
        <table width="99%" cellpadding="0" borderspacing="0">
            <tr>
                <td>
                    @Html.TaskTemplateLookup("TaskTemplate", "Task template", new { data_bind = "value: TaskTemplateId" }, "", 0, @Model.TaskTemplateDataSource)
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td>
                    @Html.WorkcompTextBox("Title", "Title", "Title", true)
                </td>
                <td>
                    @Html.WorkcompDropdownList("TaskTypeId", "Task type:", "TaskTypeId", "/Common/TaskTypeLookup", new { data_bind = "value: TaskTypeId" }, @Model.TaskTypeId)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.WorkcompTextArea("Description","Description","Description", false)
                </td>
            </tr>
            <tr>
                @Html.WorkcompDatetimeRangePicker("StartDate", "Start Date", "StartDate", "DueDate", "Follow Up Date", "DueDate", "MM/dd/yyyy hh:mm tt", true, null, null, true)
            </tr>
            <tr>
                <td>
                    @Html.WorkcompDropdownList("Status", "Status", "Status", "/Common/StatusLookup", new { data_bind = "value: StatusId" }, @Model.StatusId, true)
                </td>
                <td>
                    @Html.AssignToLookup("AssignTo", "Assign To", new { data_bind = "value: AssignToId" }, "", 0, @Model.AssignToDataSource, true)
                </td>
            </tr>
        
        
            <tr>
                <td colspan="2">
                    @*@Html.WorkcompTextArea("Comment","Comment","Comment", false)*@
                </td>
            </tr>
        </table>
    </div>
    <!-- /ko -->
    <script>
        function TaskSingleInfoViewModel() {
            var self = this;
            self.Id = ko.observable(@Model.Id);
            self.StartDate = ko.observable(@Html.Raw(Json.Encode(@Model.StartDate==null?"":Model.StartDate.Value.ToString("MM/dd/yyyy hh:mm tt"))));
            self.DueDate = ko.observable(@Html.Raw(Json.Encode(@Model.DueDate == null ? "" : Model.DueDate.Value.ToString("MM/dd/yyyy hh:mm tt"))));
            self.StatusId = ko.observable(@Model.StatusId);
            self.TaskTypeId = ko.observable(@Model.TaskTypeId);
            self.Title = ko.observable(@Html.Raw(Json.Encode(@Model.Title)));
            self.Description = ko.observable(@Html.Raw(Json.Encode(@Model.Description)));
            self.AssignToId = ko.observable(@Model.AssignToId);
            self.ReferralId = ko.observable(@Model.ReferralId);
            self.CreateMode = ko.observable(@Model.CreateMode.ToString().ToLower());
            self.TaskTemplateId = ko.observable(@Model.TaskTemplateId);
            self.TaskTemplateId.subscribe(function(idTaskTemplate) {
                var request = $.ajax({ cache: false, async: false, url: "/TaskTemplate/GetItem", type: "GET", data: {idTaskTemplate:idTaskTemplate}, dataType: "json" });
                request.done(function(result) {
                    self.Title(result.Title);
                    self.Description(result.Description);
                    
                    var comAssignTo = $("#AssignTo").data("kendoComboBox");
                    comAssignTo.text(result.AssignTo.Name);
                    self.AssignToId(result.AssignTo.KeyId);
                    
                    var dropTaskType = $("#dropdown-TaskTypeId").data("kendoDropDownList");
                    dropTaskType.text(result.TaskType.Name);
                    self.TaskTypeId(result.TaskType.KeyId);
                    
                    var dateStartDate = $("#StartDate").data("kendoDateTimePicker");
                    dateStartDate.value(new Date(result.StartDate));
                    
                    var dateDueDate = $("#DueDate").data("kendoDateTimePicker");
                    dateDueDate.value(new Date(result.DueDate));
                });
                
            } );
        }

        // This allows us to have nested bindings.
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;

        var taskSingleInfoViewModel = new TaskSingleInfoViewModel();
        ko.applyBindings(taskSingleInfoViewModel, $("#single-task-info")[0]);

        function GetSingleTaskSharedViewModel() {
            return taskSingleInfoViewModel;
        }
        

    </script>

    <div class="title-line"><input type="radio" name="singleorgroup" value="group" data-bind="checked: Type" /><span class="header-text">Group task</span></div>
    <div id="group-task-info" style="display: none;">
        <!-- ko stopBinding: true -->
        <div id="task-group-info-referral">
            <table width="99%" cellpadding="0" borderspacing="0">
                <tr>
                    <td>
                        @Html.WorkcompDropdownList("TaskGroup", "Task group", "TaskGroup", "/TaskGroup/GetDropdownList")
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="headergroup">
                            <button id="taxIcdCodeAdd" type="button" class="btn pull-right k-button" data-bind="click: addTaskTemplate"><span class="fa fa-plus"></span> Add</button>
                        </div>
                        <div style="height: 380px">
                            <div id="grid-container-task-group" style="width: 100%; height: 100%; position: relative">
                                <div id="TaskGroupGrid" style="height: 100%; width: 100%; position: absolute"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
       <!-- /ko -->
    </div>
    <script type="text/javascript">
        function TaskGroupInfoViewModel() {
            var self = this;
            var readUrl = "/Referral/GetTaskTemplate?referralId=@Model.ReferralId";
            var schemaFields = {
                id: "RowGuid",
                fields: {
                    RowGuid: { editable: false, nullable: false },
                    Id: { editable: false, nullable: false },
                    TaskTemplate: { defaultValue: { Name: "", KeyId: -1 }, editable: true },
                    Title: { editable: true },
                    Description: { editable: true },
                    AssignTo: { defaultValue: { Name: "", KeyId: -1 }, editable: true },
                    StartDate: { editable: true, type: "date" },
                    DueDate: { editable: true, type: "date" },
                    TaskType: { defaultValue: { Name: "", KeyId: -1 }, editable: true },
                }
            };
            var taskTemplateRemoveTemplate = "<i class='k-icon k-delete' onclick=\"removeTaskTemplateRow(\'#= RowGuid #\'); return false;\"></i>";
            var columns = [
                {
                    field: "TaskTemplate",
                    title: "Task Template",
                    width: "180px",
                    editor: taskTemplateLookupEditor,
                    template: "#=dirtyField(data,'TaskTemplate')#  #if (TaskTemplate.Name === null || TaskTemplate.Name === undefined) { ##=''## }else{##=TaskTemplate.Name##}#"
                },
                {
                    field: "Title",
                    title: 'Title',
                    width: "180px",
                    template: "#=dirtyField(data,'Title')# #:Title#"
                },
                {
                    field: "Description",
                    title: 'Description',
                    width: "180px",
                    template: "#=dirtyField(data,'Description')# #:Description#"
                },
                {
                    field: "AssignTo",
                    title: "Assign To",
                    width: "70px",
                    editor: assignToLookupEditor,
                    template: "#=dirtyField(data,'AssignTo')#  #if (AssignTo.Name === null || AssignTo.Name === undefined) { ##=''## }else{##=AssignTo.Name##}#"
                },
                {
                    field: "StartDate",
                    title: 'Start Date',
                    width: "100px",
                    type: "date",
                    format: "{0:MM/dd/yyyy HH:mm}",
                    parseFormats: ["MM/dd/yyyy HH:mm"],
                    

                },
                {
                    field: "DueDate",
                    title: 'Follow Up Date',
                    width: "100px",
                    type: "date",
                    format: "{0:MM/dd/yyyy HH:mm}",
                    parseFormats: ["MM/dd/yyyy HH:mm"],
                },
                {
                    field: "TaskType",
                    title: "Type",
                    width: "70px",
                    editor: taskTypeLookupEditor,
                    template: "#=dirtyField(data,'TaskType')#  #if (TaskType.Name === null || TaskType.Name === undefined) { ##=''## }else{##=TaskType.Name##}#"
                },
                {
                    title: '',
                    width: "15px",
                    template: taskTemplateRemoveTemplate
                }
            ];
            var editableTemplate = {
                editable: true,
            };
            var gridId = 'TaskGroupGrid';
            var gridTaskTemplate = new EditableGridViewModel(gridId, schemaFields, columns, "", null, editableTemplate);
            ko.applyBindings(gridTaskTemplate, $("#grid-container-task-group")[0]);

            //$("#" + gridId).data("kendoGrid").bind('edit', function (e) {

            //    $(e.sender._current).find('input').attr('maxlength', 50);

            //});
            function taskTemplateLookupEditor(container, options) {
                var urlToReadPanel = "/TaskTemplate/GetLookup";
                KendoLookupEditor("grid-taskTemplate-id", container, options, { valueField: options.field, keyIdField: "Id" }, urlToReadPanel, null, null, null, null);
            }

            function assignToLookupEditor(container, options) {
                var urlToReadPanel = "/User/GetLookup";
                KendoLookupEditor("grid-assignTo-id", container, options, { valueField: options.field, keyIdField: "Id" }, urlToReadPanel, null, null, null, null);
            }

            function taskTypeLookupEditor(container, options) {
                var urlToReadPanel = "/Common/TaskTypeLookup";
                KendoLookupEditor("grid-taskType-id", container, options, { valueField: options.field, keyIdField: "Id" }, urlToReadPanel, null, null, null, null);
            }


            // Get Data Unsave of TaxTables
            self.getUnsaveTaskTemplate = function () {
                return gridTaskTemplate.DataSource().GetUnsavedData();
            };

            self.getAllTaskTemplate = function () {
                return gridTaskTemplate.DataSource().GetAllData();
            };


            // Add new PanelCode

            self.addTaskTemplate = function () {

                var grid = $("#" + gridId).data("kendoGrid");
                console.log(grid);
                var lastRow = grid.tbody.find("tr:last");
                if (!validateGridAddNewTaskTemplateRecords(grid, lastRow)) {
                    return;
                }
                
                var dataSource = grid.dataSource;
                var dataTableItem = {
                    RowGuid: generateGuid(),
                    Id: 0,
                    TaskTemplate: { Name: '', KeyId: 0 },
                    Title: '',
                    Description: '',
                    AssignTo: { Name: '', KeyId: 0 },
                    StartDate: '',
                    DueDate: '',
                    TaskType: { Name: '', KeyId: 0 },
                };
                dataSource.add(dataTableItem).dirty = true;
                grid.refresh();
                lastRow = grid.tbody.find("tr:last");
                grid.select(lastRow);

            };
            function validateGridAddNewTaskTemplateRecords(grid, row) {
                var valid = true;

                // Get the model
                var model = grid.dataItem(row);
                if (model == null) {
                    return true;
                }
                return valid;
            };

            Postbox.messages.subscribe(function (newvalue) {
                if (newvalue != null) {
                    // Load the basic grid with selected panel type
                    readUrl = "/TaskGroup/GetTaskTemplate?taskGroupId=" + newvalue + '&referralId=' + taskSingleInfoViewModel.ReferralId();
                    gridTaskTemplate = new EditableGridViewModel(gridId, schemaFields, columns, readUrl, null, editableTemplate);
                }
            }, $("#TaskGroupGrid"), Postbox.WORKCOMP_DROPDOWN_CHANGE + "_" + "TaskGroup");

            Postbox.messages.subscribe(function (newValue) {
                var idTaskTemplate = newValue;
                // select all datasource where id=idTaskTemplate
                var grid = $("#" + gridId).data("kendoGrid");
                var item = grid.dataItem(grid.select());
                // Get value for Info in grid
                var url = "/TaskTemplate/GetItem";
                var data = { idTaskTemplate: idTaskTemplate };
                $.ajax({
                    type: "GET",
                    url: url,
                    data: data,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        if (result != '') {
                            item.Title = result.Title;
                            item.Description = result.Title;
                            item.AssignTo = { Name: result.AssignTo.Name, KeyId: result.AssignTo.KeyId };
                            item.StartDate = result.StartDate;
                            item.DueDate = result.DueDate;
                            item.TaskType = { Name: result.TaskType.Name, KeyId: result.TaskType.KeyId };
                        } else {
                            item.Title = "";
                            item.Description = "";
                            item.AssignTo = { Name: '', KeyId: 0 };
                            item.StartDate = "";
                            item.DueDate = "";
                            item.TaskType = { Name: '', KeyId: 0 };
                        }
                        grid.refresh();
                    }
                });
            }, self, "TaskTemplate_" + Postbox.CHANGE_VALUE_FOR_COMBOBOX_IN_GRID);
        }
        var taskTemplateSelectedRowIndex = null;
        // Remove taskTemplate row
        function removeTaskTemplateRow(id) {
            var grid = $("#TaskGroupGrid").data("kendoGrid");
            var row = grid.select();
            var rowIndex = getRowIndexOfSelectedRow();

            if (rowIndex > 0) {
                taskTemplateSelectedRowIndex = rowIndex - 1; // set previous row selection
            }
            else if (rowIndex == 0 && $("tr", grid.tbody).length > 1) {
                taskTemplateSelectedRowIndex = rowIndex; // set next row selection
            }
            else {
                Postbox.messages.notifySubscribers(null, "TaskGroupGrid" + "_SELECTION"); // No row left, refresh the page.
            }
            grid.removeRow(row);
            grid.refresh();
        }
        function getRowIndexOfSelectedRow() {
            var grid = $("#TaskGroupGrid").data("kendoGrid");
            var selectedRow = grid.select();
            var rowIndex = $("tr", grid.tbody).index(selectedRow);
            return rowIndex;
        }

        var taskGroupInfoViewModel = new TaskGroupInfoViewModel();
        ko.applyBindings(taskGroupInfoViewModel, $("#task-group-info-referral")[0]);
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;
    </script>
</div>
<!-- /ko -->

<script type="text/javascript">
    function TaskViewModel() {
        var self = this;
        self.CreateMode = @Model.CreateMode.ToString().ToLower();
        self.ReferralId = ko.observable(@Model.ReferralId);
        self.Rush = ko.observable(@Model.Rush.ToString().ToLower());
        self.Type = ko.observable('single');
        self.Type.subscribe(function (newValue) {
            if (newValue == 'single') {
                $('#group-task-info').hide();
                $('#single-task-info').show();
            } else {
                $('#group-task-info').show();
                $('#single-task-info').hide();
            }
        });
        
       
        //Define list save data
        self.getDataReferralTask = function() {
            var data, defineReferralTask,listReferralTask = [];
            if (self.Type() == 'single') {
                var dataJson = ko.toJSON(taskSingleInfoViewModel);
                data = JSON.parse(dataJson);
                listReferralTask.push({
                    Id: data.Id,
                    ReferralId: self.ReferralId(),
                    Title: data.Title,
                    TaskTypeId: data.TaskTypeId,
                    Description: data.Description,
                    StartDate: data.StartDate,
                    DueDate: data.DueDate,
                    StatusId: data.StatusId,
                    AssignToId: data.AssignToId,
                    Rush: self.Rush()
                });
                if (self.CreateMode) {
                    defineReferralTask = { ReferralId: self.ReferralId(), ReferralTaskList: listReferralTask };
                } else {
                    defineReferralTask = {
                        Id: data.Id,
                        ReferralId: self.ReferralId(),
                        Title: data.Title,
                        TaskTypeId: data.TaskTypeId,
                        Description: data.Description,
                        StartDate: data.StartDate,
                        DueDate: data.DueDate,
                        StatusId: data.StatusId,
                        AssignToId: data.AssignToId,
                        Rush: self.Rush()
                    };
                }
                
            } else {
                data = JSON.parse(taskGroupInfoViewModel.getAllTaskTemplate());
                if (!_.isUndefined(data.listAll) && data.listAll.length > 0) {
                    
                    for (var i = 0; i < data.listAll.length; i++) {
                        var item = data.listAll[i];
                        var itemReferralTask = {
                            Title: item.TaskTemplate.Name,
                            TaskTypeId: item.TaskType.KeyId,
                            Description: item.Description,
                            StartDate: item.StartDate,
                            DueDate: item.DueDate,
                            StatusId: 1,
                            AssignToId: item.AssignTo.KeyId,
                            Rush: self.Rush()
                        };
                        listReferralTask.push(itemReferralTask);
                    }
                    defineReferralTask = { ReferralId: self.ReferralId(), ReferralTaskList: listReferralTask };
                } else {
                    defineReferralTask = null;
                }
            }
            
            return defineReferralTask;
        };
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var taskViewModel = new TaskViewModel();
    ko.applyBindings(taskViewModel, $("#task-edit-share")[0]);

    function GetSharedViewModel() {
        return taskViewModel;
    }

    $(document).ready(function () {
        var opts = window.dialogArguments;
        console.log(opts);
        if (!_.isUndefined(opts) && opts != null && !_.isUndefined(opts.Id)) {
            taskViewModel.ReferralId(opts.Id);
            taskSingleInfoViewModel.ReferralId(opts.Id);
            var kendoCombo = $("#ReferralId").data("kendoComboBox");
            kendoCombo.value(opts.Value);
            if (!_.isUndefined(opts.AssignToDataSource)&& opts.AssignToDataSource!= null) {
                taskSingleInfoViewModel.AssignToId(opts.AssignToDataSource.Id);
                kendoCombo = $("#AssignTo").data("kendoComboBox");
                kendoCombo.value(opts.AssignToDataSource.Value);
            }
            
        }
        
        if (@Model.CreateMode.ToString().ToLower()) {
            $('#dropdown-Status').data('kendoDropDownList').enable(false);
        }
        
        
        
    });
</script>

<script>
    $(document).ready(function () {
        if ('@Model.CreateMode'=='False') {
            console.log('@Model.CreateMode');
            $('#group-task-info').remove();
            $('input:radio:last').remove();
            $('.title-line:last').remove();
        }
    });
</script>