﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.CollectionSite.DashboardCollectionSiteShareViewModel
 <!-- ko stopBinding: true -->
<div id="collectionsite-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Name", "Name", "Name", true, 500)
            </td>
            <td>
                @Html.InputMasked("Phone","Phone","Phone","(999) 000-0000")
            </td>
        </tr>
        <tr>
            <td>
                @Html.InputMasked("Fax","Fax","Fax","(999) 000-0000")
            </td>
            <td>
                @Html.WorkcompTextBox("Email", "Email", "Email", false, 100)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("CollectionHour", "Collection Hour", "CollectionHour", false, 500)
            </td>
            <td>
                @Html.WorkcompTextBox("LunchHour", "Lunch Hour", "LunchHour", false, 500)
            </td>
        </tr>
        
        <tr>
            <td>
                @Html.WorkcompTextBox("LocationIdentified", "Location Identified", "LocationIdentified", false, 500)
            </td>
            <td>
                @Html.WorkcompTextBox("CostInformation", "Cost Information", "CostInformation")
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("ContactName", "Contact Name", "ContactName", false, 500)
            </td>
            <td>
                @Html.WorkcompTextBox("ContactEmail", "Contact Email", "ContactEmail")
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Address", "Address", "Address", true, 100)
            </td>
            <td>
                @Html.StateLookup("State", "State", new { data_bind = "value: StateId" },true,"AddrGroup","",0, @Model.StateDataSource, true)
            </td>
        </tr>
        <tr>
            <td>
                @Html.CityLookup("City", "City", new { data_bind = "value: CityId" },true,"AddrGroup","",0, @Model.CityDataSource, true)
            </td>
            <td>
                @Html.ZipLookup("Zip", "Zip", new { data_bind = "value: ZipId" },false,"AddrGroup","",0, @Model.ZipDataSource, true)
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding-left: 29%">@Html.RadioButton("Contracted","true", new {data_bind = "checked: Contracted"}) Contracted  @Html.RadioButton("Contracted", "false", new {data_bind = "checked: Contracted"}) Un-Contracted</div>
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function CollectionSiteShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.Name = ko.observable(@Html.Raw(Json.Encode(@Model.Name)));
        self.Phone = ko.observable(@Html.Raw(Json.Encode(@Model.Phone)));
        self.Fax = ko.observable(@Html.Raw(Json.Encode(@Model.Fax)));
        self.Email = ko.observable(@Html.Raw(Json.Encode(@Model.Email)));
        self.CollectionHour = ko.observable(@Html.Raw(Json.Encode(@Model.CollectionHour)));
        self.LunchHour = ko.observable(@Html.Raw(Json.Encode(@Model.LunchHour)));
        self.LocationIdentified = ko.observable(@Html.Raw(Json.Encode(@Model.LocationIdentified)));
        self.CostInformation = ko.observable(@Html.Raw(Json.Encode(@Model.CostInformation)));
        self.ContactName = ko.observable(@Html.Raw(Json.Encode(@Model.ContactName)));
        self.ContactEmail = ko.observable(@Html.Raw(Json.Encode(@Model.ContactEmail)));
        self.Address = ko.observable(@Html.Raw(Json.Encode(@Model.Address)));
        self.StateId = ko.observable(@Model.StateId);
        self.CityId = ko.observable(@Model.CityId);
        self.ZipId = ko.observable(@Model.ZipId);
        self.Contracted = ko.observable('@Html.Raw(Json.Encode(@Model.Contracted))');
        // ComboBoxDisplayName use to show display name in combobox when user modify data from combobox
        self.ComboBoxDisplayName = ko.computed(function () {
            return this.Name();
        }, self);
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new CollectionSiteShareViewModel();
    ko.applyBindings(sharedViewModel, $("#collectionsite-edit-share")[0]);

    function GetSharedViewModel() {
        return sharedViewModel;
    }
</script>
