﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Attorney.DashboardAttorneyShareViewModel
 <!-- ko stopBinding: true -->
<div id="attorney-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("FirstName", "First Name", "FirstName", true, 50)
            </td>
            <td>
                @Html.WorkcompTextBox("LastName", "Last Name", "LastName", true, 50)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("MiddleName", "Middle Name", "MiddleName", false, 50)
            </td>
            <td>
                @Html.WorkcompTextBox("Lawfirm", "Lawfirm", "Lawfirm", false, 500)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Address", "Address", "Address", true, 500)
            </td>
            <td>
                @Html.StateLookup("State", "State", new { data_bind = "value: StateId" },true,"AddrGroup","",0, @Model.StateDataSource)
            </td>
        </tr>
        <tr>
            <td>
                @Html.CityLookup("City", "City", new { data_bind = "value: CityId" },true,"AddrGroup","",0, @Model.CityDataSource)
            </td>
            <td>
                @Html.ZipLookup("Zip", "Zip", new { data_bind = "value: ZipId" },false,"AddrGroup","",0, @Model.ZipDataSource)
            </td>
        </tr>
        <tr>
            <td>
                @Html.InputMasked("Phone","Phone","Phone","(999) 000-0000", true)
            </td>
            <td>
                @Html.WorkcompTextBox("Email", "Email", "Email")
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function AttorneyShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.FirstName = ko.observable(@Html.Raw(Json.Encode(@Model.FirstName)));
        self.LastName = ko.observable(@Html.Raw(Json.Encode(@Model.LastName)));
        self.MiddleName = ko.observable(@Html.Raw(Json.Encode(@Model.MiddleName)));
        self.Lawfirm = ko.observable(@Html.Raw(Json.Encode(@Model.Lawfirm)));
        self.Phone = ko.observable(@Html.Raw(Json.Encode(@Model.Phone)));
        self.Email = ko.observable(@Html.Raw(Json.Encode(@Model.Email)));
        self.Address = ko.observable(@Html.Raw(Json.Encode(@Model.Address)));
        self.StateId = ko.observable(@Html.Raw(Json.Encode(@Model.StateId)));
        self.CityId = ko.observable(@Html.Raw(Json.Encode(@Model.CityId)));
        self.ZipId = ko.observable(@Html.Raw(Json.Encode(@Model.ZipId)));
        
        // ComboBoxDisplayName use to show display name in combobox when user modify data from combobox
        self.ComboBoxDisplayName = ko.computed(function () {
            return this.FirstName() + " " + this.MiddleName() + " " + this.LastName();
        }, self);
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new AttorneyShareViewModel();
    ko.applyBindings(sharedViewModel, $("#attorney-edit-share")[0]);

    function GetSharedViewModel() {
        return sharedViewModel;
    }
</script>
