﻿@model WorkComp.Models.Referral.ReferralFileAttachmentsGridViewModel

<div id="grid-container-@Model.Id" style="width:100%">
    <div id="@Model.Id" style="width:100%; height:500px;border: 1px solid #dcdcdc;"></div>
</div>

<script type="text/x-kendo-template" id="fileAttachmentEditTemplate">	

            <input type="hidden" name="RowGuid"  id="RowGuid"   value='00000000-0000-0000-0000-000000000000'/>	
			<input type="hidden" name="AttachedFileName" id="AttachedFileName" />
            <input type="hidden" name="FileSize" id="FileSize" />
            <input type="hidden" name="Id" id="Id" />  
		    <input type="file" id="files" name="files" />
            <br>
</script>

<script>

    var readUrl = "/Referral/GetAttachments?referralId=@Model.ReferralId";

    var schemaModel = {
        id: "Id",
        fields: {
            AttachedFileName: { editable: false },
            FileSize: { editable: false, type: "number" },
            RowGuid: { editable: false },
            Id: { editable: false, defaultValue: 0 },
        }
    };

    var uploadInput = '<input name="files" id="files" type="file" data-role="upload" data-multiple="false" data-async=\'{"saveUrl":"/upload", "autoUpload":true}\'';
    var fileAttachmentRemoveTemplate = "<button onclick='removeAttachment(); return false;' type='button' class='btn'><i class='fa fa-times'></i></button>";

    var columns = [
        {
            field: "AttachedFileName",
            title: 'File Name',
            width: '50%',
            template: "<a href='javascript:downloadAttachment(\"#= AttachedFileName #\", \"#= RowGuid #\", \"#= Id #\")'> #= AttachedFileName #</a>"
        },
        { format: '{0:##,#}', field: "FileSize", title: 'File Size', width: '110px', headerAttributes: { style: 'text-align:Right;' }, attributes: { style: 'text-align:Right;' } }
        ,
         {
             field: "RemoveItem",
             title: ' ',
             width: "15px",
             template: fileAttachmentRemoveTemplate
         }
       // { command: { text: "Remove", click: removeAttachment }, title: "&nbsp;", width: '10px' }
    ];

    var toolbar = [{ name: "create", text: "Add" }];

    var editableTemplate = {
        confirmation: false,
        mode: "popup",
        template: kendo.template($("#fileAttachmentEditTemplate").html())
    };

    var grid_@Model.Id = new EditableGridViewModel("@Model.Id", schemaModel, columns, readUrl, toolbar, editableTemplate);
    ko.applyBindings(grid_@Model.Id, $("#grid-container-@Model.Id")[0]);


    function removeAttachment() {
        if (!confirm('Do you want to delete it?'))
            return;
        var grid = $("#@Model.Id").data("kendoGrid");
        var cell = grid.select();
        var row = cell.closest("tr");
        var dataItem = grid.dataItem(row);
        var isSaveToDb=@Model.UseForReferralDetail.ToString().ToLower();
        var referralId=@Model.ReferralId;
        $.ajax({
            url: "/Referral/RemoveAttachment",
            data: { rowGuid: dataItem.RowGuid, fileName: dataItem.AttachedFileName,isSaveToDatabase:isSaveToDb,referralId:referralId },
            type: "POST",
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.Error == "") {
                    grid.dataSource.remove(dataItem);
                    if (isSaveToDb) {
                        var numOfAttachment= grid.dataSource._data.length;
                        $('#numOfAttachment').html(numOfAttachment);
                    }
                    $("#" + '@Model.Id').parents('form').addClass('dirty');
                    EnableCreateFooterButton(true);
                }
            }
        });
    }

    function downloadAttachment(attachedFileName, rowGuid) {

        var isFormDirty = $("#" + '@Model.Id').parents('form').hasClass('dirty');
        if (isFormDirty)
            $("#" + '@Model.Id').parents('form').addClass("ays-ignore");
        var url = "/Referral/DownloadAttachment?fileName=" + attachedFileName + "&RowGuid=" + rowGuid;
        window.location.href = url;

    }

    // Handle asynchronous upload
    $("#" + '@Model.Id').data().kendoGrid.bind('edit', function (e) {

        $("#files").kendoUpload({
            multiple: false,
            async: {
                saveUrl: '/Referral/uploadattachment',
                autoUpload: true
            },
            upload: function (e) {

                var fileName = $("#AttachedFileName").val();
                var rowGuid = $("#RowGuid").val();

                var uploadStatus = $('.k-upload-status');
                //uploadStatus.css({ 'margin-top': '-8px' });    
               
                if (uploadStatus.length >= 1) uploadStatus[uploadStatus.length - 1].style.marginTop = "-8px";
                e.data = { oldFile: fileName, oldToken: rowGuid};
                $(".k-grid-update").attr('id', 'uploadOk');
                if ($(".k-grid-update").attr('class') != undefined)
                    $(".k-grid-update").attr('class', $(".k-grid-update").attr('class').replace('k-grid-update', 'k-grid-update-temp'));


            },
            success: function (e) {

                $("#FileSize").val(e.response.data.FileSize);
                $("#AttachedFileName").val(e.response.data.AttachedFileName);
                $("#RowGuid").val(e.response.data.RowGuid);
                var selectedFiles = $(".k-widget.k-upload").find("li"); // disable multiple upload for a row.
                var ulContainer = $(".k-widget.k-upload").find("ul"); // disable multiple upload for a row.
                
                if (selectedFiles.length > 1) {
                    selectedFiles.first().remove();

                }
               
                $("#" + '@Model.Id').parents('form').addClass('dirty');
                EnableCreateFooterButton(true);
                // Kendo upload/href doesn't allow to disable the button, need to work around
                if ($(".k-grid-update-temp").attr('class') != undefined)
                    $(".k-grid-update-temp").attr('class', $(".k-grid-update-temp").attr('class').replace('k-grid-update-temp', 'k-grid-update'));
                $('.k-upload-status').css({ 'margin-top': '0px' });

            },
            error: function (e) {
            }
        });
        
    });

    $("#" + '@Model.Id').data().kendoGrid.bind('save', function (e) {

        var grid = $("#" + '@Model.Id').data("kendoGrid");
        e.preventDefault();
        if ($("#AttachedFileName").val() != "") {
            $("#files").attr("data-role", "");
            var firstRow = grid.tbody.find("tr:first");
            var dataItem = grid.dataItem(firstRow);
            var rowGuidTemp = $("#RowGuid").val();
            var fileNameTemp = $("#AttachedFileName").val();
            var fizeSizeTemp = $("#FileSize").val();
            grid.removeRow(dataItem);
            grid.dataSource.remove(dataItem);
            // Update database
            var isSaveToDb=@Model.UseForReferralDetail.ToString().ToLower();
            var referralId=@Model.ReferralId;
            $.ajax({
                url: "/Referral/AddAttachmentToDb",
                data: { rowGuid: rowGuidTemp, fileName: fileNameTemp,fileSize:fizeSizeTemp,isSaveToDatabase:isSaveToDb,referralId:referralId },
                type: "POST",
                dataType: "json",
                async: false,
                success: function (data) {
                }
            });
            grid.dataSource.insert(0, { RowGuid: rowGuidTemp, AttachedFileName: fileNameTemp, FileSize: fizeSizeTemp, Id: 0 });
            if (isSaveToDb) {
                var numOfAttachment= grid.dataSource._data.length;
                $('#numOfAttachment').html(numOfAttachment);
            }
        } else {
            alert('Please select a file attachment.');
        }

    });
    $("#" + '@Model.Id').data().kendoGrid.bind('cancel', function (e) {

        var grid = $("#" + '@Model.Id').data("kendoGrid");
        $("#files").attr("data-role", "");

    });

    // Custom the popup editor buttons and tittle.
    $("#" + '@Model.Id').data().kendoGrid.bind('edit', function (e) {

        var title = " Add Attachment";
        var wnd = $(e.container).data("kendoWindow");
        wnd.setOptions({
            title: title
        });

        var updateBtnText = $(".k-grid-update").html().replace("Update", "Ok");
        $(".k-grid-update").html(updateBtnText);

        var cancelBtnText = $(".k-grid-cancel").html().replace("Cancel", "Cancel");
        $(".k-grid-cancel").html(cancelBtnText);

        $("#files").closest(".k-upload").find("span").text("Select File");

    });

    $("#" + '@Model.Id').data().kendoGrid.bind('dataBound', function (e) {

        $(".k-grid-Open").addClass("ays-ignore");
        ResizeFileAttachmentGrid();

    });

    function preventOkWhileUploading(e) {
        e.preventDefault();
    }

    function GetUnsaveFileAttachments() {
        return eval(grid_@Model.Id).DataSource().GetUnsavedData();
    }

    function RefreshFileAttachments() {

        eval(grid_@Model.Id).DataSource().AcceptChanges();
        eval(grid_@Model.Id).DataSource().read();
    }


    $(document).ready(function () {
        ResizeFileAttachmentGrid();
        var gridElement = $('#@Model.Id');
        var toolbarAdd = gridElement.find(".k-button.k-button-icontext.k-grid-add");
        toolbarAdd.css({ "float": "right" });
    });

    $(window).resize(function () {
        ResizeFileAttachmentGrid();
    });

    function ResizeFileAttachmentGrid() {
        var windowHeight = $(window).outerHeight(true);
        var headerHeight = 67; // Top padding of body
        var footerHeight = 56; // Bottom padding of body      
        var gridBorderNotEditable = 25; // 2 pixels around the grid that cant be removed.

        var gridSiblingsHeight = headerHeight + footerHeight + gridBorderNotEditable;
        var gridMaximumHeight = windowHeight - gridSiblingsHeight;

        SetFileAttachmentHeight(gridMaximumHeight);
    }

    function SetFileAttachmentHeight(newHeight) {
        var gridElement = $('#@Model.Id');

        var contentElement = gridElement.find(".k-grid-content");
        var gridWidget = gridElement.find(".k-widget");
        var gridContentHeightDifference = gridElement.innerHeight() - contentElement.innerHeight();

        gridElement.height(newHeight);

        if (gridContentHeightDifference <= 7) {
            contentElement.height(newHeight - gridContentHeightDifference - 50); // Add button
        }
        else
            contentElement.height(newHeight - gridContentHeightDifference);

    }

</script>
