﻿@using Framework.DomainModel.Entities
@model WorkComp.Models.Referral.ReferralResultViewModel

<script src="@Url.Content("~/Scripts/jquery.PrintArea.js")"></script>
<link rel="stylesheet" href="/Content/order.result.css">
@{
    string contentHtml = "", title = "";
    var objReferralResultDetailVo = Model.ReferralResultDetailVo;
    
    if ( objReferralResultDetailVo != null && objReferralResultDetailVo.IsResult)
    {
        @Html.Raw(objReferralResultDetailVo.ContentHtml)
        @Html.Partial("_DetailReferralResultExtension", Model.ReferralDetailExtention)
    }
    else
    {
        @*<p style="font-size: 16px; color: #000">No Result</p>*@
        <div style="height: 215px; width: 1318px;" class="frame-data content-print">
            <div class="form-report" id="referral-result-printer">
                <div class="header-report">
                    <div class="logo">
                        <img src="/Content/images/logo.png" alt="">
                    </div>
                    <div class="title-report">
                        <h1><span style="color:#000000;">RX REVEAL</span></h1><h2><span style="color:#000000;">WORKER'S COMPENSATION REPORT</span></h2>
                    </div>
                    <div class="address">
                        <div class="left">
                            <p style="color: #000000;">Test by: AFTS Labs</p> <p style="color: #000000;">D/B/A Sterling Healthcare Services</p> <p style="color: #000000;">728 Larkfield Rd. East Northport, NY 11731</p> <p style="color: #000000;">Under the direction of: Dr. Damon Borg, PhD, DABCC</p>
                        </div>
                        <div class="right">
                            <p style="color: #000000;">Customer Service:</p><p style="color: #000000;"><span class="skype_c2c_print_container notranslate">(855) 895-8099</span><span data-ismobile="false" data-isrtl="false" data-isfreecall="false" data-numbertocall="+18558958099" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_text_span">(855) 895-8099</span><span class="skype_c2c_free_text_span"></span></span></span></span></p><p style="color: #000000;">RXTest@sterlinghealthcaresvcs.com</p><p style="color: #000000;">Available: 8:00am - 5:00pm (all time zones)</p>
                        </div>
                    </div>
                </div>
                <hr class="small">
                <hr>
                <div class="content-result">
                    <div class="info">
                        
                        <table class="tbl-info-none">
                            <tbody>
                                <tr>
                                    <td width="30%"><b>Claimant Name:</b> John Smith</td>
                                    <td width="40%" align="center">Agency: Broadspire</td>
                                    <td width="30%" align="right">Sample: Urine</td>
                                </tr>

                                <tr>
                                    <td>Claim Number: 1234567890</td>
                                    <td align="center">Sub-Agency: Perdue Farms</td>
                                    <td align="right">Specimen ID: 235632</td>
                                </tr>
                                <tr>
                                    <td>DOB: 8/25/1980</td>
                                    <td align="center">Adjuster: Anna Smith</td>
                                    <td align="right">Collected: 8/01/2014</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td align="center">Phone: 813-5353533</td>
                                    <td align="right">Received: 8/05/2014</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="right">Reported: 8/06/2014</td>
                                </tr>

                                <tr>
                                    <td><b>Requesting Physician:</b> Scott Smith</td>
                                    <td align="center">Requested by: Cypress care PBM</td>
                                    <td rowspan="4" align="right"><b>Specimen Outcome:<span style="color:red;"> Inconsistent</span></b></td>
                                </tr>
                                <tr>
                                    <td>Phone: 813-5253623</td>
                                    <td align="center">Requested Date: 7/01/2014</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Fax: 813-5636963</td>
                                    <td align="center"> Control #: 012541 </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td align="center">Panel: WC Comprehensive Panel</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                        <h2>Inconsistent Results</h2>
                        <table class="tbl-info">
                            <tbody>
                                <tr>
                                    <td colspan="3" style="background: #d2b48c"><b>Medication Not Reported in Prescription History Detected</b></td>
                                </tr>
                                <tr>
                                    <td width="20%"><b>Drug Name</b></td>
                                    <td width="20%"><b>Metabolites</b></td>
                                    <td width="60%"><b>Considerations</b></td>
                                </tr>
                                <tr>
                                    <td>Nortriptyline</td>
                                    <td>Nortriptyline</td>
                                    <td rowspan="2" style="border-bottom: none;border-right: none;">
                                        <ul><li><span style="color:#000000;">Discuss with Injured Worker and Prescriber that all medications must be disclosed for safe, appropriate prescribing</span></li><li><span style="color:#000000;">Check for potential drug to drug interactions and contraindications</span></li><li><span style="color:#000000;">Review state PDMP for any additional non-disclosed medications</span></li><li><span style="color:#000000;">Obtain complete medical records from previous providers</span></li><li><span style="color:#000000;">After through assessment consider increasing documented risk level of the Injured Worker</span></li><li><span style="color:#000000;">Determine if Opioid agreement is in effect; obtain and review with prescriber and injured worker as appropriate <br></span></li></ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tramadol</td>
                                    <td style="border-right: 1px solid #000;">Tramadol</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="tbl-info">
                            <tbody>
                                <tr>
                                    <td colspan="3" style="background: #d2b48c"><b>Illicit Drugs Found</b></td>
                                </tr>
                                <tr>
                                    <td width="20%"><b>Drug Name</b></td>
                                    <td width="20%"><b>Metabolites</b></td>
                                    <td width="60%"><b>Considerations</b></td>
                                </tr>
                                <tr>
                                    <td>Cocaine</td>
                                    <td>Benzoylecgonine</td>
                                    <td style="border-bottom: none;border-right: none;">
                                        <ul><li><span style="color:#000000;">Discuss with Injured Worker and Prescriber that all medications must be disclosed for safe, appropriate prescribing</span></li><li><span style="color:#000000;">Check for potential drug to drug interactions and contraindications</span></li><li><span style="color:#000000;">Review state PDMP for any additional non-disclosed medications</span></li><li><span style="color:#000000;">Obtain complete medical records from previous providers</span></li><li><span style="color:#000000;">After through assessment consider increasing documented risk level of the Injured Worker</span></li><li><span style="color:#000000;">Determine if Opioid agreement is in effect; obtain and review with prescriber and injured worker as appropriate <br></span></li></ul>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                        <table class="tbl-info">
                            <tbody>
                                <tr>
                                    <td colspan="3" style="background: #d2b48c"><b>Ethyl Alcohol Detected</b></td>
                                </tr>
                                <tr>
                                    <td width="20%"><b>Test</b></td>
                                    <td width="20%"><b>Metabolites</b></td>
                                    <td width="60%"><b>Considerations</b></td>
                                </tr>
                                <tr>
                                    <td>Ethyl Alcohol</td>
                                    <td>Ethyl Glucuronide Ethyl Sulfate</td>
                                    <td style="border-bottom: none;border-right: none;">
                                        <ul><li><span style="color:#000000;">Discuss with Injured Worker and Prescriber that all medications must be disclosed for safe, appropriate prescribing</span></li><li><span style="color:#000000;">Check for potential drug to drug interactions and contraindications</span></li><li><span style="color:#000000;">Review state PDMP for any additional non-disclosed medications</span></li><li><span style="color:#000000;">Obtain complete medical records from previous providers</span></li><li><span style="color:#000000;">After through assessment consider increasing documented risk level of the Injured Worker</span></li><li><span style="color:#000000;">Determine if Opioid agreement is in effect; obtain and review with prescriber and injured worker as appropriate <br></span></li></ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h2>Other Considerations:</h2>
                        <div>
                            <ul><li><span style="color:#000000;">Schedule another drug test within 1 month and continue to monitor with monthly tests until continued compliance can be documented</span></li><li><span style="color:#000000;">Consider implementing a process requiring Utilization Review or obtain a written statement of medical necessity from the prescriber before authorizing prescribed controlled substances</span></li><li><span style="color:#000000;">Consider alternative treatment options versus prescribing any additional opioids until further assessment and consultation with prescribing provider(s) can occur</span></li></ul>
                        </div>
                        <br>
                        <p>
                            <em>
                                <span style="color:#787878;">
                                    See the detailed report for claimant
                                    JACK CORNETT for complete test results and analysis. For any
                                    questions or to order additional services, please contact Sterling
                                    HealthcareService’s workers’ compensation operations at <span class="skype_c2c_print_container notranslate">(855) 895-8099</span><span data-ismobile="false" data-isrtl="false" data-isfreecall="false" data-numbertocall="+18558958099" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_text_span">(855) 895-8099</span><span class="skype_c2c_free_text_span"></span></span></span></span>.
                                </span>
                            </em>
                        </p><p></p><p><strong><em><span style="color:#000000;">Disclaimer: Rx Reveal comments do not represent a diagnosis and are for informational purposes only. The treating physician must make all clinical decisions and the physician is responsible for the interpretation of RX Reveal Report. AFTS Labs does not assume responsibility for patient outcomes based upon this information.</span> </em> </strong> </p><p><strong><em><span style="color:#000000;">All drug screens are performed by immunoassay.</span></em></strong></p><p><strong><em><span style="color:#000000;">All drug confirmations are performed by gas chromatography/mass spectrometry (GC/MS or liquid chromatography tandem mass spectrometry (LC/MS/MS). </span></em> </strong> </p><p><strong><em><span style="color:#000000;">Immunoassays provide only a preliminary analytical test result.</span></em> </strong> </p><p><strong><em><span style="color:#000000;">Validity testing ensures that submitted specimens are unadulterated and/or within normal human physiological parameters. Specimens which fail validity testing are considered invalid. Physicians should use discretion when interpreting analytical results.</span> </em> </strong> </p><p><strong><em><span style="color:#000000;">*Very low morphine positives can result from dietary sources such as foodstuffs containing poppy seeds.</span></em></strong></p>
                        <br>
                        <br>
                        <hr class="small">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>Claimant:  <b>SUZANNE  SUPPLE</b></td>
                                    <td align="center">Referral ID: <b>165</b></td>
                                    <td align="right">Report Date: <b>May 27 2014</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

}

    