﻿@{
    ViewBag.Title = "TestKendo";
    Layout = null;
}


<div id="referral-result-search-email">
    <div style="border-bottom: 1px solid #DCDCDC;border-right: 1px solid #DCDCDC;float: left; height: 400px;width: 500px;">
        <div style="height: 30px; margin-top: 2px; background: none repeat scroll 0 0 #F2F2F2;border-bottom: 1px solid #DCDCDC;">
            <span style="margin-left: 5px;">Available: </span>
            <span style="width: 285px; margin-top: 2px;" class="k-widget k-combobox k-header" >
                <span class="k-dropdown-wrap k-state-default">
                    <input class="k-input" type="text"/>
                    <span class="k-select" >
                        <span class="k-icon k-i-search">select</span>
                    </span>
                </span>
            </span>
        </div>
        <div style="height: 360px;" id="grid-search-email">
                    
        </div>
    </div>
    <div style="border-bottom: 1px solid #DCDCDC;float: left;height: 400px;width: 40px;">
        <div style="margin-top:150px">
            <button class="k-button" style="margin: 2px 6px;width: 28px;" data-bind=""><span class="fa fa-chevron-right"></span></button>
            <button class="k-button" style="margin: 2px 6px;width: 28px;" data-bind=""><span class="fa fa-chevron-left"></span></button>
        </div>
    </div>
    <div style="border-bottom: 1px solid #DCDCDC;border-left: 1px solid #DCDCDC;float: left;height: 400px;width: 500px;">
        <div style="height: 30px; margin-top: 2px; background: none repeat scroll 0 0 #F2F2F2;border-bottom: 1px solid #DCDCDC; text-align: center;">
            <span style="margin-left: 5px;">Your Selections</span>
        </div>
    </div>

    <div style="background-color: #f2f2f2; border-top: 1px solid #dcdcdc; height: 40px; line-height: 40px; position: fixed; width: 100%; bottom: 0; clear: left;">
        <button class="k-button" style="float: right; margin-top: 7px; margin-left: 7px; margin-right: 5px;" data-bind=""><span class="fa fa-times"></span>&nbsp;Cancel</button>
        <button class="k-button" style="float: right; margin-top: 7px; margin-left: 7px" data-bind=""><span class="fa fa-envelope"></span>&nbsp;Select</button>
    </div>
</div>

<script>
    $(document).ready(function() {
        var schemaFields = {
            Id: { editable: false, type: "number" },
            TypeName: { editable: false },
            Name: { editable: false },
            Email: { editable: false },
        };
        var columns = [
        { field: "IsChecked", title: "&nbsp;", attributes: { style: 'text-align:left;' }, width: "30px", sortable: false, filterable: false, menu: false, template: "<input type='checkbox' class='check_row checkbox' onClick='checkRowInGrid(this,${Id});'/>", headerTemplate: "<input type='checkbox' class='check_all_row checkbox' onClick='checkAllRowInGrid(this);'/>" },
        { field: "TypeName", title: "Type", width: "50px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Name", title: "Name", width: "100px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Email", title: "Email", width: "100px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        ];
          
        $("#grid-search-email").kendoGrid({
            dataSource: {
                type: "json",
                serverPaging: true,
                serverSorting: true,
                pageSize: 100,
                transport: {
                    read: {
                        url: '/Referral/GetListEmailUser',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    },
                    parameterMap: function (data, type) {
                        console.log(data, type);
                        var result = {
                            pageSize: data.pageSize,
                            skip: data.skip,
                            take: data.take
                        };
                        return result;
                    },
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: schemaFields
                    },
                    data: "Data",
                    total: "TotalRowCount"
                }

            },
            filterable: false,
            groupable: false,
            reorderable: false,
            resizable: false,
            sortable: {
                mode: "multiple",
                allowUnsort: false
            },
            height: "360px",
            selectable: "single",
            scrollable: {
                virtual: true
            },
            columns: columns,
        });
    });
</script>
