﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Referral.DashboardTestingInfoForReferralViewModel
<!-- ko stopBinding: true -->
<div id="testing-info-referral">
    <table width="99%" cellpadding="0" borderspacing="0">
        <!--Start Panel Type-->
        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <div class="k-edit-label">
                                Sample Testing Type
                            </div>
                            <div class="k-edit-field">
                                <span class="k-checkbox" style="margin-left: -4px;">
                                    <input id="CheckOralFluid" type="checkbox" class="k-checkbox"
                                        data-bind="checked: CheckOralFluid" />
                                </span>
                                <label>Oral Fluid</label>

                                <span class="k-checkbox" style="margin-left: -4px;">
                                    <input id="CheckBlood" type="checkbox" class="k-checkbox"
                                        data-bind="checked: CheckBlood" />
                                </span>
                                <label>Blood</label>

                                <span class="k-checkbox" style="margin-left: -4px;">
                                    <input id="CheckHair" type="checkbox" class="k-checkbox"
                                        data-bind="checked: CheckHair" />
                                </span>
                                <label>Hair</label>

                                <span class="k-checkbox" style="margin-left: -4px;">
                                    <input id="CheckUrine" type="checkbox" class="k-checkbox"
                                        data-bind="checked: CheckUrine" />
                                </span>
                                <label>Urine</label>
                            </div>
                        </td>
                        <td>
                            @Html.PanelTypeLookup("PanelType", "Panel Type", new { data_bind = "value:PanelTypeId" }, false, "ClaimNumberInfoGroup", "/PanelType/GetLookupForReferral", 0, @Model.PanelTypeDataSource, true)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.WorkcompTextBox("PanelTypeCode", "Panel Code", "PanelTypeCode", false, 100, true)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a style="margin-left: 10px; color: #094AB2" href="javascript:void(0);" data-bind="click: ClickShowTesting">
                                <span data-bind="if: ShowTesting">
                                    <i style="font-size: 16px;" class="fa fa-caret-square-o-up"></i>
                                </span>
                                <span data-bind="ifnot: ShowTesting">
                                    <i style="font-size: 16px;" class="fa fa-caret-square-o-down"></i>
                                </span>
                                &nbsp;<span data-bind="text: TextShowTesting"></span>
                            </a>
                            <div data-bind="visible: ShowTesting">
                                <div id="grid-container-panel-code" style="width: 100%; border: 1px solid #dcdcdc;">
                                    <div id="panelCode" style="width: 100%"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--End Panel Type-->


        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Collection Method</span></div>
            </td>
        </tr>
        <!--Start Collection method-->
        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td>
                            @Html.WorkcompDropdownList("CollectionMethodId", "Collection Method", "CollectionMethodId", "/Common/CollectionMethodLookup", new { data_bind = "value: CollectionMethodId" }, @Model.CollectionMethodId)
                        </td>
                        <td>
                            <div data-bind="style: { display: CheckIsCollectionSite()? 'block' : 'none' }">
                                @Html.CollectionSiteLookup("CollectionSite", "Collection Site", new { data_bind = "value: CollectionSiteId" }, "", 0, @Model.CollectionSiteDataSource, true)
                            </div>
                            <div data-bind="style: { display: CheckIsCollectionSite()? 'none' : 'block' }">
                                @Html.TreatingPhysicianLookup("TreatingPhysician", "Treating Physician", new { data_bind = "value: TreatingPhysicianId" }, "", 0, @Model.TreatingPhysicianDataSource, true)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div data-bind="style: { display: CheckIsCollectionSite()? 'block' : 'none' }">
                                <table style="width: 100%">
                                    <tr>
                                        <td>
                                            @Html.WorkcompTextArea("CollectionSiteSpecialInstructions", "Special Instructions", "CollectionSiteSpecialInstructions", false, false, "k-textbox", null, "", 2, 2, 29, 70)
                                        </td>
                                        <td>
                                            @Html.WorkcompDatePicker("CollectionSiteDate", "Collection Date", "CollectionSiteDate", "MM/dd/yyyy")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.InputMasked("CollectionSitePhone", "Phone", "CollectionSitePhone", "(999) 000-0000")
                                        </td>
                                        <td>
                                            @Html.InputMasked("CollectionSiteFax", "Fax", "CollectionSiteFax", "(999) 000-0000")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.WorkcompTextBox("CollectionSiteAddress", "Address", "CollectionSiteAddress", false, 200)
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div data-bind="style: { display: CheckIsCollectionSite()? 'none' : 'block' }">
                                <table style="width: 100%">
                                    <tr>
                                        <td>
                                            @Html.WorkcompDatePicker("NextMdVisitDate", "Next MD Visit", "NextMdVisitDate", "MM/dd/yyyy")
                                        </td>
                                        <td>
                                            @Html.NpiNumberLookup("NpiNumber", "Npi Number", new { data_bind = "value: NpiNumberId" }, "", 0, @Model.NpiNumberDataSource, true)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.WorkcompTextArea("TreatingPhysicianSpecialHandling", "Special Handling", "TreatingPhysicianSpecialHandling", false, false, "k-textbox", null, "", 2, 2, 29, 70)
                                        </td>
                                        <td>
                                            @Html.InputMasked("TreatingPhysicianPhone", "Phone", "TreatingPhysicianPhone", "(999) 000-0000")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.InputMasked("TreatingPhysicianFax", "Fax", "TreatingPhysicianFax", "(999) 000-0000")
                                        </td>
                                        <td>
                                            @Html.WorkcompTextBox("TreatingPhysicianAddress", "Address", "TreatingPhysicianAddress", false, 200)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.WorkcompTextBox("TreatingPhysicianEmail", "Email", "TreatingPhysicianEmail", false, 100)
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--End Collection method-->
    </table>
</div>
<!-- /ko -->
<script>
    function ReferralTestingInfoViewModel() {
        var self = this;
        // Start Panel Type
        self.PayerId = ko.observable(@Model.PayerId);
        self.PayerName = ko.observable('@Model.PayerName');
        self.CheckOralFluid = ko.observable(@Model.CheckOralFluid.ToString().ToLower());
        self.CheckBlood = ko.observable(@Model.CheckBlood.ToString().ToLower());
        self.CheckHair = ko.observable(@Model.CheckHair.ToString().ToLower());
        self.CheckUrine = ko.observable(@Model.CheckUrine.ToString().ToLower());
        self.PanelTypeId = ko.observable(@Model.PanelTypeInfo.PanelTypeId);
        self.PanelTypeCode = ko.observable(@Html.Raw(Json.Encode(@Model.PanelTypeInfo.PanelTypeCode)));

        $(document).ready(function() {
            if (!_.isUndefined(lookup_PanelType) && lookup_PanelType != null) {
                lookup_PanelType.ParentItems([{ name: "PayerId", value: self.PayerId(), text: self.PayerName() }]);
            }
        });

        self.PayerId.subscribe(function(val) {
            console.log(val)
        });


        self.ShowTesting = ko.observable(false);
        self.ClickShowTesting = function () {
            var temp = !self.ShowTesting();
            self.ShowTesting(temp);
            self.TextShowTesting(temp ? 'Hide' : 'Show');
        };

        self.TextShowTesting = ko.observable('Show');

        self.HiddenUrine = ko.computed(function () {
            if (self.CheckUrine()) {
                return false;
            } else {
                return true;
            }
        }, self);
        self.HiddenBlood = ko.computed(function () {
            if (self.CheckBlood()) {
                return false;
            } else {
                return true;
            }
        }, self);
        self.HiddenHair = ko.computed(function () {
            if (self.CheckHair()) {
                return false;
            } else {
                return true;
            }
        }, self);
        self.HiddenOralFluid = ko.computed(function () {
            if (self.CheckOralFluid()) {
                return false;
            } else {
                return true;
            }
        }, self);


        refreshPanelGrid();
        var editableTemplate = {
            editable: false,
        };

        var gridId = 'panelCode';

        Postbox.messages.subscribe(function (newValue) {
            var idPanelType = newValue.value;
            getInfoWhenChangePanelTypeInReferral(idPanelType);
        }, self, "PanelType_ClaimNumberInfoGroup");

        Postbox.messages.subscribe(function (newValue) {
            var idPanelType = newValue.value;
            getInfoWhenChangePanelTypeInReferral(idPanelType);
        }, self, "PanelTypeReturnPopup_ClaimNumberInfoGroup");

        Postbox.messages.subscribe(function (newValue) {
            var idPanelType = newValue.value;
            getInfoWhenChangePanelTypeInReferral(idPanelType);
        }, self, "PanelTypeReturnPopup_ClaimNumberInfoGroup");

        function refreshPanelGrid() {
            var idPanelType = 0;
            if (self.PanelTypeId() == undefined) {
                idPanelType = 0;
            } else {
                idPanelType = self.PanelTypeId();
            }
            // Load the basic grid with selected panel type
            var readUrl = "/PanelType/GetPanelCodes?panelTypeId=" + idPanelType;
            // caculate column and schema
            var schemaFields = {
                id: "RowGuid",
                fields: {
                    RowGuid: { editable: false, nullable: false },
                    Id: { editable: false, nullable: false },
                    Panel: { editable: false, },
                    CptCode: { editable: false },
                    Urine: { editable: false },
                    OralFluid: { editable: false },
                    Blood: { editable: false },
                    Hair: { editable: false },
                }
            };
            var columns = [
                  {
                      field: "Panel.Name",
                      title: "Name",
                      width: "100",
                  },
                   {
                       field: "Urine",
                       title: 'Urine',
                       width: "100",
                       hidden: self.HiddenUrine()
                   },
                   {
                       field: "OralFluid",
                       title: 'Oral Fluid',
                       width: "100",
                       hidden: self.HiddenOralFluid()
                   },
                   {
                       field: "Blood",
                       title: 'Blood',
                       width: "100",
                       hidden: self.HiddenBlood()
                   },
                   {
                       field: "Hair",
                       title: 'Hair',
                       width: "100",
                       hidden: self.HiddenHair()
                   }
            ];
            var gridPanelCode = new EditableGridViewModel(gridId, schemaFields, columns, readUrl, null, editableTemplate);
            ko.cleanNode($("#grid-container-panel-code")[0]);
            ko.applyBindings(gridPanelCode, $("#grid-container-panel-code")[0]);
            // Show hiden header
            var gridElement = $('#' + gridId);
            var listHeaderElement = gridElement.find(".k-grid-header-wrap").find("th");
            listHeaderElement.each(function () {
                var $td = $(this);
                if ($td.attr("data-field") == "OralFluid") {
                    if (self.CheckOralFluid()) {
                        $td.show();
                    } else {
                        $td.hide();
                    }
                }
                if ($td.attr("data-field") == "Blood") {
                    if (self.CheckBlood()) {
                        $td.show();
                    } else {
                        $td.hide();
                    }
                }
                if ($td.attr("data-field") == "Hair") {
                    if (self.CheckHair()) {
                        $td.show();
                    } else {
                        $td.hide();
                    }
                }
                if ($td.attr("data-field") == "Urine") {
                    if (self.CheckUrine()) {
                        $td.show();
                    } else {
                        $td.hide();
                    }
                }
            });
        }

        function getInfoWhenChangePanelTypeInReferral(idPanelType) {
            // get data for referral
            var url = "/Referral/GetInfoWhenChangePanelType";
            var data = { id: idPanelType };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.PanelTypeCode(result.PanelTypeCode);
                        self.PanelTypeId(result.PanelTypeId);
                    } else {
                        self.PanelTypeCode("");
                        self.PanelTypeId(0);
                    }
                }
            });
            refreshPanelGrid();
        }


        self.CheckOralFluid.subscribe(function (newValue) {
            refreshPanelGrid();
        });
        self.CheckHair.subscribe(function (newValue) {
            refreshPanelGrid();
        });
        self.CheckUrine.subscribe(function (newValue) {
            refreshPanelGrid();
        });
        self.CheckBlood.subscribe(function (newValue) {
            refreshPanelGrid();
        });

        // Start collection method

        self.CollectionMethodId = ko.observable(@Model.PanelTypeInfo.PanelTypeId);
        self.CollectionSiteSpecialInstructions = ko.observable(@Html.Raw(Json.Encode(@Model.CollectionSiteSpecialInstructions)));
        self.CollectionSiteDate = ko.observable(@Html.Raw(Json.Encode(@Model.CollectionSiteDate == null ? "" : Model.CollectionSiteDate.Value.ToString("MM/dd/yyyy"))));
        self.CollectionSiteId = ko.observable(@Model.CollectionSiteInfo.CollectionSiteId);
        self.CollectionSitePhone = ko.observable(@Html.Raw(Json.Encode(@Model.CollectionSiteInfo.CollectionSitePhone)));
        self.CollectionSiteFax = ko.observable(@Html.Raw(Json.Encode(@Model.CollectionSiteInfo.CollectionSiteFax)));
        self.CollectionSiteAddress = ko.observable(@Html.Raw(Json.Encode(@Model.CollectionSiteInfo.CollectionSiteAddress)));
        self.LoadFirstCollectionSite = ko.observable(true);

        self.TreatingPhysicianSpecialHandling = ko.observable(@Html.Raw(Json.Encode(@Model.TreatingPhysicianSpecialHandling)));
        self.NextMdVisitDate = ko.observable(@Html.Raw(Json.Encode(@Model.NextMdVisitDate == null ? "" : Model.NextMdVisitDate.Value.ToString("MM/dd/yyyy"))));
        self.NpiNumberId = ko.observable(@Model.TreatingPhysicianInfo.TreatingPhysicianId);
        self.TreatingPhysicianId = ko.observable(@Model.TreatingPhysicianInfo.TreatingPhysicianId);
        self.TreatingPhysicianPhone = ko.observable(@Html.Raw(Json.Encode(@Model.TreatingPhysicianInfo.TreatingPhysicianPhone)));
        self.TreatingPhysicianFax = ko.observable(@Html.Raw(Json.Encode(@Model.TreatingPhysicianInfo.TreatingPhysicianFax)));
        self.TreatingPhysicianAddress = ko.observable(@Html.Raw(Json.Encode(@Model.TreatingPhysicianInfo.TreatingPhysicianAddress)));
        self.TreatingPhysicianEmail = ko.observable(@Html.Raw(Json.Encode(@Model.TreatingPhysicianInfo.TreatingPhysicianEmail)));
        self.NpiNumberText = ko.observable(@Html.Raw(Json.Encode(@Model.TreatingPhysicianInfo.NpiNumberText)));
        self.TreatingPhysicianName = ko.observable(@Html.Raw(Json.Encode(@Model.TreatingPhysicianInfo.TreatingPhysicianName)));
        self.LoadFirstTreatingPhysician = ko.observable(true);
        // End collection method
        self.CheckIsCollectionSite = ko.computed(function () {
            if (self.CollectionMethodId() == 1) {
                return true;
            } else {
                return false;
            }
        }, self);

        function getInfoWhenChangeCollectionSiteInReferral(idCollectionSite) {
            if (self.LoadFirstCollectionSite()) {
                return;
            }
            // get data for referral
            var url = "/Referral/GetInfoWhenChangeCollectionSite";
            var data = { id: idCollectionSite };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.CollectionSitePhone(result.CollectionSitePhone);
                        self.CollectionSiteAddress(result.CollectionSiteAddress);
                        self.CollectionSiteFax(result.CollectionSiteFax);
                        self.CollectionSiteId(result.CollectionSiteId);
                    } else {
                        self.CollectionSitePhone("");
                        self.CollectionSiteAddress("");
                        self.CollectionSiteFax("");
                        self.CollectionSiteId(0);
                    }
                }
            });
        }

        Postbox.messages.subscribe(function (newValue) {
            if (self.LoadFirstCollectionSite()) {
                return;
            }
            var idCollectionSite = newValue.value;
            getInfoWhenChangeCollectionSiteInReferral(idCollectionSite);
        }, self, "CollectionSite_");

        Postbox.messages.subscribe(function (newValue) {
            if (self.LoadFirstCollectionSite()) {
                return;
            }
            var idCollectionSite = newValue.value;
            getInfoWhenChangeCollectionSiteInReferral(idCollectionSite);
        }, self, "CollectionSiteReturnPopup_");

        Postbox.messages.subscribe(function (newValue) {
            if (self.LoadFirstTreatingPhysician()) {
                return;
            }
            var idTreatingPhysician = newValue.value;
            getInfoWhenChangeTreatingPhysicianInReferral(idTreatingPhysician);
            // Update npi number
            var clientData = {
                KeyId: self.TreatingPhysicianId(),
                DisplayName: self.NpiNumberText()
            };
            Postbox.messages.notifySubscribers(clientData, "NpiNumber_" + Postbox.CHANGE_DATASOURCE_FOR_COMBOBOX);
        }, self, "TreatingPhysician_");

        Postbox.messages.subscribe(function (newValue) {
            if (self.LoadFirstTreatingPhysician()) {
                return;
            }
            var idTreatingPhysician = newValue.value;
            getInfoWhenChangeTreatingPhysicianInReferral(idTreatingPhysician);
            // Update npi number
            var clientData = {
                KeyId: self.TreatingPhysicianId(),
                DisplayName: self.NpiNumberText()
            };
            Postbox.messages.notifySubscribers(clientData, "NpiNumber_" + Postbox.CHANGE_DATASOURCE_FOR_COMBOBOX);
        }, self, "TreatingPhysicianReturnPopup_");

        Postbox.messages.subscribe(function (newValue) {
            if (self.LoadFirstTreatingPhysician()) {
                return;
            }
            var idTreatingPhysician = newValue.value;
            getInfoWhenChangeTreatingPhysicianInReferral(idTreatingPhysician);
            // Update treating physician
            var clientData = {
                KeyId: self.TreatingPhysicianId(),
                DisplayName: self.TreatingPhysicianName()
            };
            Postbox.messages.notifySubscribers(clientData, "TreatingPhysician_" + Postbox.CHANGE_DATASOURCE_FOR_COMBOBOX);
        }, self, "NpiNumber_");

        Postbox.messages.subscribe(function (newValue) {
            if (self.LoadFirstTreatingPhysician()) {
                return;
            }
            var idTreatingPhysician = newValue.value;
            getInfoWhenChangeTreatingPhysicianInReferral(idTreatingPhysician);
            // Update treating physician
            var clientData = {
                KeyId: self.TreatingPhysicianId(),
                DisplayName: self.TreatingPhysicianName()
            };
            Postbox.messages.notifySubscribers(clientData, "TreatingPhysician_" + Postbox.CHANGE_DATASOURCE_FOR_COMBOBOX);
        }, self, "NpiNumberReturnPopup_");

        function getInfoWhenChangeTreatingPhysicianInReferral(idTreatingPhysician) {
            if (self.LoadFirstTreatingPhysician()) {
                return;
            }
            // get data for referral
            var url = "/Referral/GetInfoWhenChangeTreatingPhysician";
            var data = { id: idTreatingPhysician };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.TreatingPhysicianPhone(result.TreatingPhysicianPhone);
                        self.TreatingPhysicianAddress(result.TreatingPhysicianAddress);
                        self.TreatingPhysicianFax(result.TreatingPhysicianFax);
                        self.TreatingPhysicianId(result.TreatingPhysicianId);
                        self.TreatingPhysicianEmail(result.TreatingPhysicianEmail);
                        self.NpiNumberText(result.NpiNumberText);
                        self.TreatingPhysicianName(result.TreatingPhysicianName);
                    } else {
                        self.TreatingPhysicianPhone("");
                        self.TreatingPhysicianAddress("");
                        self.TreatingPhysicianFax("");
                        self.TreatingPhysicianEmail("");
                        self.TreatingPhysicianId(0);
                        self.NpiNumberText("");
                        self.TreatingPhysicianName("");
                    }
                }
            });
        }


        Postbox.messages.subscribe(function (newValue) {
            var idCollectionMethod = newValue.value;
            self.CollectionMethodId(idCollectionMethod);
        }, self, Postbox.WORKCOMP_DROPDOWN_CHANGE + "_CollectionMethod");

    }
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var testingInfoViewModel = new ReferralTestingInfoViewModel();
    ko.applyBindings(testingInfoViewModel, $("#testing-info-referral")[0]);
    $(document).ready(function () {
        testingInfoViewModel.LoadFirstCollectionSite(false);
        testingInfoViewModel.LoadFirstTreatingPhysician(false);
    });
    function GetTestingInfoViewModel() {
        return {
            PanelTypeId: testingInfoViewModel.PanelTypeId(),
            CollectionMethodId: testingInfoViewModel.CollectionMethodId(),
            CollectionSiteId: testingInfoViewModel.CollectionSiteId(),
            CollectionSiteSpecialInstructions: testingInfoViewModel.CollectionSiteSpecialInstructions(),
            CollectionSiteDate: testingInfoViewModel.CollectionSiteDate(),
            CollectionSitePhone: testingInfoViewModel.CollectionSitePhone(),
            CollectionSiteFax: testingInfoViewModel.CollectionSiteFax(),
            CollectionSiteAddress: testingInfoViewModel.CollectionSiteAddress(),
            TreatingPhysicianId: testingInfoViewModel.TreatingPhysicianId(),
            NextMdVisitDate: testingInfoViewModel.NextMdVisitDate(),
            TreatingPhysicianSpecialHandling: testingInfoViewModel.TreatingPhysicianSpecialHandling(),
            TreatingPhysicianPhone: testingInfoViewModel.TreatingPhysicianPhone(),
            TreatingPhysicianFax: testingInfoViewModel.TreatingPhysicianFax(),
            TreatingPhysicianAddress: testingInfoViewModel.TreatingPhysicianAddress(),
            TreatingPhysicianEmail: testingInfoViewModel.TreatingPhysicianEmail(),
            CheckOralFluid: testingInfoViewModel.CheckOralFluid(),
            CheckBlood: testingInfoViewModel.CheckBlood(),
            CheckHair: testingInfoViewModel.CheckHair(),
            CheckUrine: testingInfoViewModel.CheckUrine(),
        };

    }
    
</script>
