﻿@using WorkComp.Models.Referral
@model DashboardReferralDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="referral-form">
    <div id="referral-create" style="width:100%;float: left;">
        @Html.Partial("~/Views/Referral/_Shared.cshtml",Model.SharedViewModel)        
    </div>
</form>

@section FooterActions
{
    @Model.AddFooterAction("Create&New", "k-update", "Postbox.FOOTER_ACTION_SAVE_AND_NEW")
    @Model.AddFooterAction("Create", "k-update", "Postbox.FOOTER_ACTION_SAVE")
    @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

<script type="text/javascript">

    function ReferralViewModel() {
        var self = this;
     
        // All validation messages to the postbox for the _ValidationSummary to display.
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        Postbox.messages.subscribe(function () {
            var saveData =
                 {
                     SharedParameter: ko.toJSON(GetSharedViewModel()),
                     ClaimInfoParams: ko.toJSON(GetClaimInfoViewModel()),
                     ReasonReferralParams: getSelectedItemForDualSelectTreeView(),
                     ReferralInfoParams: ko.toJSON(GetReferralInfoViewModel()),
                     IcdInfoParams: GetAllIcd(),
                     TestingInfoParams: ko.toJSON(GetTestingInfoViewModel()),
                     MedicationHistoryInfoParams: ko.toJSON(GetMedicationHistoryInfoViewModel()),
                     TaskGroupInfoParams: GetTaskGroupInfo(),
                     TaskGroupIdSelected:GetTaskGroupIdSelected(),
                     AttachmentInfoParams: GetUnsaveFileAttachments()
                 };

            $('form').Save("/Referral/Create", saveData,
                function (keyID) {
                    //window.location.href = "/Referral/Update/" + keyID;
                    $('form').Close("CreateReferral_" + keyID);

                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, true);
        }, self, Postbox.FOOTER_ACTION_SAVE);
        
        Postbox.messages.subscribe(function () {
            var saveData =
                  {
                      SharedParameter: ko.toJSON(GetSharedViewModel()),
                      ClaimInfoParams: ko.toJSON(GetClaimInfoViewModel()),
                      ReasonReferralParams: getSelectedItemForDualSelectTreeView(),
                      ReferralInfoParams: ko.toJSON(GetReferralInfoViewModel()),
                      IcdInfoParams: GetAllIcd(),
                      TestingInfoParams: ko.toJSON(GetTestingInfoViewModel()),
                      MedicationHistoryInfoParams: ko.toJSON(GetMedicationHistoryInfoViewModel()),
                      TaskGroupInfoParams: GetTaskGroupInfo(),
                      TaskGroupIdSelected: GetTaskGroupIdSelected(),
                      AttachmentInfoParams: GetUnsaveFileAttachments()
                  };

            $('form').Save("/Referral/Create", saveData,
                function (keyID) {
                    alert("@Model.CreateSuccessText");
                    window.location.href = "/Referral/Create";
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, true);
        }, self, Postbox.FOOTER_ACTION_SAVE_AND_NEW);

        Postbox.messages.subscribe(function () {
            $('form').Close(0);
        }, self, Postbox.FOOTER_ACTION_CLOSE);
    }
  
    ko.applyBindings(new ReferralViewModel(), $("#referral-create")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
   
</script>
