﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Referral.ReferralEmailTemplateDetailViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<!-- ko stopBinding: true -->
<script src="@Url.Content("~/Scripts/jquery.PrintArea.js")"></script>
<form id="email-template-form">
    <div id="emailtemplate-detail">
        <input type="hidden" name="EmailTemplateId" id="EmailTemplateId" value="@Model.EmailTemplateId" />
        <input type="hidden" name="Id" id="Id" value="@Model.Id"/>
        <input type="hidden" name="EmailFrom" id="EmailFrom" value="@Model.EmailFrom"/>
        <input type="hidden" name="DisplayName" id="DisplayName" value="@Model.DisplayName"/>
        <ul>
            <li class="k-state-active" index="infomation">Information</li>
            <li index="sendemail">Send email</li>
            <li index="sendfax">Send fax</li>
            <li index="print">Print</li>
        </ul>
        <div>
            <table width="100%" cellpadding="0" borderspacing="0">
                <tr>
                    <td colspan="2">
                        @Html.WorkcompTextArea("EmailSubject", "Subject", "EmailSubject", true)
                    </td>
                </tr>
                <tr>
                    @Html.WorkcompEditor("EmailContent", "Content", "EmailContent", false, 456, 400)
                </tr>
            </table>
        </div>


        <div>
            <table width="100%" cellpadding="0" borderspacing="0">
                <tr>
                    <td colspan="2">
                        <div class="title-line"><span class="header-text">Setup Email Info</span></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="width: 800px; float: left;">
                            <div class="k-edit-label" style="width: 115px; float: left;">
                                <label>Email address</label>
                            </div>
                            <div class="k-edit-field" style="width: 680px; float: left; margin-left: 5px;">
                                <span class="multi-email" style="width: 640px;">
                                    
                                    @{
                                        <ul id="ul-mutil-email">
                                            <div id="listEmailTo">
                                                @if (Model.ListEmailAddressSetup != null)
                                                {
                                                    foreach (var item in Model.ListEmailAddressSetup.Where(o => !string.IsNullOrEmpty(o.Email)))
                                                    {
                                                        <li><span class="email" title="@item.EmailDisplay" data-role="tooltip">@item.Email</span><a href="#" onclick=" DeleteEmail(this, '@item.Email') " ><span class="k-icon k-delete"></span></a></li>
                                                    }
                                                }
                                            </div>
                                            <li>
                                                <input type="text" id="NewEmailAddress" style="background: none; border: none; font-style: italic;" placeholder="Add new email" /></li>
                                        </ul>
                                        <input type="hidden" name="EmailAddressSetup" id="EmailAddressSetup" data-bind="value:EmailAddressSetup" />
                                    }
                                </span>
                                <span class="k-select" data-bind="click: ClickWindowSearch" style="height: 35px; line-height: 35px; margin-left: 5px;">
                                    <span class="k-icon k-i-search">select</span>
                                </span>
                            </div>
                        </div>
                        <div style="width: 50px; float: left; display: none;">
                            <button class="k-button" data-bind="click:BrowserEmail">...</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        
                        <div style="width: 400px;">
                            <div class="k-edit-label">
                                <label for="Attach file(s)">Attach file(s)</label>
                            </div>
                            <div class="k-edit-field" data-container-for="Attach file(s)">
                                <span class="k-checkbox">
                                    <input id="AttachFile" type="file" name="file" />
                                </span>
                            </div>
                            <input type="hidden" id="AttachFile-uploadFile" data-bind="value: AttachFile" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="margin-left: 120px; width: 665px;">
                            <select id="attachment-emailtemplete" style="border: none;"></select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="title-line"><span class="header-text">Schedule Email Info</span></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="width: 400px;">@Html.WorkcompDatetimePicker("DateToSendEmail", "Date to send", "DateToSendEmail", "MM/dd/yyyy HH:mm", false)</div>

                    </td>

                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <div style="width: 400px; text-align: right">
                            <button class="k-button" data-bind="click:SendEmail">Send</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table width="100%" cellpadding="0" borderspacing="0">
                <tr>
                    <td colspan="2">
                        <div class="title-line"><span class="header-text">Setup Fax Info</span></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="width: 400px;">
                            @Html.InputMasked("FaxNumber", "Fax Number", "FaxNumber", "(999) 000-0000", true)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="title-line"><span class="header-text">Schedule Fax Info</span></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="width: 400px;">@Html.WorkcompDatetimePicker("DateToSendFax", "Date to send", "DateToSendFax", "MM/dd/yyyy HH:mm", false)</div>

                    </td>

                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <div style="width: 400px; text-align: right">
                            <button class="k-button" data-bind="click:SendFax">Send</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            @*<div style="float: right; margin-bottom: 10px;">
                <button class="k-button" data-bind="click:Print">Print</button>
            </div>*@
            <div style="width: 100%; float: left;" id="content-print">
                @Html.Raw(Model.EmailContent)
            </div>
            @*<div style="float: right; margin: 10px 0;">
                <button class="k-button" data-bind="click:Print">Print</button>
            </div>*@
        </div>
    </div>
</form>
<!-- /ko -->
@section FooterActions
{
    @Model.AddFooterAction("Save", "k-update", "Postbox.FOOTER_ACTION_SAVE")
    @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
<script type="text/javascript">
    var dataAttacment = [];
</script>

@if (Model.AttachmentSendMails != null && Model.AttachmentSendMails.Length > 0)
{ 
    foreach (var item in Model.AttachmentSendMails)
    {
        <script type="text/javascript">
            dataAttacment.push({ Id: @item.Id, FileName: '@item.FileName', RowGuid: '@item.RowGuid', IsDelete: @item.IsDelete.ToString().ToLower() })
        </script>
    }
}
<script>


    function ShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.ReferralId = ko.observable(@Model.ReferralId);
        self.EmailTemplateId = ko.observable(@Json.Encode(Model.EmailTemplateId));
        self.EmailFrom = ko.observable(@Html.Raw(Json.Encode(Model.EmailFrom)));
        self.DisplayName = ko.observable(@Html.Raw(Json.Encode(Model.DisplayName)));
        self.EmailSubject = ko.observable(@Html.Raw(Json.Encode(Model.EmailSubject)));
        self.EmailContent = ko.observable(@Html.Raw(Json.Encode(@Model.EmailContent)));
        self.EmailAddressSetup = ko.observable(@Html.Raw(Json.Encode(Model.EmailAddressSetup)));
        self.AttachFile = ko.observable();
        self.DateToSendEmail = ko.observable('@Model.DateToSendEmail');
        self.FaxNumber = ko.observable(@Html.Raw(Json.Encode(Model.FaxNumber)));
        self.DateToSendFax = ko.observable('@Model.DateToSendFax');
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });
        self.Print = function () {
            Print();
        };
        self.SendEmail = function () {
            SendEmail();
        };
        self.SendFax = function () {
            SendFax();
        };
        self.BrowserEmail = function () {
            BrowserEmail();
        };

        self.ClickWindowSearch = function () {
            ShowPopupKendoNoIframe('Select Email', 1050, 450, true, ['Close'], false, '/Referral/ShowPopupSelectEmail?referralId=' + self.ReferralId(), self.SetEmailObjectToCc());
        };

        self.SetEmailObjectToCc = function () {
            if (self.EmailAddressSetup() == null) {
                return null;
            }
            var dataTo = self.EmailAddressSetup().split(';');
           
            var dataResult = [];
            for (var i = 0; i < dataTo.length; i++) {
                if (!_.isEmpty(dataTo[i])) {
                    dataResult.push({ Email: dataTo[i] });
                }
            }
            if (dataResult.length == 0) {
                return null;
            }
            return dataResult;
        };

        Postbox.messages.subscribe(function (val) {
            var data = '';
            var dataEmailStr = '';
            for (var i = 0; i < val.length; i++) {
                var item = val[i];
                data += item.Email + ';';
                dataEmailStr += "<li><span class='email' title='" + item.Email + "' data-role='tooltip'>" + item.Email + "</span><a href='javascript:void(0);' onclick='DeleteEmail(this,\"" + item.Email + "\")' ><span class='k-icon k-delete'></span></a></li>";
            }
            $('#listEmailTo').html(dataEmailStr);
            $(".email").kendoTooltip({
                position: "top"
            });
            self.EmailAddressSetup(data + self.EmailAddressSetup());

           
        }, self, Postbox.SELECT_EMAIL_DATA_ON_DUAL_GRID);

        self.IndexTab = ko.observable('infomation');

        Postbox.messages.subscribe(function () {
            var model = null;
           
            switch (self.IndexTab()) {
            case 'infomation':
            case 'sendemail':
            case 'sendfax':
                var listFile = $('#attachment-emailtemplete').data('kendoMultiSelect').dataItems();
                var fileNames = [];
                var fileNamesRemove = [];
                
                for (var i = 0; i < dataAttacment.length; i++) {
                    fileNames.push({Id: dataAttacment[i].Id, FileName: dataAttacment[i].FileName, RowGuid: dataAttacment[i].RowGuid, IsDelete: dataAttacment[i].IsDelete });
                    fileNamesRemove.push({FileName: dataAttacment[i].FileName, RowGuid: dataAttacment[i].RowGuid});
                }

                for (i = 0; i < listFile.length; i++) {
                    var itemTemp = _.findWhere(fileNamesRemove, { FileName: listFile[i].FileName, RowGuid: listFile[i].RowGuid });
                    if (_.isUndefined(itemTemp) || itemTemp == null) {
                        fileNames.push({ Id: 0, FileName: listFile[i].FileName, RowGuid: listFile[i].RowGuid, IsDelete: listFile[i].IsDelete });
                    }
                }


                model = {
                    ReferralId: self.ReferralId(),
                    EmailTemplateId: self.EmailTemplateId(),
                    EmailContent: self.EmailContent(),
                    EmailSubject: self.EmailSubject(),
                    EmailAddressSetup: self.EmailAddressSetup(),
                    DateToSendMail: self.DateToSendEmail(),
                    FileNames: fileNames,
                    FaxNumber: self.FaxNumber(),
                    DateToSendFax: self.DateToSendFax(),
                };
                break;
            case 'print':
                Print();
                return;
            }

            var saveData =
            {
                SharedParameter: Base64.encode(ko.toJSON(model))
            };
            


            $('form').Save("/Referral/SaveReferralEmailTemplate", saveData,
                function (result) {
                    self.ModelState(new FeedbackViewModel('Success', '@Model.UpdateSuccessText', "", []));
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, true, 'EmailTemplate', '');
        }, self, Postbox.FOOTER_ACTION_SAVE);
        Postbox.messages.subscribe(function () {
            $('form').Close(0);
        }, self, Postbox.FOOTER_ACTION_CLOSE);

    }


    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    var emailTemplateDetailViewModel = new ShareViewModel();
    ko.applyBindings(emailTemplateDetailViewModel, $("#emailtemplate-detail")[0]);

    $(document).ready(function () {
        var editor = $("#EmailContent").data("kendoEditor");
        editor.bind("change", function () {
            emailTemplateDetailViewModel.EmailContent(this.value());
            EnableCreateFooterButton(true);
        });

    });


    function EmailContentToSendViewModel() {
        var self = this;
        self.EmailFrom = emailTemplateDetailViewModel.EmailFrom();
        self.EmailTo = emailTemplateDetailViewModel.EmailAddressSetup();
        self.DisplayName = emailTemplateDetailViewModel.DisplayName();
        self.Content = emailTemplateDetailViewModel.EmailContent();
        self.Subject = emailTemplateDetailViewModel.EmailSubject();
        self.IdReferral = emailTemplateDetailViewModel.Id();
        self.AttachFile = emailTemplateDetailViewModel.AttachFile();
    }
    function SendEmail() {
        CreateLoading();
        var objEmailModel = new EmailContentToSendViewModel();
        if (objEmailModel.EmailTo == '') {
            alert("Email address is required. Please try again.");
            DeleteLoading();
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: "/referral/SendEmailForReferral",
            dataType: "json",
            data: JSON.stringify({
                emailContentToSend: objEmailModel
            }),
            async: false,
            success: function (data) {
                if (data == "1") {
                    alert("@Model.SendEmailSuccessText");
                    setTimeout(function () { window.close(); }, 2000);
                } else {
                    alert("@Model.SendEmailFailedText");
                }
            },
            error: function (request, status, error) {
                alert("@Model.SendEmailFailedText");
                DeleteLoading();
            }
        }).done(function () {
            DeleteLoading();
        });;
    }
    function FaxContentToSendModel() {
        var self = this;
        self.SenderName = emailTemplateDetailViewModel.DisplayName();
        self.FaxNumber = emailTemplateDetailViewModel.FaxNumber();
        self.Content = emailTemplateDetailViewModel.EmailContent();
        self.Subject = emailTemplateDetailViewModel.EmailSubject();
    }
    function SendFax() {
        CreateLoading();

        var objFaxModel = new FaxContentToSendModel();
        if (objFaxModel.FaxNumber == '') {
            alert("@Model.RequiredFileStringFormat("Fax")");
            DeleteLoading();
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: "/referral/SendFaxForReferral",
            dataType: "json",
            data: JSON.stringify({
                faxContentToSend: objFaxModel
            }),
            async: false,
            success: function (data) {
                if (data == "1") {
                    alert("@Model.GetMessage("SendFaxSuccess")");
                    setTimeout(function () { window.close(); }, 2000);
                } else {
                    alert("@Model.GetMessage("SendFaxFailed") - Error(" + data + ")");
                }
            },
            error: function (request, status, error) {
                alert("@Model.GetMessage("SendFaxFailed")");
                DeleteLoading();
            }
        }).done(function () {
            DeleteLoading();
        });
    }
    function Print() {
        var options = { mode: 'iframe', popClose: false, extraCss: 'true', retainAttr: 'class,id,style,on', extraHead: '', popTitle: 'SysRx' };
        var print = "#content-print";
        $(print).printArea(options);
    }
    function BrowserEmail() {
        ShowPopup(800, 600, "Email", "/referral/browseremail", "BrowserEmail");
    }
    function DeleteEmail(t, e) {
        if (emailTemplateDetailViewModel.EmailAddressSetup().indexOf("," + e) >= 0) {
            emailTemplateDetailViewModel.EmailAddressSetup(emailTemplateDetailViewModel.EmailAddressSetup().replace("," + e, ""));
        } else {
            if (emailTemplateDetailViewModel.EmailAddressSetup().indexOf(e + ",") >= 0) {
                emailTemplateDetailViewModel.EmailAddressSetup(emailTemplateDetailViewModel.EmailAddressSetup().replace(e + ",", ""));

            } else {
                if (emailTemplateDetailViewModel.EmailAddressSetup().indexOf(e) >= 0) {
                    emailTemplateDetailViewModel.EmailAddressSetup(emailTemplateDetailViewModel.EmailAddressSetup().replace(e, ""));

                }
            }
        }
        $(t).parent().remove();
    }
    $(window).load(function () {
        $(".k-tabstrip > .k-content").css({ "max-height": $(window).height() - 151 });
        $(".email").kendoTooltip({
            position: "top"
        });
        $("#NewEmailAddress").blur(function () {
            var e = $(this).val();
            if (e != '') {
                if (ValidateEmail(e)) {
                    if (emailTemplateDetailViewModel.EmailAddressSetup()!=null && emailTemplateDetailViewModel.EmailAddressSetup() != '') {
                        if (emailTemplateDetailViewModel.EmailAddressSetup().indexOf(e) < 0) {
                            $("#NewEmailAddress").parent().before("<li><span class='email' title='" + e + "' data-role='tooltip'>" + e + "</span><a href='#' onclick=\"DeleteEmail(this,'" + e + "')\" ><span class='k-icon k-delete'></span></a></li>");

                            emailTemplateDetailViewModel.EmailAddressSetup(emailTemplateDetailViewModel.EmailAddressSetup() + "," + e);
                        }

                    }
                    else {
                        $("#NewEmailAddress").parent().before("<li><span class='email' title='" + e + "' data-role='tooltip'>" + e + "</span><a href='#' onclick=\"DeleteEmail(this,'" + e + "')\" ><span class='k-icon k-delete'></span></a></li>");

                        emailTemplateDetailViewModel.EmailAddressSetup(e);
                    }
                    $(".email").kendoTooltip({
                        position: "top"
                    });
                    $(this).val("");
                }
                else {
                    alert(e + " is not a valid email");
                }
            }
        });
    });
    $(document).ready(function() {
        $("#emailtemplate-detail").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: function (e) {
                $('#lable-btn-save').parent('button').children('span.k-icon').show();
                var result = $(e.item).attr('index');
                emailTemplateDetailViewModel.IndexTab(result);
                if (!_.isUndefined($('#lable-btn-save').parent('button').children('span.fa')[0])) {
                    $('#lable-btn-save').parent('button').children('span.fa').hide();
                }
                switch (result) {
                case 'infomation':
                case 'sendemail':
                case 'sendfax':
                    $('#lable-btn-save').text('SAVE SCHEDULE');
                    break;
                case 'print':
                    $('#lable-btn-save').parent('button').children('span.k-icon').hide();
                    if (!_.isUndefined($('#lable-btn-save').parent('button').children('span.fa')[0])) {
                        $('#lable-btn-save').parent('button').children('span.fa').show();
                    } else {
                        $('#lable-btn-save').parent('button').children('span.k-icon').after('<span class="fa fa-print"></span>');
                    }
                    $('#lable-btn-save').text('PRINT');
                    break;
                }
                
            }
        });
        $('#lable-btn-save').text('SAVE INFORMATION');
        $('#lable-btn-save').parent('button').removeAttr('disabled');
        $('#lable-btn-save').parent('button').removeClass('k-state-disabled');

        

        var kendoMultiSelectAttachment = $('#attachment-emailtemplete').kendoMultiSelect({
            dataTextField: "FileName",
            dataValueField: "Id",
            autoBind: false,
            dataSource: dataAttacment,
            value: dataAttacment,
            //enable: false,
            open: function (e) {
                $(e.sender.input).remove();
                $(e.sender.list).remove();
            },
            change: function(e) {

                var objDelete;
                for (var i = 0; i < e.sender.dataSource.data().length; i++) {
                    var itemTemp = _.findWhere(e.sender.dataItems(), { Id: e.sender.dataSource.data()[i].Id });
                    
                    if (_.isUndefined(itemTemp) || itemTemp == null) {
                        objDelete = e.sender.dataSource.data()[i];
                        break;
                    }
                }
                
                if (objDelete != null) {
                    for (var j = 0; j < dataAttacment.length; j++) {
                        if (dataAttacment[j].Id == objDelete.Id) {
                            break;
                        }
                    }

                    //Remove File in Server
                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/Referral/RemoveAttachmentSendEmail",
                        dataType: "json",
                        data: JSON.stringify({
                            fileName: objDelete.FileName,
                            rowGuid: objDelete.RowGuid
                        }),
                        async: false,
                    });
                    dataAttacment[j].IsDelete = true;
                }
                console.log(dataAttacment);
            }
        }).data('kendoMultiSelect');


        $('#attachment-emailtemplete').parent().css('border', 'none');
        $(kendoMultiSelectAttachment.input).remove();

        $("#AttachFile").kendoUpload({
            multiple: false,
            async: {
                saveUrl: "/Referral/UploadAttachmentSendEmail",
                //removeUrl: "/FileAttachment/RemoveAttachment",
                autoUpload: true,
            },
            select: function(e) {
                $(e.sender.wrapper).children('ul.k-upload-files').children('li:first').remove();
            },
            success: function (e) {
                var dataSource;
                var fileName = e.response.FileName;
                var rowGuid = e.response.RowGuid;
                if (kendoMultiSelectAttachment.dataSource.data().length == 0) {
                    dataSource = new kendo.data.DataSource({
                        data: [
                            { Id: 1, FileName: fileName, RowGuid: rowGuid, IsDelete: false }
                        ],
                        schema: {
                            model: { Id: "Id" }
                        }
                    });
                    kendoMultiSelectAttachment.setDataSource(dataSource);
                    kendoMultiSelectAttachment.value(["1"]);
                } else {
                    var data = [], value = [];
                    var index = kendoMultiSelectAttachment.dataItems().length;
                    for (var i = 0; i < kendoMultiSelectAttachment.dataItems().length; i++) {
                        index = i + 1;
                        data.push({ Id: index, FileName: kendoMultiSelectAttachment.dataItems()[i].FileName, RowGuid: kendoMultiSelectAttachment.dataItems()[i].RowGuid, IsDelete: false});
                        value.push(index + "");
                    }
                    index ++;
                    data.push({ Id: index, FileName: fileName, RowGuid: rowGuid, IsDelete: false });
                    value.push(index + "");
                    dataSource = new kendo.data.DataSource({
                        data: data,
                        schema: {
                            model: { Id: "Id" }
                        }
                    });
                    kendoMultiSelectAttachment.setDataSource(dataSource);
                    kendoMultiSelectAttachment.refresh();
                    kendoMultiSelectAttachment.value(value);
                }
            }
        });



    });
</script>
