﻿@model WorkComp.Models.Referral.DashboardReferralIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ko stopBinding: true -->
<div id="grid-container-referral" style="width: 100%">
    <div class="title">
        <div class="my-title">
            <div class="icon admin"></div>
            <div class="name">@Model.PageTitle</div>
        </div>

        <!-- ko stopBinding: true -->
        <div id="panel-content-date-search" class="ul-btn-tool">
            <div class="k-floatwrap k-header k-scheduler-toolbar" style="padding: 0; line-height: 24px; border: none">
                <ul class="k-reset k-header k-toolbar k-scheduler-navigation">
                    <li class="k-state-default k-nav-prev"><a class="k-link" id="pre-filter" href="javascript:void(0);" data-bind="click: PreFilter, attr: { title: TitlePreFilter }" role="button"><span class="k-icon k-i-arrow-w"></span></a></li>
                    <li class="k-state-default k-nav-today"><a class="k-link" id="btn-export-excel" href="javascript:void(0);" data-bind="text: SelectedLable, click: ShowExportOption" role="button"></a>
                        <div id="poup-export-excel" data-bind="visible: ShowContent" class="k-block" style="display: block">
                        <div class="content-export">
                            <span class="title">Filter Time</span>
                            <div class="content-export-excel">
                                <label>
                                    <input type="radio" name="optionfilter" value="all" data-bind="checked: Type" />
                                    All time</label>
                                <br />
                                <label>
                                    <input type="radio" name="optionfilter" value="today" data-bind="checked: Type" />
                                    Today</label>
                                <br />
                                <label>
                                    <input type="radio" name="optionfilter" value="thisweek" data-bind="checked: Type" />
                                    This week</label>
                                <br />
                                <label>
                                    <input type="radio" name="optionfilter" value="lastweek" data-bind="checked: Type" />
                                    Last week</label>
                                <br />
                                <label>
                                    <input type="radio" name="optionfilter" value="thismonth" data-bind="checked: Type" />
                                    This month</label>
                                <br />
                                <label>
                                    <input type="radio" name="optionfilter" value="lastmonth" data-bind="checked: Type" />
                                    Last month</label>
                                
                                <span id="custom-time">
                                    <input type="radio" name="optionfilter" value="custom" data-bind="checked: Type" />
                                    <span class="custom">
                                        <input id="custom-start" />
                                        -
                                        <input id="custom-end" />
                                    </span>
                                </span>
                                
                                <a class="k-button k-button-icontext" data-bind="click: Cancel" href="javascript:void(0);">Cancel</a>
                                <a class="k-button k-button-icontext" data-bind="click: Filter" href="javascript:void(0);">Filter</a>
                            </div>
                        </div>
                    </div>
                    </li>
                    <li class="k-state-default k-nav-next"><a id="next-filter" class="k-link" href="javascript:void(0)" data-bind="click: NextFilter, attr: { title: TitleNextFilter }" role="button"><span class="k-icon k-i-arrow-e"></span></a></li>
                </ul>
            </div>
            
        </div>
        <!-- /ko -->
        <script type="text/javascript">
               
            var filterDatePanel = new FilterDatePanel('all', false, '#btn-export-excel, #poup-export-excel', '#custom-start', '#custom-end', '#custom-time', '#pre-filter', '#next-filter');
            // This allows us to have nested bindings.
            ko.bindingHandlers.stopBinding = {
                init: function () {
                    return { controlsDescendantBindings: true };
                }
            };
            ko.virtualElements.allowedBindings.stopBinding = true;
            ko.applyBindings(filterDatePanel, $("#panel-content-date-search")[0]);
            filterDatePanel.init();
           
        </script>


        <div class="ul-btn-tool">
            <ul>
                <li>
                    <button class="k-button" data-bind="click:EmailReferral,enable:EnableButtonMenu"  id="btnEmailReferral"><span class="k-icon k-i-email"></span>Email</button></li>
                <li>
                    <button class="k-button" data-bind="click:PrintReferral,enable:EnableButtonMenu" id="btnPrintReferral"><span class="k-icon k-i-print"></span>Print</button></li>
            </ul>
        </div>
        <div id="referral-send-email" style="display: none;">
            
        </div>

        <div class="ul-btn-tool">
            <ul>
                <li>
                    <button class="k-button" data-bind="click:AssignToReferral,enable:EnableButtonMenu" id="btnAssignTo"><span class="k-icon k-i-arrowhead-w"></span>Assign to</button></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div id="grid-referral" style="width: 100%"></div>
    </div>
</div>
<!-- /ko -->
<script type="text/x-kendo-template" id="templateStatus">
    <a href='javascript:void(0);'><span class='tooltip-status 
    #if(Status== 'Open') {#
        fa fa-square color-status-open
    #} else if(Status == 'Canceled') {#
        fa fa-square color-status-cancel
    #}else if(Status == 'Completed') {# 
        fa fa-check-square color-status-complate
    #}else if(Status == 'Pending') {#
        fa fa-square color-status-pending
    #}else if(Status == 'Reopen') {#
        fa fa-square color-status-open
    #}#
    ' title='#=Status#'></span></a>
</script>

<script type="text/x-kendo-template" id="templateNote">
    <a href='javascript:handleNode(${Id});'><span class='tooltip-node fa fa-file-text-o color-node-none' title='Total notes: #=TotalNote#'></span></a>
</script>

<script type="text/x-kendo-template" id="templateTask">
    <a href='javascript:handleTask(${Id});'>
        <span class='tooltip-task fa fa-building-o color-task' title='Total tasks: #=TotalTask# <br/> Completed tasks: #=TotalTaskCompleted# <br/>Process tasks: #=(TotalTask - TotalTaskCompleted)#'></span>
    </a>
</script>

<script type="text/x-kendo-template" id="templateDuration">
    #if(CategoryDuration) {#
    <div class="duration green" style="width: 100%">
             <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, "MM/dd/yyyy hh:mm tt")#">                
            </div><!--end start-->
             <!--timeline-->
            <div class="timeline" style="width: 69%">
                 <!--timeactive-->
                <div class="timeactive" style="width: #=DurationPercentLeft#%">
                    <span>#=DurationFormat#</span>
                </div><!--end timeactive-->
            </div><!--end timeline-->
             <!--end-->
    <div class="due" title="Follow Up Date: #=kendo.toString(DueDate, "MM/dd/yyyy hh:mm tt")#">
            </div><!--end end-->
        </div><!--end duration-->   
    #} else {# 
        <div class="duration red" style="width: 100%">
                <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, "MM/dd/yyyy hh:mm tt")#">                
            </div><!--end start-->
                <!--timeline-->
            <div class="timeline over" style="width: #=DurationPercentLeft#%">                    
                <div class="due" default-percent="#=DurationPercentLeft#" style="margin-left: #=DurationPercentLeft#px" title="Follow Up Date: #=kendo.toString(DueDate, " MM/dd/yyyy hh:mm tt")#"></div><!--end end-->  
                <span>#=DurationFormat#</span>                 
            </div><!--end timeline-->
                <!--end-->
                
        </div><!--end duration-->
    #}#
</script>

<script type="text/x-kendo-template" id="templateDurationTask">
    #if(CategoryDuration) {#
        <div class="duration task green" style="width: 100%">
            <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, "MM/dd/yyyy hh:mm tt")#">               
            </div><!--end start-->
            <!--timeline-->
            <div class="timeline" style="width: 84%">
                    <!--timeactive-->
                <div style="width: #=DurationPercentLeft#%" class="timeactive">
                    <div class="time"><span>#=DurationFormat#</span></div>
                </div><!--end timeactive-->
            </div><!--end timeline-->
            <!--end-->
    <div class="due" title="Follow Up Date: #=kendo.toString(DueDate, "MM/dd/yyyy hh:mm tt")#">
            </div>
        </div>
     #} else {# 
        <div class="duration task red" style="width: 100%">
            <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, "MM/dd/yyyy hh:mm tt")#">               
            </div><!--end start-->
            <!--timeline-->
            <div class="timeline over" style="width: 84%">            
                <div class="due" title="Follow Up Date: #=kendo.toString(DueDate, "MM/dd/yyyy hh:mm tt")#"></div>
                <div class="time"><span>#=DurationFormat#</span></div>
            </div><!--end timeline-->
            <!--end-->
        </div>
     #}#
</script>

<script id="templatetooltip" type="text/x-kendo-template">    
    <span class="colortootiptemplate">#=target.data('title')#</span>    
</script>

<script type="text/x-kendo-template" id="templateDetail">
    <div class="tabstrip">
        <ul>
            <li class="tabnote k-state-active">
                Note
            </li>
            <li class="tabtask">
                Task
            </li>
        </ul>        
        <div>
            <div class="headertabstrip">
                <a href="javascript:handleNewNote(${Id});" class="k-button k-button-icontext"><span class="fa fa-plus "></span> Add new</a>
            </div>
            <div class="gridnote"></div>
        </div>
        <div>
            <div class="headertabstrip">
                <a href="javascript:handleNewTask(${Id});" class="k-button k-button-icontext"><span class="fa fa-plus "></span> Add new</a>
            </div>
            <div class="gridtask"></div>
        </div>
    </div>

</script>

<script type="text/x-kendo-template" id="templateDetailNote">   
    <b>#=CreatedBy# </b><i> said: </i><span>#=Comment#</span>
</script>


<script type="text/javascript">

    var data = {};
    var schemaFields = {
        Id: { editable: false , type: "number"},
        IsChecked: { editable: false },
        StatusId: { editable: false },
        Note: { editable: false },
        TotalNote: { editable: false },
        Task: { editable: false },
        TotalTask: { editable: false },
        TotalTaskCompleted: { editable: false },
        ControlNumber: { editable: false},
        ProductType: { editable: false },
        Duration: { editable: false},
        DurationFormat: { editable: false},
        TreatingPhysicianName: { editable: false },
        TreatingPhysicianPhone: { editable: false },
        AssignTo: { editable: false },
        Status: { editable: false },
        Payer: { editable: false },
        Jurisdiction: { editable: false },
        Rush: { editable: false,  type: "boolean"},
        StartDate: { editable: false , type: "date"},
        DueDate: { editable: false, type: "date", isTime: true},
        Claimant: { editable: false },
        ClaimNumber: { editable: false },
        PatientState: { editable: false },
        Doi: { editable: false, type: "date"},
        CreatedBy: { editable: false},
        CreatedDate: { editable: false, type: "date", isTime: true},
        DurationPercentLeft: { editable: false },
        DurationPercentRight: { editable: false },
        CategoryDuration: { editable: false, type: "boolean" },
    };

    var columns = [
        { field: "IsChecked", title: "&nbsp;", attributes: { style: 'text-align:left;' }, width: "30px", sortable: false, filterable: false, menu: false, template: "<input type='checkbox' class='check_row checkbox' onClick='checkRowInGrid(this,${Id});'/>", headerTemplate: "<input type='checkbox' class='check_all_row checkbox' onClick='checkAllRowInGrid(this);'/>" },
        { field: "StatusId", title: "&nbsp;", attributes: { style: 'text-align:center;' }, width: "30px", sortable: false, filterable: false, menu: false, template: kendo.template($("#templateStatus").html()) },
        { field: "Note", title: "&nbsp;", width: "40px", attributes: { style: 'text-align:center;' }, sortable: false, filterable: false, menu: false, template: kendo.template($("#templateNote").html()) },
        { field: "Task", title: "&nbsp;", width: "40px", attributes: { style: 'text-align:center;' }, sortable: false, filterable: false, menu: false, template: kendo.template($("#templateTask").html()) },
        { field: "Id", title: "ID", width: "75px", attributes: { style: 'text-align:center;' }, sortable: true, hidden: false, filterable: {ui: "kendonumerictextbox"} },
        { field: "ControlNumber", title: "Control No", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "ProductType", title: "Product Type", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Duration", title: "Duration", width: "300px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, template: kendo.template($("#templateDuration").html()) },
        { field: "TreatingPhysicianName", title: "Treating Physician Name", width: "150px", attributes: { style: 'text-align:Left;' }, sortable: true, hidden: false },
        { field: "TreatingPhysicianPhone", title: "Treating Physician Phone", width: "150px", attributes: { style: 'text-align:Left;' }, sortable: true, hidden: false },
        { field: "AssignTo", title: "AssignTo", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Status", title: "Status", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false,  hidden: false },
        { field: "Payer", title: "Payer", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Jurisdiction", title: "Jurisdiction", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Rush", title: "Rush", width: "150px", attributes: { style: 'text-align:center;' }, sortable: false, filterable: false, hidden: false, template: "<input type='checkbox'  #if(Rush) {#checked = 'checked'#}# disabled='disabled'/>"},
        { field: "DueDate", title: "Follow Up Date", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"}},
        { field: "Claimant", title: "Claimant", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "ClaimNumber", title: "Claim Number", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "PatientState", title: "Patient State", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Doi", title: "DOI", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false , format:"{0:MM/dd/yyyy}"},
        { field: "CreatedBy", title: "Created By", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "CreatedDate", title: "Created Date", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"}}
    ];

    var schemaFieldsTask = {
        StatusId: { editable: false, type: "boolean" },
        Status: { editable: false },
        Title: { editable: false },
        StartDate: { editable: false, type: "date" },
        DueDate: { editable: false, type: "date" },
        Duration: {editable: false},
        DurationFormat: {editable: false},
        DurationPercentLeft: { editable: false },
        DurationPercentRight: { editable: false },
        CategoryDuration: { editable: false, type: "boolean" },
        AssignTo: { editable: false },
        CreatedBy: { editable: false},
        CreatedDate: { editable: false, type: "date"},
    };

    var schemaFieldsNote = {
        CreatedBy: { editable: false},
        Comment: { editable: false},
        NoteType: { editable: false },
        AssignTo: { editable: false },
        CreatedDate: { editable: false, type: "date"},
    };


    var columnsTask = [
        { field: "StatusId", title: "&nbsp;", attributes: { style: 'text-align:center;' }, width: "30px", sortable: false, filterable: false, menu: false, template: kendo.template($("#templateStatus").html()) },
        { field: "Title", title: "Title", width: "100px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Duration", title: "Duration", width: "220px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, template: kendo.template($("#templateDurationTask").html()) },
        { field: "DueDate", title: "Follow Up Date", width: "75px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"}},
        { field: "AssignTo", title: "AssignTo", width: "75px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "CreatedBy", title: "Created By", width: "75px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "CreatedDate", title: "Created Date", width: "75px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"} }
    ];

    var columnsNote = [
        { field: "Note", title: "Note", width: "300px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, template: kendo.template($("#templateDetailNote").html()) },
        { field: "NoteType", title: "Note Type", width: "50px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "AssignTo", title: "Assign To", width: "75px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "CreatedDate", title: "Created Date", width: "70px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"} }
    ];
   
    var gridViewModelReferral = new GridViewModelReferral('grid-referral', 'Referral' ,schemaFields, columns,schemaFieldsTask, columnsTask,schemaFieldsNote, columnsNote, @Model.GridViewModel.CurrentUser.User.Id,
        @Model.GridViewModel.DocumentTypeId,
        '@Model.GridViewModel.GridInternalName', '@Model.GridViewModel.TypeWithUser.ToString()', 800, 600, true,true);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    ko.applyBindings(gridViewModelReferral, $("#grid-container-referral")[0]);

    
    
    function checkRowInGrid(cb,id) {
        gridViewModelReferral.CheckRowInGrid(cb, id);
    };


    function checkAllRowInGrid(cb) {
        gridViewModelReferral.CheckAllRowInGrid(cb);
    }

    var flagValueTaskNote = null;
    function handleNode(id) {
        if (flagValueTaskNote != 'note-' + id) {
            gridViewModelReferral.handleClickTaskAndNode('note-' + id);
            flagValueTaskNote = 'note-' + id;
        } else {
            gridViewModelReferral.handleClickTaskAndNode('collapse-' + id);
            flagValueTaskNote = null;
        }
    }

    function handleTask(id) {
        if (flagValueTaskNote != 'task-' + id) {
            gridViewModelReferral.handleClickTaskAndNode('task-' + id);
            flagValueTaskNote = 'task-' + id;
        } else {
            gridViewModelReferral.handleClickTaskAndNode('collapse-' + id);
            flagValueTaskNote = null;
        }
    }

    function handleNewTask(id) {
        gridViewModelReferral.handleClickAddNew('task-' + id);
    }

    function handleNewNote(id) {
        gridViewModelReferral.handleClickAddNew('note-' + id);
    }

    //Fix Close Filter Date
    $(document).ready(function() {
        $('#grid-container-referral .content, #grid-container-referral .title, div.wrapper .header').click(function (e) {
            filterDatePanel.ShowContent(false);
        });
        // apply for filter session
        var type = '@Model.FilterType.FilterType.ToString().ToLower()';         
        if (type == 'custom') {
            var startDate = '@Model.FilterType.DueDateFrom.GetValueOrDefault().ToString("MM/dd/yyyy")';
            var endDate = '@Model.FilterType.DueDateTo.GetValueOrDefault().ToString("MM/dd/yyyy")';
            filterDatePanel.CustomStartDate(startDate);
            filterDatePanel.CustomEndDate(endDate);
        }
        filterDatePanel.Type(type);
        filterDatePanel.CurrentType(type);
        filterDatePanel.SetCurrentSelectedLableWithType(type);
        var filterData=filterDatePanel.SetDataForFilter();
        filterDatePanel.HandleToolTip();
        gridViewModelReferral.SetFilterPanelDataValue(filterData);
         gridViewModelReferral.init();
        //filterDatePanel.Filter();
         
    });
</script>
