﻿@using WorkComp.Models
@model WorkComp.Models.Branch.DashboardBranchDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="branch-form">
    <div id="branch-update" style="width:100%;float: left;">
        @Html.Partial("~/Views/Branch/_Shared.cshtml", Model.SharedViewModel)        
    </div>
</form>

@section FooterActions
{
    @if (Model.SharedViewModel.ShowPopupType == ShowPopupType.ComboBox)
    {
        @Model.AddFooterAction("Update", "k-update", "Postbox.FOOTER_ACTION_SAVE")
        @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
    }
    else
    {
        @Model.AddFooterAction("Update", "k-update", "Postbox.FOOTER_ACTION_SAVE")
        @Model.AddFooterAction("Delete", "k-delete", "Postbox.FOOTER_ACTION_DELETE")
        @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
    }

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

<script type="text/javascript">

    function BranchViewModel() {
        var self = this;
     
        // All validation messages to the postbox for the _ValidationSummary to display.
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        Postbox.messages.subscribe(function () {
            var saveData =
                 {
                     SharedParameter: ko.toJSON(GetSharedViewModel())
                 };

            $('form').Save("/Branch/Update", saveData,
                function (result) {
                    self.ModelState(new FeedbackViewModel('Success', '@Model.UpdateSuccessText', "", []));
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, false, 'Branch', '@Model.SharedViewModel.ShowPopupType');
        }, self, Postbox.FOOTER_ACTION_SAVE);
        
        Postbox.messages.subscribe(function () {
            $('form').Close(1);
        }, self, Postbox.FOOTER_ACTION_CLOSE);
        
        Postbox.messages.subscribe(function () {
            var delModel = { models: '[{ "Id": ' + GetSharedViewModel().Id() + ' }]' };
            $('form').Delete("/Branch/Delete", delModel, '@Model.ConfirmationRequiredText', '@Model.ConfirmDeleteText', '@Model.NoText', '@Model.YesText',
                     function (result) {
                         self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                     });
        }, self, Postbox.FOOTER_ACTION_DELETE);
    }
  
    ko.applyBindings(new BranchViewModel(), $("#branch-update")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
   
</script>
