﻿@model WorkComp.Models.Input.InputNumericViewModel
<div class="k-edit-label">
    <label for="@Model.Label">@if (Model.RequiredAttribute == "required=\"required\"")
                              {
                                  <span class='red'>*</span>
                              }@Model.Label</label>
</div>
<div class="k-edit-field" data-container-for="@Model.Label">
    <input id='@Model.ID' type='number' style="text-align:right" @Model.RequiredAttribute
                maxlength='@Model.Length' 
               data-bind="kendoNumericTextBox: {value: @Model.DataBindingValue, 
                                                format: '@Model.Format    ',
                                                step: '@Model.StepValue    ',
                                                max: '@Model.MaximumValue    ', 
                                                min: '@Model.MinimumValue    ', 
                                                placeholder: '@Model.PlaceHolderText    ', 
                                                decimals:'@Model.Decimals    ',
                                                spinners: true}" />
</div>
