﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.ReferralNote.DashboardReferralNoteShareViewModel
 <!-- ko stopBinding: true -->
<div id="note-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.ReferralIdLookup("ReferralId", "Referral", new { data_bind = "value: ReferralId" }, "", 0, @Model.ReferralDataSource, true)
            </td>
            <td>
                @Html.WorkcompDropdownList("NoteType", "Type", "NoteType", "/Common/NoteTypeLookup", new { data_bind = "value: NoteType" }, @Model.NoteType)
            </td>
        </tr>
        <tr>
            <td>
                @Html.AssignToLookup("AssignTo", "Assign To", new { data_bind = "value: AssignToId" }, "", 0, @Model.AssignToDataSource, true)
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                @Html.WorkcompTextArea("Comment","Comment","Comment", true)
            </td>
        </tr>
        
    </table>
</div>
<!-- /ko -->
<script>
    function NoteShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.ReferralId = ko.observable(@Model.ReferralId);
        self.NoteType = ko.observable(@Model.NoteType);
        self.Comment = ko.observable(@Html.Raw(Json.Encode(@Model.Comment)));
        self.AssignToId = ko.observable(@Model.AssignToId);
        self.CreateMode = ko.observable(@Model.CreateMode.ToString().ToLower());
        
        
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new NoteShareViewModel();
    ko.applyBindings(sharedViewModel, $("#note-edit-share")[0]);
    function GetSharedViewModel() {
        return sharedViewModel;
    }

    $(document).ready(function()
    {
        var opts = window.dialogArguments;
        if (!_.isUndefined(opts) && opts != null) {
            sharedViewModel.ReferralId(opts.Id);
            var kendoCombo = $("#ReferralId").data("kendoComboBox");
            kendoCombo.value(opts.Value);
        }
    });
   
</script>
