﻿@model WorkComp.Models.Authentication.DashboardAuthenticationSignInViewModel

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<script src="@Url.Content("~/Scripts/my-js/BigInt.js")"></script>
<script src="@Url.Content("~/Scripts/my-js/RSA.js")"></script>
<script src="@Url.Content("~/Scripts/my-js/form.login.js")"></script>

<div class="login">
    <div class="header">
        <img src="@Url.Content("~/Content/images/sterling.png")" alt="Sterling" title="Sterling" />
    </div>
    <div class="content">
        <div class="avatar">
            <img src="@Url.Content("~/Content/images/avatar_2x.png")" alt="Avatar" title="Avatar" />
        </div>
        <div class="form" id="signin-container">
            <input type="text" class="textbox" placeholder="Username" id="UserName" data-bind="value:UserName" required="required" />
            <input type="password" class="textbox"  placeholder="Password" id="Password" data-bind="value:Password" required="required" />
            <div class="label">
                <label>
                    <input type="checkbox" name="chk-remember" id="chk-remember" data-bind="checked:RememberMe" class="checkbox" />Remember me?
                </label>
            </div>
            <button type="button" id="btnLogon" data-bind="click:SingIn" class="button">Login</button>
            <br />
            @Html.ActionLink("Forget password?", "RestorePassword")
        </div>
    </div>
    <div class="footer">
        <span id="link-browser-happy"></span>
        
    </div>
</div>
<script type="text/javascript">
    function SignInViewModel() {
        var self = this;
        self.UserName = ko.observable(@Html.Raw(Json.Encode(@Model.UserName)));
        self.Password = ko.observable(@Html.Raw(Json.Encode(@Model.Password)));
        self.RememberMe = ko.observable(@Model.RememberMe.ToString().ToLower());
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });
        console.log(self.UserName());
        var n = getCookie("CSRX");
        console.log(n);
        if (n != null && n != "" && n != "false") {
            console.log(getCookie("USRX").toString());
            self.UserName(getCookie("USRX").toString());
            self.Password(getCookie("PSRX").toString());
            self.RememberMe(true);
        }

        console.log($('#UserName').val());
        var returnUrl = '@Request.QueryString["ReturnUrl"]';
        self.SingIn = function () {
            // Check user name
            var userName = $('#UserName').val();
            var pass = $('#Password').val();
            if (userName == "" || pass == "") {
                alert("Please fill in user name or password.");
                return;
            }
            CreateLoading();
            $('#UserName').trigger('change');
            $('#Password').trigger('change');
            $('#chk-remember').trigger('change');
            var url = "/Authentication/WorkCompSignIn";
            var data =
             {
                 userName: self.UserName(),
                 password: self.Password(),
                 rememberMe: self.RememberMe(),
                 returnUrl: returnUrl
             };
            var request = $.ajax({ cache: false, async: false, url: url, type: "POST", data: data, dataType: "json" });
            request.done(function (result) {
                if (result.Error === undefined || result.Error === '') {

                    if (self.RememberMe() == true) {
                        setCookie("USRX", self.UserName(), 365);
                        setCookie("PSRX", self.Password(), 365);
                        setCookie("CSRX", "true", 365);
                    } else {
                        setCookie("USRX", "", 365);
                        setCookie("PSRX", "", 365);
                        setCookie("CSRX", "false", 365);
                    }
                    if (returnUrl == "" || returnUrl == "/") {
                        location.href = "/";
                        return;
                    }
                    location.href = $('<div/>').html(returnUrl).text();
                } else {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }
                DeleteLoading();
            });
        };
    }

    var signModel = new SignInViewModel();
    ko.applyBindings(signModel, $("#signin-container")[0]);


    $('.focus :input').focus();
    var ButtonKeys = { "EnterKey": 13 };
    $(function () {
        $(".form").keypress(function (e) {
            if (e.which == ButtonKeys.EnterKey) {
                $("#btnLogon").click();
                return false;
            }
        });
    });
</script>