﻿@model WorkComp.Models.DualListBox.DualListBoxViewModel
<link rel="stylesheet" href="@Url.Content("~/Content/sprites.css")"/>
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-duallistbox.css")"/>
<link rel="stylesheet" href="@Url.Content("~/Content/dual-select-list-box.css")"/>
<script src="~/Scripts/ViewModels/DualListBoxViewModel.js"></script>
<script src="~/Scripts/WorkComp/custom-bootstrap-duallistbox.js" type="text/javascript"></script>
<!-- ko stopBinding: true -->

<div id ="dual_list_@Model.ControlId"  style="height: 100%;" >
    <fieldset class="span25">
        <legend><label class="control-label">@Model.HeaderText</label></legend>
        <select  id="dual_list_select_@Model.ControlId" multiple="multiple" size="10" name="duallistbox_entity" data-bind="options: values, optionsText: 'Name', optionsValue: 'Id'" >
        </select>
    </fieldset>
</div>
<!-- /ko -->
<script>
    var dual_list_@(Model.ControlId) = new DualListBoxViewModel('@Model.ControlId',
                    '@Model.GetAllUrl',
                    '@Model.GetSelectedUrl',
                    '@Model.ModelName');

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
</script>

